[2015-03-02 19:30] missyschoenbaum commented on #276
The team agreed that the full randomization creates dataset that are unable to be summarized or visualized in a meaningful way.

The agreement was that if we wanted a random starting point, we would expect all iterations of a given scenario to start at the same point.  To restate, the initial starting point would be random, but all following iterations would start at the same point as the initial

[2015-03-02 21:57] josiahseaman commented on #285
Now I just need to write some csv parsing tests and I can close this issue.

[2015-03-02 22:00] josiahseaman commented on #433
A better way of handling testing is that instead of closing an issue, the original issue gets marked with "User Testing" and reassigned from a developer to Sarah.  We use this process in our other contracts and it works well.  That means that Sarah can just filter for Issues that are assigned to her and we have one continuous history for the issue.  It's also a better format for developers getting

[2015-03-02 22:00] #433 closed

[2015-03-02 22:01] josiahseaman commented on #430
Neil, when you're done with this issue please label it with "User Testing" and reassign it to @SarahJGarza.  That goes for any other issues that need to be tested by hand like those that come up with specific example files.

[2015-03-02 22:02] ndh2 commented on #430
OK!

[2015-03-02 22:08] josiahseaman commented on #276
This sounds like a natural fit to do after we do Comparisons using Projects and Variants #382.  That way, random start position can be implemented as a single tool that generates variants.  We'll eventually have many tools that generate variant scenarios.  As a technical detail specifying `34 < latitude < 37` and `26 < longitude < 30` is already compatible with the Population filters.  That gives

[2015-03-02 23:05] josiahseaman commented on #434
I need to bounce this back to you as a question before I start work.  Here's the situation:
* The file that you copied is UTF-16 (broad unicode)
* The file you pasted is UTF-8 (limited unicode) that means that if there's any characters from other languages, they just got broken and you might not notice
* That means the file header is a lie, claiming to be UTF-16 when it's actually UTF-8
* There us

[2015-03-02 23:09] missyschoenbaum commented on #434
I was really using this to try and figure out population functionality.  If you are already working on the csv import, that would resolve it.  It just didn't get what I expected to happen, and I didn't save as since my source was really big.  Thanks for the explanation.

[2015-03-02 23:41] josiahseaman commented on #429
@missyschoenbaum Just so you know, when I improved the Unit list, I removed the ability to delete Units.

![image](https://cloud.githubusercontent.com/assets/2256148/6453416/ed383134-c0fa-11e4-9a01-9daa2fb19c56.png)

[2015-03-03 21:31] tjmahlin commented on #437
@missyschoenbaum you added this to the Re-Design Output Interface milestone, but it seems like you are referring to the population on the input side? If that is correct, we can replace the existing "Current Units" header in that UI with something much more informative:

![image](https://cloud.githubusercontent.com/assets/9221073/6472715/9e3902cc-c1b1-11e4-9bd6-cd967a6e1981.png)

This also addresse

[2015-03-04 17:06] #434 closed

[2015-03-04 18:13] missyschoenbaum commented on #437
Yes @tjmahlin , this is on the input side.  I like the way proposed in the image.  That tells us what we need to know.

[2015-03-04 18:32] josiahseaman commented on #411
![image](https://cloud.githubusercontent.com/assets/2256148/6490023/678bafc2-c260-11e4-8cf9-41b29e2d2b60.png)

@tjmahlin Styling time!  Please hop on the Hotfix branch at your earliest convenience.

Look around adsm.css:515 for .placeholder

[2015-03-04 18:36] josiahseaman commented on #437
There's an easy issue if I ever saw one.  I'm on it.

[2015-03-04 18:36] #317 closed

[2015-03-04 18:48] josiahseaman commented on #437
I couldn't straighten out the bold vs non-bold in the H1 even with <strong>.  Looks like a global styling setting.

[2015-03-04 18:49] #437 closed

[2015-03-04 18:49] josiahseaman commented on #437
![image](https://cloud.githubusercontent.com/assets/2256148/6490551/91df7318-c264-11e4-80e7-85afa55505a3.png)

[2015-03-04 19:00] josiahseaman opened #439 "Increase Large File upload cap"
Importing a 183MB population file in the Legacy NAADSM import returns "file exceeds maximum number of bytes".

I've tested with 90MB files and this didn't come up, so there's possibly a tipping point in between.

https://docs.djangoproject.com/en/1.7/topics/http/file-uploads/

We are already iterating over chunks in `handle_file_upload`, so I don't know what could cause this.

[code]

[2015-03-04 20:33] #269 closed

[2015-03-04 21:47] josiahseaman commented on #429
"Closing the application should trigger a save prompt in the event that the scenario is dirty" @tjmahlin This turns out to be really hard.  Javascript is insulated inside of a browser and can't control when the browser closes.

[2015-03-04 21:56] tjmahlin commented on #429
Ah, that makes sense. How about this: if the user closes the application with a dirty scenario, the next time the application is opened she is presented with a message to the tune of, "This scenario contains unsaved changes from your last session. Would you like to save or discard these changes?" Some details follow showing what interface (and value if possible) was changed. The user can click a s

[2015-03-04 23:06] josiahseaman commented on #168
http://stackoverflow.com/questions/2934878/matplotlib-pyplot-preserve-aspect-ratio-of-the-plot

[2015-03-04 23:26] josiahseaman commented on #436
For this Issue I'm setting up a timer so we can assess the cost of these extra features.

[code]

[2015-03-04 23:40] #436 closed

[2015-03-05 15:37] ndh2 commented on #420
Where in the output should this go?  Should the line just appear in between two of the usual comma-separated numeric lines?

[2015-03-05 15:38] ndh2 commented on #420
Or another idea: what if we make this a numeric column in the regular tabular output instead of a different style of output line?  The column would contain no value except on the day when a vaccination trigger fired.

[2015-03-05 17:29] sarahjgarza commented on #411
In testing the "Bad Protocol" Scenario using the same parameters as Amy Delgado's I was able to rebuild the scenario and run the whole simulation but the map never showed up unless I scrolled in closer. Build: bdc41e3, Population: sample

[2015-03-05 19:16] tjmahlin commented on #411
@josiahseaman styling is complete and pushed

[2015-03-05 20:56] josiahseaman commented on #420
This should behave the same way that event columns like firstVaccination.  It should be -1 until a trigger occurred then it should continue to be the pk of the trigger for the rest of the run.  If there is a restart, then the value could change to the new trigger.

[2015-03-05 22:34] josiahseaman commented on #411
@tjmahlin please reference the issue number in your commit message.  Then you don't even need to post a comment and I don't need to track down the commit.

7d3010e14b5d1c3e4f62bdd145206dff4eaa8084

@sarahjgarza "Doesn't show until I zoom" is actually a slightly different issue to precompute the map thumbnail after the full image is done.  This should be fixed in Hotfix.  Since I'm nearing the end

[2015-03-05 22:45] josiahseaman commented on #128
It looks to me like the rest of what you're asking for can be handled with CSS.  All the elements are there now.

[2015-03-05 23:27] josiahseaman commented on #185
@tjmahlin I'm necroing this issue because I'd like you to take a look at it.  I keep running into odd edge cases where the C Engine will die on something that the UI accepts as valid.  In some places the C Engine is more strict than the UI and it would be a duplication of work to get all the edge cases.

It seems like it would be a good idea to do a `--dry-run` all the time, but I'd like you to pu

[2015-03-06 16:13] missyschoenbaum opened #440 "Probability Density Functions - Allowing change of units"
The team had a discussion about how allowing users to change the units on pdfs was misleading, as the model will always run in one day steps. This is something that pulled directly from NAADSM.

@ndh2   Do you remember why we gave users an option here?  And what are the consequences if we didn't give an option?

[2015-03-06 16:21] missyschoenbaum opened #441 "Use of Advanced panel for editing"
From our population discussions from Tinker day, users gave the example that ISP+ will pop open the population file and allow users to edit it directly.

I know we cannot take the exact same action, as our population file is already imported into a database.  If users wished to edit the population, could we send them directly the correct table on the advanced panel?

Same thing with adding a produ

[2015-03-06 16:25] ndh2 commented on #440
There was a discussion a long time ago of letting people use weeks or months instead of days. It could have been useful for things like immunity period, or minimum time between vaccinations. The idea was that the GUI would then convert all those values into days before feeding them to the C engine.

Did the NAADSM GUI have that choice?  I never noticed — I didn't think that idea ever got implement

[2015-03-06 16:28] missyschoenbaum commented on #5
@sarahjgarza will you add your notes and a screenshot where you loaded the small LLNL dirty file?  This is one of those places that I should have hooked the ticket to this.  I will close the other.

[2015-03-06 16:28] missyschoenbaum commented on #305
Added not to original spec

[2015-03-06 16:28] #305 closed

[2015-03-06 16:29] missyschoenbaum commented on #5
I closed  #305 and we can take up notes here

[2015-03-06 16:31] missyschoenbaum commented on #440
Humm, so the only way we know that is to look at the NAADSM code and see what actually was implemented?

[2015-03-06 16:38] missyschoenbaum commented on #440
@casesp Any clue if this change was implemented?

[2015-03-06 16:48] josiahseaman commented on #441
Before I get too far into this please note I've already made changes in Hotfix to address editing the population.  User can now:
* Add a New Production Type from the Production Type drop down on every Unit
* See and Edit "User Notes" (auto include id) for every Unit
* Editing Production Type (pencil) allows user to:
    * Change the spelling of a production type
    * View and edit the Production

[2015-03-06 16:51] missyschoenbaum commented on #441
I didn't understand the scope of what was added - Can I use the update button to get the Hotfix?  If Sarah and I test against this, what original ticket do I assign the user testing to?

[2015-03-06 16:55] ndh2 commented on #420
This new feature is ready for testing.

[2015-03-06 16:57] josiahseaman commented on #441
This morning I'm going to work on releasing and update, and yes you'll be able to use the update button.  This ticket is fine for reporting because the other work was just submitted to the Tinker Day Notes issue.  By the way, take a look at that issue.  I've done a lot and I'm almost done.

[2015-03-06 16:59] ndh2 commented on #440
Would it make a difference to our current work? If we're reading old parameters from XML, and all the "time" parameters in the XML are known to be days, then we know all the time parameters currently stored in the database are days. If people want to select months or years instead, then that would be a new feature to suggest for ADSM.

[2015-03-06 17:00] missyschoenbaum commented on #441
OK, I am going to include @sarahjgarza in this conversation, and add  a label.

[2015-03-06 17:04] missyschoenbaum commented on #440
I was just going to lock it down to days if that is all we can actually process.

[2015-03-06 17:05] missyschoenbaum commented on #304
Passed by Sarah

[2015-03-06 17:05] #304 closed

[2015-03-06 17:12] sarahjgarza commented on #5
Fail. I tested this using the small dirty LLNL file with Production Types: Swine (L); once loaded, the population file still contained the special characters, (L). Still able to run the scenario.

![fail on special character](https://cloud.githubusercontent.com/assets/11165917/6529856/3690551e-c3e9-11e4-9f96-b5bed50df34c.png)

[2015-03-06 17:49] sarahjgarza commented on #441
Alright. I'll be watching for it.

[2015-03-06 18:42] sarahjgarza commented on #411
Pass. The map created itself
![map worked](https://cloud.githubusercontent.com/assets/11165917/6531331/cf00e80c-c3f5-11e4-8fc9-4ce0f5647633.png)
.

[2015-03-06 18:58] josiahseaman commented on #441
Well, looks like you're not getting the update right away.  I was just checking to make sure I had my ducks in order when I realized that the tweaks I had made to Assign Disease Spread had totally broken it.  I just spent the last two hours redoing a big section of the code so it's working now.  Sorry for the delay.

1448d169dd080e1702409d1dcc86c6e13067dc4b

[2015-03-06 19:27] missyschoenbaum opened #442 "TFS Checklist"
Using the TSF (Team Foundation Server) list, check off functionality items.

[2015-03-06 19:30] tjmahlin commented on #333
Specs for the "remove filter" and "edit mode" for the population data are [here](https://github.com/NAVADMC/ADSM/blob/gh-pages/06%20Population%20Table%20UX-UI_v1.pdf?raw=true).

Relevant image for remove filter interaction:
![image](https://cloud.githubusercontent.com/assets/9221073/6534644/3f982304-c3fc-11e4-98db-08cc6b8d0b33.png)

Relevant image for edit mode:
![image](https://cloud.githubuserco

[2015-03-06 19:37] sarahjgarza commented on #442
Got it. Thank you.

[2015-03-06 20:10] josiahseaman commented on #432
We had to revert your windows exe on 11291a313b12ab59215dd8933bd89b87baea3945 because it added a new dependency: `libsqlite3-0.dll`.  You can recommit your updated version when you can add the dependency.  The dll should be next to adsm_simulation.exe in the bin folder.

[2015-03-06 20:12] josiahseaman commented on #442
Before you create any new issues based on TFS, add them as a checklist here.  Markdown " - [ ] item" There are a lot of things in NAADSM that we (Missy and I) just decided are a bad idea and we found a better solution for them.

[2015-03-06 20:12] #402 closed

[2015-03-06 20:15] missyschoenbaum commented on #442
We actually have TFS in a spreadsheet and that is where Sarah is going to start making notes.  I also noted that  there are places that I couldn't ever figure out the functionality, so we have a gap that I don't know exactly how to resolve.

[2015-03-06 20:19] josiahseaman commented on #414
http://stackoverflow.com/questions/18040898/django-ajax-error

[2015-03-06 20:20] josiahseaman commented on #441
There's a new version of ADSM that you can now update from within the program.

[2015-03-06 20:22] sarahjgarza commented on #441
How do we download it? Through GitHub again?

[2015-03-06 20:23] missyschoenbaum commented on #441
Use the update button. Note your build before and after the update so you can confirm it worked.

[2015-03-06 20:41] sarahjgarza commented on #441
Got it. Just updated it, thank you.

[2015-03-06 21:12] #358 closed

[2015-03-06 21:39] missyschoenbaum opened #443 "Early project notes"
notes for upgrade

Make a data validation for adding production type names

Checking for file space
Checking for memeory
How do we make app multithread
How hard to do hovertips?  table driven?

How do we manage large outputs?

SQLITE export would need to be built in
  I got no code complete
  i got no save query

table based error messages  (notice, warning, error)
table based hover text
  what ha

[2015-03-06 21:39] missyschoenbaum commented on #443
Just to keep for future reference

[2015-03-06 21:39] #443 closed

[2015-03-06 22:03] josiahseaman commented on #411
If something marked for user testing passes your test, then please close the issue.

[2015-03-06 22:10] missyschoenbaum commented on #411
@sarahjgarza doesn't have the ability to close a ticket - she and I are working on betters ways to communication when something is tested and done.

[2015-03-06 22:10] #411 closed

[2015-03-06 22:13] josiahseaman opened #444 "Prevalence Y <= 1 restriction"
![image](https://cloud.githubusercontent.com/assets/2256148/6537361/43da5b1e-c413-11e4-9346-290d0107ec91.png)

Could you make this error and similar Relation Function errors return to stderr instead of crashing when using the `--dry-run` flag?

[2015-03-06 22:27] josiahseaman commented on #5
... I'm not sure this is actually a problem.  The only thing I need to ensure is that I can correctly parse the C Engine output.  @ndh2 can you weigh in on this?  What restrictions / transformations do you put on the Production Type names?

[2015-03-06 22:29] josiahseaman commented on #411
My apologies.  In this one case I think @sarahjgarza should be added to the developers team.

[2015-03-06 22:33] missyschoenbaum commented on #5
in NAADSM, I can type any characters in at the moment.  So, I could call a production type ",,,,,;;;;"

We found that the LLNL production types with names like Swine(L), would hang up the GUI. Sorry I don't have better notes, as it happened during a FEMA exercise that we had to turn results as quickly as possible so we just got over it somehow.

My main concern is to avoid unexpected reactions fro

[2015-03-09 12:39] ndh2 commented on #5
The C code used to forbid single quote, double quote, comma, and backslash, because all of those created problems when included in CSV output.

The latest version doesn't impose any of those restrictions.

The C code does use a UTF comparison function to compare two production type names. That will be safe if the names are ASCII or if we use UTF sometime in the future. But that function will proba

[2015-03-09 13:16] ndh2 commented on #432
Strange: I haven't made any changes I know of that would require a different sqlite DLL. But I can confirm that [Dependency Walker](http://www.dependencywalker.com/) now shows a missing DLL when I open up that Windows exe.

I'm adding a libsqlite-3.0.dll file that seems to help (Dependency Walker no longer shows an error when this file is present in the directory).

[2015-03-09 15:18] ndh2 commented on #444
The code changes are in the Hotfix branch and a new Windows exe is in the Windows-staging branch. Ready for testing.

[2015-03-09 16:31] josiahseaman commented on #444
Almost done Neil.  Would you also suppress printing out the Unit Stat headers in --dry-run?

[code]

[2015-03-09 16:42] josiahseaman commented on #444
Sarah, all the deployables so far are pointing to Windows-staging.  So when we update Windows-staging, that means there's a new version if you just press check updates in your program.

[2015-03-09 16:50] josiahseaman commented on #440
Eww, it sounds like this should be locked down because it's misleading.  When I originally made the database spec I thought the field was variable because there were places that pdfs or rels were used for things that were not time relations.  Now, I can't think of a single place where that's true.  Can I remove the day field?

[2015-03-09 16:56] josiahseaman commented on #429
@sarahjgarza I'm assigning this to you so you can get started.  This issue has a bunch of little things that I have hopefully addressed in the current update.  I'll be working on the new launch screen this week.  But every item in the giant checklist above should have some noticeable change.  Some of the items have been linked to their own issue with more detail.  At this point, you can feel free

[2015-03-09 17:32] josiahseaman commented on #5
This is a bit of a conundrum.  I don't want the GUI to be any more strict than the XML files it is importing.  Otherwise, you run into Swine(S) in the database but not allowed to be edited.  The important thing is that I can parse the C output headers correctly.  I remember that some characters get turned to underscores.  Neil, I need to know if there's any transformation the C output headers unde

[2015-03-09 18:51] ndh2 commented on #5
When production type names are part of an output column name, like "vaccUProdtype" or "firstDetectionProdtype", the first letter of the production type name is capitalized, spaces are removed, and capitalization is applied whenever a space is removed. Like both "camel case" and "camel　case" would be turned into "CamelCase".

There's also a bit of discussion around this on this thread: https://gith

[2015-03-09 18:55] ndh2 commented on #5
If parens in production type names in old XML files are a problem, maybe we can weed those out during the XML import process? Transform them into a more restrictive character set before ever storing them in the database.

[2015-03-09 19:17] josiahseaman commented on #5
I'm not really concerned about parens.  I think I should still forbid things that will trip up the CSV parser.  That would be ` ' " , \\ ` as the only forbidden characters.  I have a rule in my code that says "cannot start with a number".  Any idea why that's there?

[2015-03-09 19:24] missyschoenbaum commented on #5
I am not sure -  I will check SQLite documentation to see if that is the reason for the limit.
Also, I will cue up test cases against ' " , and \\ and @sarahjgarza can run them once we are settled.

[2015-03-09 19:29] josiahseaman commented on #5
![image](https://cloud.githubusercontent.com/assets/2256148/6562614/474c7c2e-c660-11e4-875e-d6e3dd433a76.png)

![image](https://cloud.githubusercontent.com/assets/2256148/6562626/5daba594-c660-11e4-8d94-9437130f3a1b.png)

[2015-03-09 19:44] missyschoenbaum commented on #5
I can't find it in the documentation.  If I do test create tables straight against the database I get the following:
Doesn't fail:
_  underscore
Fails
leading number
\
, would not work in a script, I can "," it into a name
"
(
)
Every special char across top of keyboard  !@#$%^&*()

[2015-03-09 19:49] missyschoenbaum commented on #5
Here is another part of this conversation that is relevant.  I need these scenarios to be able to feed into the SC version.  The outputs from those runs do create column names with the production type in the name. In our ADSM results we don't build any columns that have a production type within their name, so many of these rules do not matter.

However, I was hoping to have a dataset that I could

[2015-03-10 16:26] tjmahlin commented on #97
The current implementation of scroll is likely better than a paginated display. With pagination, it is difficult to maintain/estimate relationships between items in the first page and something 5 pages deep or further. If the user wants to jump deep into the list, clicking page links is a blind jump while scrolling through table (using the scrollbar) maintains unbroken and more predictable view of

[2015-03-10 16:34] tjmahlin commented on #435
This will certainly effect the UI as the spec that I recently created (issue #333) moves the filters *below* the population table in order to provide a better edit interaction. I will have to mull this one over. What is the use case for filtering on the map? Would it coincide with filtering the population data, or driven by different goals?

[2015-03-10 16:39] missyschoenbaum opened #446 "Check results across platforms and applications"
@ndh2 If I want to check that results are consistent from NAADSM to ADSM to NAADSM/SC, can I just use the same seed and run the same scenario?  Is the old NAADSM sample adequate?  I think I can get it to my SC with minimal problems.

[2015-03-10 16:46] missyschoenbaum commented on #435
It would coincide with filtering the population.  I was also worried that it would be confusing to users who might think the filter implied that they were running with a subset of the population, as compared to just being a visual representing the filter.  But, users thought it wouldn't be misleading.

The use case that I have seen most closely related to this is having the ability to spatially ob

[2015-03-10 17:00] ndh2 commented on #446
Using the same random seed is possible only within one single version. That's because if the ordering of decision points inside the simulator changes—even a tiny bit!—then the same stream of random numbers will not produce the same sequence of events.

The set-the-random-seed feature is meant for bugfixing (reproducing the bug someone else experienced in a specific version) and not for cross-versi

[2015-03-10 17:23] tjmahlin commented on #435
I can certainly see the value in the visual validation of the population model as you have described... While I'm not sure how the user would use the table and the map in tandem we can certainly provide them with the ability to do so. I will need to reconfigure the layout so that both tools can be viewed on the screen at the same time and ensure that there is a visual connection between the filter

[2015-03-10 18:16] josiahseaman commented on #97
I would just note that right now I'm artificially limiting the list of Units to the first 30 based on filters and sort order specified by the user.  That means in order to get to the Farm you want, you need to filter for it, not simply scroll.  There is usually over 10,000 Units.  If this is fine, then I'll just leave it closed.

[2015-03-10 18:16] #97 closed

[2015-03-10 18:43] missyschoenbaum commented on #435
Yes, I like you image.  I don't mind a smaller map.

[2015-03-10 18:47] josiahseaman commented on #97
![image](https://cloud.githubusercontent.com/assets/2256148/6581992/d09988f4-c71f-11e4-97db-0cbef5086fef.png)

[2015-03-10 18:50] missyschoenbaum commented on #432
So we found a real problem?

[2015-03-10 18:57] tjmahlin commented on #97
Ah, I didn't realize that's what you were saying there with the trial and error comment. We should look at implementing an infinite scroll scroll solution then.

[2015-03-10 19:06] #430 closed

[2015-03-10 19:07] tjmahlin commented on #435
@josiahseaman when you generate this population map, can you create it without all of the whitespace around the edges (hatched are)?

![image](https://cloud.githubusercontent.com/assets/9221073/6582944/58ec1234-c726-11e4-89a0-62129c122bec.png)

[2015-03-10 19:11] josiahseaman commented on #411
![image](https://cloud.githubusercontent.com/assets/2256148/6582884/f605c69c-c725-11e4-8cc9-40b5ed65340f.png)

There's a minor text centering issue.  Reopen the issue if you care @tjmahlin.

[2015-03-10 19:22] tjmahlin commented on #411
Referring to the centering of the "Running Simulation..."? Meh. I'm not going to fret over this little bit today. I would rather put some energy into implementing the overall display per the comps over on #128.

[2015-03-10 19:30] tjmahlin commented on #128
There are a couple of elements in the comps that haven't been developed yet. Is there still a desire to build these?
* Pause button (because the interface will be blocked by a mask)
* Iteration feed (feed adjacent to progress bar showing currently processing iterations and durations)

The feed is not an essential element, but the pause button is in the event that the user doesn't want to abort the

[2015-03-10 19:47] missyschoenbaum commented on #128
It worries me to let users go back and look through input.  In previous application, They were locked into a result map screen before and not allowed to navigate from it.

I agree we need to give the user enough feedback to understand what is happening.  Even with small scenarios, I don't get a smooth experience.  Maybe that is because my scenarios are finishing so fast that I get a choppy set of

[2015-03-10 19:48] missyschoenbaum opened #447 "Results - odd behaviour"
Here's what I am seeing in 8c42de7 on the results page.
![oddresults](https://cloud.githubusercontent.com/assets/6644604/6583788/255a2f36-c72c-11e4-9169-5ed9a41c2671.png)

[2015-03-10 19:49] missyschoenbaum commented on #447
On the bright side, the map did load quickly.

[2015-03-10 20:05] tjmahlin commented on #128
I agree that the user should not be able to navigate back  to inputs while a scenario is *running*. Thus the mask between the results feed and the rest of the interface. My initial take on the UI was to leave it at that, but Josiah raised the following scenario for further consideration:

*A user has an extensive scenario running and is periodically checking on the progress. An hour into the run,

[2015-03-10 20:15] missyschoenbaum commented on #128
@tjmahlin I think it is a very nice feature to be able to pause.
Is the real action here that the iterations keep on running, and the user only stops the iterations if they decide to make a change to some parameter as compared to a Pause that make Josiah do something to suspend the iteration in progress?

[2015-03-10 20:50] tjmahlin commented on #128
Very good point. I don't suppose that there is technical reason to stop the simulation if the user moves over to the Inputs UI to check on parameters. However, from a mental-model perspective (and to remain consistent with the two/sided approach to the application - input/results), I think it is valuable to keep the running of the simulation separate from the parameterization activity. The pause b

[2015-03-10 22:12] missyschoenbaum commented on #128
Let me put my priorities in order:
Make clear to user the state they are in, which is actively running
Don't add work where we don't need to

So, I like the second option unless it requires a lot of work.  If lots of work we can wishlist it, and lock user in with no ability to return to inputs.

[2015-03-11 12:11] ndh2 commented on #432
@missyschoenbaum yep, a bug in the SQL I wrote to pull the parameters from the database.

[2015-03-11 12:14] ndh2 commented on #5
@josiahseaman I'm not sure where the "can't start with a number" originated. I don't think I've ever seen someone use a number at the start of a production type, but I also can't think of a reason to forbid it.

[2015-03-11 13:11] ndh2 commented on #185
@josiahseaman it does read in all the units even in dry-run mode.  I'll change that though—it will be an easy change.

[2015-03-11 16:41] missyschoenbaum commented on #444
I am having a hard time setting up the test case on this.  Here is what I think I should be doing in order to make this fail in a nice fashion, but it accepts this and runs.  Am I testing in the wrong place?
![failprev](https://cloud.githubusercontent.com/assets/6644604/6601403/1fd2af84-c7db-11e4-9f2d-e88fba146d7e.png)

[2015-03-11 16:42] josiahseaman commented on #128
I'm just reading through this whole thread now (a day later).  I was going to propose TJ's second solution, which is to just have the input side non-editable until you abort a simulation.  I think it's a good idea to persist a progress bar on the input side.  As for the whole pause button, I think it's a good solution to a problem we don't need to create in the first place.  Currently, the simulat

[2015-03-11 16:44] josiahseaman commented on #447
Oh lol!  I thought I was the only who saw that.  That's already fixed.  I'll make sure it's posted.

[2015-03-11 16:45] #447 closed

[2015-03-11 16:45] BryanHurst commented on #439
@josiahseaman Sadly we cannot define 'unlimited' as the max upload due to how Nginx talks to CherryPy.
What should our max file size be?

[2015-03-11 16:51] josiahseaman commented on #439
My napkin math says 10GB for the whole planet.  The current version of ADSM will not support interplanetary scenarios, panspermia, or the technophagic Melding plague.

[2015-03-11 16:53] tjmahlin commented on #128
once we style the input side as read-only, we wont even need the confirmation modal. I think a small message above the persistent progress bar stating that "editing is locked while the simulation is running" should do the trick.

[2015-03-11 16:54] josiahseaman commented on #128
Can we use that same styling for Results computed, with no simulation running?

[2015-03-11 16:59] josiahseaman commented on #440
@missyschoenbaum I need a yes/no on if I can nix this field.  It's a fast change, so it could still make it to release.

[2015-03-11 16:59] tjmahlin commented on #128
I think that should be fine.

I also may have a pretty simple way make results appear to be read-only. To every page on the input side, we can add a class to body>input, body>select with the following properties:

[2015-03-11 17:02] josiahseaman commented on #444
The name of the function you're editing is Unrestricted Movement.  This constraint only applies to one field ever: `DiseaseProgression > disease_prevalence` when `Disease > use_within_unit_prevalence` is checked.

[2015-03-11 17:02] missyschoenbaum commented on #440
I think we need to lock it so that day is the only option.  Could you do that by making a default value against the database?  Or I guess you could probably do on the front end easier.

I don't think we can nix it from the standpoint of removing it, but making it no longer editable or no longer an active field with something that says "days are the default unit". Tim says this also happens somewhe

[2015-03-11 17:16] missyschoenbaum commented on #440
Here was Tim's comment
Distance distributions could be a problem too. I think ADSM always treats distance inputs as kilometers. So if the user is entering distances as miles the results might be unexpected. I think letting the user specify the units is dangerous.  It might lead them to think that ADSM is making the necessary conversions automatically.

[2015-03-11 17:23] missyschoenbaum commented on #440
Oh my, now I think I see why someone made this flexible,  Can we make the default for field Distance Distribution" be km - it is in the direct and indirect spread parameters?  When we get to the point where we are actually drawing the distribution it will matter. Maybe this isn't so simple.

[2015-03-11 17:26] BryanHurst commented on #439
Fixed in 7a7a781a

[2015-03-11 17:26] #439 closed

[2015-03-11 19:05] missyschoenbaum commented on #440
Let's throw this in a future milestone.  I don't want to get hung up on it.

[2015-03-11 19:08] missyschoenbaum commented on #432
@sarahjgarza want to give this a try again?

[2015-03-11 21:31] josiahseaman commented on #128
TJ!  Behold my progress bar of DOOM!

![image](https://cloud.githubusercontent.com/assets/2256148/6607332/a2852d9e-c803-11e4-9e9d-6fe25868db93.png)

So it's sort of working.

[2015-03-11 21:55] josiahseaman commented on #128
dc1f1ae should give you something you can start styling in branch: persistent_progress_bar.  I'm going to work on fixing an updating issue.

[2015-03-11 22:12] tjmahlin commented on #128
wow! I think it looks perfect how it is. No styling required.

[2015-03-11 22:43] josiahseaman commented on #435
I think you're probably referring to an older map (more chart junk) or simply the css margins.  Here's the current map with borders highlighted:

![image](https://cloud.githubusercontent.com/assets/2256148/6608576/b444b1b2-c80d-11e4-91b2-32510796c65a.png)

[2015-03-11 23:31] josiahseaman commented on #435
@tjmahlin given that making a new Population map on large files could take up to 20 seconds, I was thinking of adding a "Update Map" button that doesn't change anything til you press it.  There's no problem with updating the farm list on the fly.

[2015-03-12 15:01] missyschoenbaum commented on #446
OK, Thanks. I am sure I can get someone here who can help me eyeball results.  This will also be a good exercise in looking at how we can provide consistent data streams across applications, which will be a good learning experience for me.

[2015-03-12 15:10] missyschoenbaum commented on #424
Passed  - will close

[2015-03-12 15:10] #424 closed

[2015-03-12 17:38] sarahjgarza commented on #444
Josiah, I updated ADSM but keep getting an error message when I tried to run the new assignments:

![error message](https://cloud.githubusercontent.com/assets/11165917/6624002/27cdc6fc-c8ac-11e4-81c3-ae4be663db32.png)

Do I reinstall ADSM?

[2015-03-12 20:41] missyschoenbaum commented on #310
Sarah was getting error that libsqlite3-0.dll was missing today but only in build ecc6da6

[2015-03-12 20:45] BryanHurst commented on #310
There was an oddity with the latest adsm_simulation.exe where it was missing this DLL.
It is present in the more recent updates.
Latest is: b6a818

[2015-03-12 20:48] missyschoenbaum commented on #310
OK, we will test

[2015-03-12 20:51] sarahjgarza opened #448 "CSV with Wrong Format"
I attempted to load the csv files from the Herdid folder. It had these fields:
![Uploading Headers.png . . .]()

And an error message popped up: Unrecognized csv header format. Please use: size, longitude, status, latitude, production-type

[2015-03-12 20:56] missyschoenbaum commented on #310
Sarah is now failing before the applications opens
steps to repeat
double-click on adsm.exe
command window opens and begins to process
will post images

[2015-03-12 20:57] sarahjgarza commented on #310
![failed to load url](https://cloud.githubusercontent.com/assets/11165917/6628051/0a5c527a-c8c8-11e4-92c7-47ed224a94da.png)

[2015-03-12 20:57] sarahjgarza commented on #310
![failed to load url blackbox](https://cloud.githubusercontent.com/assets/11165917/6628066/20b2e462-c8c8-11e4-825e-f81354a062d5.png)

[2015-03-12 21:04] missyschoenbaum commented on #310
These errors happened on a new install that we pulled from releases

[2015-03-12 21:09] missyschoenbaum commented on #310
We also tried updating the existing version.
First, hit update, the hourglass runs, then stops with no message
build remained at ecc6da6
We closed the program from x and reopened
Did not get a message about an update needing to be applied
clicked update again
hourglass was running continuously, we watched for about 2 minutes
We closed the app with x
Reopened and we did get the message on next rest

[2015-03-12 21:10] sarahjgarza commented on #448
![headers](https://cloud.githubusercontent.com/assets/11165917/6628297/e0e14a5c-c8c9-11e4-89c6-907b641de0f9.png)

[2015-03-12 21:11] missyschoenbaum commented on #448
This is acceptable behavior - but will require updates to documentation.

[2015-03-12 21:11] missyschoenbaum commented on #448
Oops, too quick, still testing

[2015-03-12 21:17] missyschoenbaum commented on #448
This worked, it used column name on the user note to identify data.  tried it with 2 notes and it appended them

[2015-03-12 21:17] #448 closed

[2015-03-12 21:27] missyschoenbaum commented on #444
OK, will test in the correct place this time

[2015-03-12 21:32] missyschoenbaum commented on #444
This is how this error looks
![failprevlessthan1](https://cloud.githubusercontent.com/assets/6644604/6628660/fd82e1f4-c8cc-11e4-86f1-40aadfc33c53.png)

Is this OK where it is sitting?

[2015-03-12 22:30] josiahseaman commented on #310
You'll need to run `bin/adsm_force_reset_and_update.exe` in your distributable to fix the issue.  Bryan is creating a new release now that also has it fixed.  We updated the updater to actually start the program after it finished updating.  Anytime we update the updater, you have to run adsm_force_reset_and_update.exe.

[2015-03-12 22:44] josiahseaman commented on #310
Can you try out RC5 and see if that fixes it?  Remember to delete all older copies.

https://github.com/NAVADMC/ADSM/releases

[2015-03-12 22:50] missyschoenbaum commented on #310
Do I need to make sure all testers pull this also?

I am putting the app in a new directory each time, does that work instead of deleting?

[2015-03-12 22:51] missyschoenbaum commented on #310
We always made whoever broke the build and left the building buy the beer

[2015-03-12 22:52] missyschoenbaum commented on #310
but I haven't left the building yet, and I can't bring beer tomorrow

[2015-03-12 22:57] missyschoenbaum commented on #310
OK, was able to install and run a sample.

[2015-03-12 22:57] josiahseaman commented on #310
Using bin/adsm_force_reset_and_update.exe _should_ have the same effect as downloading a new copy.  I'd try that first, since it'll be a lot faster.

[2015-03-12 23:00] sarahjgarza commented on #310
I just tried that  bin/adsm_force_reset_and_update.exe  and got this Black Box Message:
![bin_adsm_force_reset_and_update_blackbox](https://cloud.githubusercontent.com/assets/11165917/6629963/4c0d0a14-c8d9-11e4-8058-aacefd32a83f.png)

[2015-03-12 23:02] missyschoenbaum commented on #310
Yes, you will have to download a new one, from releases get the RC5

[2015-03-12 23:13] sarahjgarza commented on #310
Just downloaded the RC5 and got the same error message as before:
![adsm 5 failed to load](https://cloud.githubusercontent.com/assets/11165917/6630133/1ac8fab0-c8db-11e4-8a41-06ff4b48935d.png)

[2015-03-13 15:32] josiahseaman opened #449 "Tinker Day 3 Notes"
Notes from the meeting:

- [x] Population Aspect ratio  #168
- [ ] Filter on user notes - search functionality
   * This may be challenging because it is not implemented in Sqlite3
   * http://www.rkblog.rk.edu.pl/w/p/fulltext-search-sqlite-and-django-app/  http://stackoverflow.com/questions/2248743/django-mysql-full-text-search
- [x] Legend color of production types
- [x] Copy icon still looks li

[2015-03-13 15:35] josiahseaman commented on #168
TJ was saying he'd like to make this a background element.  We debated whether or not we'd be able to refresh it.

[2015-03-13 17:01] josiahseaman opened #450 "_point_order still be referenced"
Sort by X value instead.  This is causing a crash in parameters.c:502.  It's blocking Shaun from running a scenario.  (Not sure why this hasn't come up before)

[2015-03-13 17:50] sarahjgarza opened #451 "Map visualization_grey on grey"
![flaps swine run-texas](https://cloud.githubusercontent.com/assets/11165917/6644099/17ab7c6c-c977-11e4-88b3-71b570ed3fb5.png)

[2015-03-13 19:43] josiahseaman commented on #449
![image](https://cloud.githubusercontent.com/assets/2256148/6646043/dcee38ac-c986-11e4-80a8-972c9b1183c4.png)

## Building Binomial Wrong
This is going to need a better javascript filter delimit on comma and period

[2015-03-13 20:13] josiahseaman opened #452 "Select a database browser to package"

[2015-03-13 20:25] ndh2 commented on #450
New Windows exe available: compiled in Hotfix branch, checked into Windows-staging branch.

[2015-03-16 16:33] sarahjgarza commented on #426
I tried running ADSM with these XML exports from NAADSM and kept getting error messages:
![historicxmlscenario_errormessage](https://cloud.githubusercontent.com/assets/11165917/6671000/e1a3c068-cbc7-11e4-8222-8a02764e2d23.png)
![historicxmlscenario_errormessage2](https://cloud.githubusercontent.com/assets/11165917/6671005/e68fb316-cbc7-11e4-836e-d4101f5444a6.png)

[2015-03-16 16:39] sarahjgarza commented on #432
Successful run.
![amy scrashcase_succesfulrun](https://cloud.githubusercontent.com/assets/11165917/6671107/acf4d87e-cbc8-11e4-8b52-53d755fd6eb1.png)

[2015-03-16 16:47] sarahjgarza commented on #444
Successful run.

[2015-03-16 17:01] missyschoenbaum commented on #426
@sarahjgarza  - So the small print error says: assertion failed (ptr != Null)?

[2015-03-16 17:02] sarahjgarza commented on #426
yes

[2015-03-16 17:04] missyschoenbaum commented on #426
@ndh2 that sounds like you.  Do you need us to email the scenario?

[2015-03-16 17:05] ndh2 commented on #426
@missyschoenbaum Yes please to emailing the scenario!

[2015-03-16 17:13] missyschoenbaum commented on #426
@ndh2 Sarah will be emailing them

[2015-03-16 18:02] josiahseaman commented on #449
# Shaun's Notes
Problems I noted today:

- [ ] Initial startup screen clips the word “ADSM”
- [ ] Initial screen has components overlaid on top of each other
    * TJ is painfully aware of these two issues
- [ ] Validate Scenario Issues:
    - [x] Selecting “validate scenario” causes an error message:  (no controls or zones defined, but controls not disabled [zone parameters are “yellow” status])

[2015-03-16 18:11] josiahseaman commented on #450
@sarahjgarza I think this issue should be tested by hand using a NAADSM import.  Shaun ran into this issue with his Turkey scenario.  I don't actually have a scenario file to give you, though you could contact him directly.

[2015-03-16 18:14] josiahseaman commented on #449
@ndh2 Could you answer the last bullet point?  I don't know.

[2015-03-16 18:17] ndh2 commented on #449
I think those numbers are system-assigned process IDs.

[2015-03-16 19:47] missyschoenbaum commented on #449
I see the critical error text was implemented.

I see a typo

![criticalerro](https://cloud.githubusercontent.com/assets/6644604/6674949/ea59c96c-cbe2-11e4-80a3-6de0d9c4d449.png)

[2015-03-16 20:19] missyschoenbaum opened #453 "Status code fail"
This is from an old xml file that appears to pass a status that is no longer valid.
Infectious clinical
Can the app manage an unknown status better?

@ndh2  - how many times in the past have we changed our status options?
This came from one of Barbara's examples.
------------------------------------------------------------------------------------------------------------------------------
Exception

[2015-03-16 20:29] josiahseaman commented on #449
I noticed that typo and fixed it already :)

[2015-03-16 20:29] ndh2 commented on #453
It took a while for state names to settle down in *really* early versions. We weren't picky about capitalization or spaces ("infectiousclinical" considered the same as "Infectious Clinical"). We also allowed "Incubating" instead of "Latent" and "Inapparent Shedding" instead of "Infectious Subclinical".

[2015-03-16 20:32] josiahseaman commented on #168
![image](https://cloud.githubusercontent.com/assets/2256148/6675854/38c551c4-cbe9-11e4-8dcf-583f1ced1f5f.png)
 Fixed

[2015-03-16 20:32] #168 closed

[2015-03-16 20:35] missyschoenbaum commented on #453
Actually, I am not sure where the option of Infectious clinical came from.  It is not in the source database lookup, and the status in the population (dynherd) only show the codes,  C,L and S.  I had to export the population from this database as I didn't have it in XML already.

** Magic happens here **

[2015-03-16 20:35] ndh2 commented on #453
It will be a quick fix to make the xml-to-sqlite routine "normalize" some of those cases to the now-accepted names.

[2015-03-16 20:38] missyschoenbaum commented on #453
@ndh2  - OK, but I still think @josiahseaman  needs to make the app behave nice when someone does something stupid that is beyond our speculation.  I don't think we implemented constraints at the database level, which is how my brain manages these problems.

[2015-03-16 21:28] sarahjgarza commented on #450
Alright. What is his contact info?

[2015-03-16 22:17] missyschoenbaum commented on #452
OK, I have looked at SQLite Administrator, SpatialLite and SQLiteSpy.  Although our USDA folks recommended SpataiLite, I found SQLite Administrator to be much easier to work with.  It allowed for code complete when an alias has been assigned.  It also allowed for saved queries.  This may mean we could push a batch of queries with the initial installation.

[2015-03-16 22:19] missyschoenbaum commented on #452
@josiahseaman I will start working on simple documentation and you can figure out the hard parts.  Also, I tested connecting to a SQLite database with MS Access, and it was a breeze once I had the correct driver.  We cannot ship MS Access, but users may already have it.

[2015-03-16 22:24] josiahseaman commented on #450
You should ask Missy for that so it doesn't go over a public channel.

[2015-03-16 22:28] josiahseaman commented on #432
Sweet!  Can the issue be closed then?

[2015-03-16 22:30] #432 closed

[2015-03-16 22:30] #444 closed

[2015-03-16 22:30] josiahseaman commented on #444
@sarahjgarza Your older error message looks like you are not running on the latest version.  There was a 2-26 version where the libsqlite3.dll was removed accidentally.  It has been added back recently.

Also, I've given you github permissions to close issue now.  Oh... that was cool.  It closed as I was typing that...

[2015-03-16 22:57] josiahseaman commented on #452
Sounds like you've made a decision.  Is this what you would like me to package?

http://www.winportal.com/sqlite-administrator

[2015-03-16 23:03] josiahseaman commented on #285
Sarah's FLAPS file has a nice demo of the parsing fallback.  The file has a number of extra fields that get put in the user_notes.  Example:

@sarahjgarza Could you explain the difference between commoditytype and productiontype?  Currently I'm only using commoditytype, but I noticed there's another field in this file.  Which should I use?

[2015-03-16 23:04] josiahseaman commented on #285
[code]

[2015-03-17 13:24] ndh2 commented on #426
I just ran a few hundred iterations of this model and didn't get the same error.

The error message suggests there was unexpected text in the database for _destruction priority order_.  Was this scenario being used in tests of that feature — could the error message have occurred after changing or re-arranging destruction priority in some way?

[2015-03-17 13:51] missyschoenbaum commented on #452
Yes, that's the one.
I will get going on queries.

[2015-03-17 17:06] sarahjgarza commented on #285
Commodity Type is basically the Big 4 of FLAPS Simulations: Beef, Dairy, Poultry, and Swine. We also have FLAPS coding for simulating Goat and Sheep populations. All FLAPS runs fall into one of these categories.

Production Types are subcategories of those Big 4 and Sheep and Goats. For swine these are things like Farrow to Ween, Finish only, Farrow to Finish, etc. For poultry, these are things li

[2015-03-17 17:11] sarahjgarza commented on #429
Alright. I will not be able to finish this list this week because we have a reviewer for FLAPS coming in and I will be doing a lot of work with FLAPS over the next few days.

I'll see what I can do with the assignments but please do not expect much this week!

[2015-03-17 20:50] missyschoenbaum opened #454 "Table Level Results - Results_controls has costSurveillance"
The database table Results_controls contains the field costSurveillance. The data is at the iteration and day level.  The cost of surveillance is assigned at the zone and production type level.

In the old app, this variable was reported in a summary table called outIterationByZoneAndProductionType.  It doesn't look like we are doing any summaries - which is OK because I should be able to write th

[2015-03-17 21:02] missyschoenbaum commented on #454
OK, I think I understand.  Results_controls seems to be a summary at the iteration level.  The value I have appears to be the cost of surveillance across all zones.  So, maybe I just need the data at the daily zone and production type level so I could query and get cost per zone.

[2015-03-17 21:04] missyschoenbaum commented on #454
Oops, I goofed.  I was looking at a queries that was summarized.

[2015-03-17 22:24] missyschoenbaum opened #455 "Supplemental Outputs - managing many, large files in a courteous fashion"
This issue is to collect specifications on how to manage supplemental outputs.

Here's what we know:
Supplemental outputs are selected by the user in the output settings
In the past, supplemental outputs were likely to overwhelm the database, so they were not done if there was any possibility they would be large
Each output is a distinct dataset that is returned from the C engine
Each output conta

[2015-03-18 15:36] missyschoenbaum commented on #129
@ndh2 I am working through the pdf documentation, and it mentions the Point, which looks like a way to pass a constant value.  Do we not include that anymore?

[2015-03-18 15:38] ndh2 commented on #129
We should still be including the Point, it's very useful for testing. I think the NAADSM interface may have called it "Fixed Value", so it may exist under that name now.

[2015-03-18 15:39] missyschoenbaum commented on #129
Excellent - I see we have it that way.  I will update the documentation.

[2015-03-18 15:39] #129 closed

[2015-03-18 16:37] missyschoenbaum opened #456 "Pdf documentation"
Neil had provided the previous documentation, and I reworked a little to fix names and references.

As a note, the reference
• Palisade Corporation.  2002.  A Concise Summary of @RISK Probability Distribution Functions.  A guide published by the creators of @RISK, a risk analysis package for Microsoft Excel.  The Summary is available for download as an Adobe PDF file from http://project.zf.jcu.cz/

[2015-03-18 16:40] missyschoenbaum opened #457 "PDF check to documentation"
Compare pdfs in the application to documentation to confirm that each one is implemented with the correct options.

For example, in testing we saw that Binomial had options for n and s and it should be something else.

[2015-03-18 16:57] josiahseaman opened #458 "ADSM Launchpad"
On application launch, open the interface with the previous session loaded but blocked with an open scenario modal and an additional option to "resume last session"

[2015-03-18 17:42] josiahseaman commented on #452
Before I package anything we'll need to verify the licensing:

http://sqliteadmin.orbmu2k.de/

So we should contact him and ask for permission.  It looks like he's a native German speaker, so it'd be polite if we could contact him in German.  Do you know anyone who knows German fluently?

[2015-03-18 17:46] josiahseaman commented on #451
I just dropped from 0.6 grey to 0.4 grey.  I'll post a screenshot.

[2015-03-18 17:54] josiahseaman commented on #309
Hey @tjmahlin I'd like your input on this issue.  There's a number of technical options, but it really just comes down to what the best user experience is.
* I was planning on skipping the two stage "check updates" and "update ADSM" in favor of just "update adsm" which doesn't do anything if you're up to date
* Some of these downloads can be really long, a progress bar might be nice.  There's no r

[2015-03-18 18:23] josiahseaman commented on #451
![image](https://cloud.githubusercontent.com/assets/2256148/6715818/caf724a4-cd66-11e4-9ba0-73523ef34f75.png)

![image](https://cloud.githubusercontent.com/assets/2256148/6716242/98656188-cd69-11e4-83b2-39f0863c5e62.png)

[2015-03-18 18:31] josiahseaman commented on #451
Size is  a big factor here, not the grey.  The thing that I probably can't do, that would be nice to do is to calculate the average squared distance between each point and it's closest neighbor and increase the size of the marker so that it always fills up 10% of the map.  I'm already adjusting marker size by the square root of the number of Units.  More units, makes smaller markers.  Adjusting ma

[2015-03-18 18:34] missyschoenbaum commented on #451
@sarahjgarza have you seen population in FLAPs that are very spread out?  Like Nevada maybe?

[2015-03-18 19:09] missyschoenbaum commented on #452
Ann can and agrees.  I was going to attempt to explain our project.  Give me a sec

[2015-03-18 19:12] missyschoenbaum commented on #452
how's this?
Our team, the North American Virtual Animal Disease Modeling Center is developing a disease simulation model that uses SQLite as the database platform. The project has used open source software on all development components.  This model will be made available to the public free of charge. To have a friendly database administration tool would provide value to the users. Although we are

[2015-03-18 19:32] josiahseaman opened #459 "Removing duplicates from XML import"
Problem:  Import: "no airborne delay" imported many times. Possible duplicates in the xml

*Solution:* Use get_or_create wherever possible.  Only assign a name in the cases where an object does not already exist.

@ndh2 I think I can do this but I could definitely use a second pair of eyes on testing.

[2015-03-18 19:48] ndh2 commented on #459
No problem, I'll watch this thread and test the changes when they go in.

[2015-03-18 19:52] josiahseaman commented on #459
![image](https://cloud.githubusercontent.com/assets/2256148/6717986/f8b1216a-cd75-11e4-8146-db9b51277d53.png)

Well I started off by just importing the NAADSM sample scenario without changing anything and it infected everything.... so that's clearly not right.

[2015-03-18 19:57] josiahseaman commented on #459
So I enabled detection on both...  This clearly isn't going well

Maybe we should pair on this issue.

[2015-03-18 19:59] ndh2 commented on #459
Sure, can you email the XML file?

[2015-03-18 20:00] josiahseaman commented on #459
Yes, and I'm on Skype.

Okay, I found the first discrepancy.  The two detection fields are marked as optional, but the simulation crashes if they're blank:

[code]

[2015-03-18 20:02] ndh2 commented on #459
Those should be mandatory. If detection is enabled for a production type, neither one can be blank.

[2015-03-18 20:05] josiahseaman commented on #451
The auto density scaling will mean that maps like Nevada will have much
larger marker sizes.  My calculations assume uniform density, which might
be a terrible assumption if there's tight light clusters followed by
nothingness.  Like I said, an approximation for average use case is the
best I can do.  Running a collision simulation on the whole map is just not
viable time-wise.

[2015-03-18 20:07] josiahseaman commented on #459
Dial in the wayback machine to early 2014.  We had to make all these fields optional because they are not required when use_detection is unchecked...  Now I remember.  I had intended to add another validation layer which I never put in.

[2015-03-18 20:08] ndh2 commented on #459
I'm in the Hotfix branch, I cd to `src` and type `python3.4 ./xml2sqlite.py export_pop.xml parameters.xml debug.sqlite3`. Then I run the simulator on `debug.sqlite3` and it runs. What's the setup where you're seeing errors?

[2015-03-18 20:12] josiahseaman commented on #459
It runs, but it infects everything.  So then I turned detection on and tripped over those two optional fields.  I just regenerated the parameters.xml.  I'll send you a new one.  This seems to work better.  So I guess we're in the clear.  I just learned that I need a new validation layer for Control Protocols because of the optional requirement.

![population_map](https://cloud.githubusercontent.co

[2015-03-18 20:39] sarahjgarza commented on #451
I have not. Only Texas, Tennessee, and Oklahoma. Did you want a Nevada run?

[2015-03-18 20:46] josiahseaman commented on #185
Thanks Neil, between our two fixes this issue can be closed out

[2015-03-18 20:49] josiahseaman commented on #285
That's unfortunate, since it sounds like productiontype is really the more accurate field.  Production Types in ADSM aren't so much used for inter-species scenarios as to model the fact that disease can spread much faster in a densely populated factory farm than it does in spread out grazing animals.  But the FLAPS sample you gave me only had

So it looks like productiontype isn't always available

[2015-03-18 20:52] missyschoenbaum commented on #285
We are accustom to changing the field names on the FLAPS file.   We didn't write a spec in their project that said it had to match ADSM.

[2015-03-18 20:54] josiahseaman commented on #285
Still... if it's alright with you, I'd like to add a line of code that checks for a column called `productiontype` first and reads that.  If there is no column, it will use `commoditytype` instead.  I already have the code, but I won't add it if you think this is a bad idea.

[2015-03-18 21:01] josiahseaman commented on #454
DailyControls_costSurveillance exists because the C Engine was putting out a variable called that with no qualifiers on it.  In fact, all of my cost fields are only at the Daily Level.  It's possible I am missing the detail fields and I've never noticed because Sample Scenario has them turned off.

[2015-03-18 21:03] josiahseaman commented on #452
It's a good start, though you didn't actually ask a question.

[2015-03-18 21:12] sarahjgarza commented on #285
All FLAPS runs should have the following fields:
fips state	latitude longitude population commodityType productionType year runNumber

And production type information should always be present.

[2015-03-18 21:23] josiahseaman commented on #285
Would you please email a small FLAPS file with those headers?  The one I got from you originally did not have productiontype in it.

[2015-03-18 21:25] josiahseaman commented on #459
@ndh2 I noticed one problem with the test that you ran.  You should have crashed on

Which probably means you have two old scenario dbs laying around.  We've moved those into the ADSM Workspace folder.  Checkout ADSM/settings.py:35  I'm fixing the xml2sqlite source, but you should delete your old settings.sqlite3 file just to be safe.

[2015-03-18 22:30] josiahseaman commented on #459
I now have a useful test for this issue.  I've modified xml2sqlite to count all entries of every ScenarioCreator model.  Right now, it's creating 76 entries.  If we see that number go down and the scenario still runs correctly, then we know we're eliminating duplicates.

[2015-03-18 22:37] josiahseaman opened #460 "ControlProtocol Form validation for required fields"
ControlProtocol is broken into 7 tabs, each of which has a "Use X" checkbox at the top.  In the database, all of these fields are optional because they are not required when "Use X" is false.  But we do need a validation layer that insists that these fields are filled in when that tab is being used, otherwise the C engine will crash on set_params.

[2015-03-18 23:09] josiahseaman commented on #459
Neil, can you check if this is still valid?
`xml2sqlite: 692`
[code]

My DB makes no such restriction on NOT NULL but perhaps your simulation does.

[2015-03-19 13:28] ndh2 commented on #459
Maybe there used to be a NOT NULL constraint before the various use_X switches were added? If there is no such constraint in the DB then that line in xml2sqlite can be deleted.

[2015-03-19 15:25] missyschoenbaum commented on #452
OK, but it describes our project adequately?

[2015-03-19 17:38] sarahjgarza commented on #457
Okay. Where do I find the application pdfs?

[2015-03-19 17:47] sarahjgarza commented on #451
Here is a FLAPS run of the swine farms/populations of entire state of Nevada in ADSM:
![flaps swine run-nevada](https://cloud.githubusercontent.com/assets/11165917/6736940/bb8115bc-ce2d-11e4-8321-85ad3ffb178c.png)

[2015-03-19 20:37] missyschoenbaum commented on #457
I would make a copy of SampleScenario.  The application pdfs are throughout the application, but really you need to just find one and you can cycle through it.  The first one you hit is in Disease, and I think it is Latent.  Edit it, and I think the sample is set to triangular.  Just select each option from the pull-down list, and confirm that the correct parameters are offered based on the pdf ty

[2015-03-19 20:41] missyschoenbaum commented on #457
It was this item
- PDF filter javascript doesn't run on validation reload modal
because each pdf has a conditional filter.

[2015-03-19 20:46] missyschoenbaum opened #461 "Mike Martin's population Use Case"
Mike was visiting today, and described a workflow that allowed a model to be set up without a population, sent to a user who could add their confidential population and run, and then at the database level strip out the identifying, confidential  information to share the results data for analysis.

I am going to test this workflow and see if we can make it through without problems.

[2015-03-20 15:56] sarahjgarza commented on #457
Passed. PDFs in application have correct options.

[2015-03-20 15:59] sarahjgarza commented on #449
PDFs in application now have correct options. Passed item on the list.

[2015-03-20 16:14] sarahjgarza commented on #453
@josiahseaman there are still constraints at the database level where you cannot import the csv population file with the initial states already assigned; they all become "Susceptible" inside ADSM and you have to change them manually

[2015-03-20 16:22] sarahjgarza commented on #441
I went to the advanced panel for editing and it would not acknowledge any edits that I put in. E.g. when adding a new production type, the typed letters would not appear in the new field:
![advanced panel editing](https://cloud.githubusercontent.com/assets/11165917/6755742/ea59461c-ceea-11e4-9773-34b5625bf5ea.png)

[2015-03-20 20:39] missyschoenbaum opened #462 "Supplement Output - Daily_exposure"
We have these fields coming back in the Daily Exposure supplement file:
Run
Day
Type
Reason
Source ID
Production type
Lat
Lon
Zone
Recipient ID
Production type
Lat
Lon
Zone
Is there any way we can modify the field names to indicate which production type is the source and which is the recipient?  I would be OK with something easy like S_productiontype and R_productiontype

[2015-03-20 21:35] missyschoenbaum commented on #462
I guess the same applies to LAT and LON

[2015-03-25 20:17] missyschoenbaum commented on #452
Checked with Ann today, no answer yet.

[2015-03-25 20:55] missyschoenbaum opened #463 "Advanced Panel - Locking me out"
I was going to the advanced panel to find the Random seed setting  (which I can't find) and I am getting locked out in the advanced panel.  I cannot use the Back to Standard button, nor can I navigate back up the tree to the place where I can see all the database branches.

[2015-03-25 20:55] missyschoenbaum commented on #463
I have to close the application to get out.

[2015-03-25 21:25] josiahseaman commented on #463
I'm confused why the back to Standard Button wouldn't work.  Is it visible?  Can you describe more about what the button does when you click it?

[2015-03-25 21:32] josiahseaman commented on #463
Alright... I see the problem now.  If you spam click the link it will take you back.  It's repeatedly submitting the form, which is causing page reload flicker.  I'll fix that right away.

[2015-03-25 21:36] missyschoenbaum commented on #463
Steps to recreate:
Select Advanced panel button
log in is briefly flashed, but Admin Panel opens
The title Animal Disease Spread Model Backed is displayed, and the Back to Standard button
If I click Back to standard from here, I am able to return
I select a table to act on - Output Settings for example
I go to the screen where I can select Output settings - across the top I see the tree Home>Scena

[2015-03-25 21:53] josiahseaman commented on #463
I'm currently building a new version to push to production with this bug fixed.  I'll let you know when the new version is available.

[2015-03-25 22:04] josiahseaman commented on #463
# Changelog
* Fixes #463 backend locking up because of constant reload.
* Uncapped the number of models displayed in modelList for the sake of Functions view.
* Changed the table headings in the daily exposures file so that columns for source and recipient are easily identified. #462
* #285 Added preferred productionType column for FLAPS CSV
* #459 used get_or_create or create_no_duplicates to sim

[2015-03-25 22:20] josiahseaman opened #464 "Model Modal slowdown"
Something in [this release](https://github.com/NAVADMC/ADSM/issues/463#issuecomment-86232202) caused a slowdown in the load time of a model modal.  If it continues to be an issue take a look at how populate_modal_body or ajax_submit changes could have slowed things down.  b2ebbdb46e9c79c41d3fa08b240ad73879df75d0  607895ef6004dd8d0f4c5ff5800ac8356b3d93b3

[2015-03-25 22:24] missyschoenbaum commented on #463
where did the Random seed go?

[2015-03-25 22:25] josiahseaman commented on #463
@missyschoenbaum The new release is now available from the update pathway.  You should land on 80befc5.

The random seed is stored in the "scenario" model.  I checked and it's still there.

[2015-03-25 22:50] josiahseaman commented on #463
![image](https://cloud.githubusercontent.com/assets/2256148/6837170/0a45b1e0-d30f-11e4-8758-dbf15b689538.png)
 Would you like a random seed specified for the Sample Scenario?

[2015-03-25 22:57] josiahseaman commented on #464
Never mind...  This was just my computer running slow and failing selenium tests due to browser lag.

[2015-03-25 22:57] #464 closed

[2015-03-25 22:58] missyschoenbaum commented on #463
![update_odd](https://cloud.githubusercontent.com/assets/6644604/6837266/1f9c1d62-d310-11e4-92c0-433134883562.png)
This is what I am getting on update

[2015-03-25 22:58] josiahseaman commented on #441
This issue is a duplicate of #463.  It was a very severe problem on the backend that made it unusable.  I fixed the problem and immediately pushed a new release.  Please update your client.

[2015-03-25 22:58] #441 closed

[2015-03-25 22:59] missyschoenbaum commented on #463
You want a new ticket on it?  Please don't make my users respond to the CMD line over an update..

[2015-03-25 23:01] josiahseaman commented on #453
Hi Sarah, the fix for this issue 5e8800c was just now pushed to production.  Please try it again after updating.  Thanks!

[2015-03-25 23:03] josiahseaman commented on #451
Could you email me the Nevada population so I can test it?  Because that really doesn't look right.  I'll definitely try to fix that.  If anything, I would expect the sparse nevada map to have unit squares the look too big, but I can't even see those.

[2015-03-25 23:08] josiahseaman commented on #463
Hmmm...  the goal was to get into a state where we don't have to update this adsm_update.exe anymore.  But looking at the file history, it looks like it was changed 12 days ago.  https://github.com/NAVADMC/ADSM/commits/Windows-staging/bin/adsm_update.exe

I guess you need to run `adsm_force_reset_and_update.exe`.  I think this was for the last Tinker Day.  Sorry about that

[2015-03-25 23:19] josiahseaman commented on #463
Bryan and I talked over this issue and we have a solution that will bypass
the problem entirely. You can go ahead and create a new issue and we'll get
it fixed promptly.

[2015-03-26 17:00] missyschoenbaum opened #465 "Firefox Addin - SQlite-manager"
I just discovered the add in for Firefox that is a perfect query tool - except it didn't recognize my previously saved queries.  I was thinking the ADSM browser was in Chrome or Chromium or something.  Does it have the same kind of tools?

I can cut and paste in my big queries.  I can easily export.  Import was a little horsy, but if I have my table created it went quickly.  I only tried small dat

[2015-03-26 17:07] missyschoenbaum opened #466 "Results - Daily Controls"
@ndh2  In the DailyControls results, I am getting the fields Ratio and averagePrevalence.  I think I remember these coming back in the SC results also.  Can you provide a definition, or what they are referencing?

[2015-03-26 17:21] ndh2 commented on #466
I think we can get rid of both of those.  "Ratio" was an early attempt at an Estimated Dissemination Rate-like output, but if we want an EDR we should add it under its proper name.  And average prevalence was created for debugging small cases but isn't very meaningful in real simulations.

[2015-03-26 17:25] josiahseaman commented on #465
Unfortunately, I don't think browser plugins are an option for us.  In order for it to be reliable, we'd need to package the whole browser that the plugin is for.  The ADSM Viewer is a custom compile of only part of the Chrome browser, so I doubt it's easily compatible with Chrome plugins.  I'll double check with Bryan on this one, but I think it'd be best just to stick to desktop applications we

[2015-03-26 17:35] josiahseaman commented on #459
@ndh2 I removed the default lines.  Would you please test this new version from HotFix?  I don't think I have the facilities to test it properly.

[2015-03-26 20:20] BryanHurst opened #467 "Update Cannot Unlink Certain Files"
Some user's are running into an issue that the python interpreter latches onto certain files and won't close the file until the main process exits.
This makes it impossible to update the files via git as they are currently in use.

[2015-03-26 20:20] BryanHurst commented on #467
Also of note, the force reset should be more aggressive now that user files are outside of the program folder and in the workspace folder.
Force reset should clear out all untracked files and remove all pyc files plus do a hard reset.

[2015-03-26 20:22] BryanHurst commented on #467
One solution for this is to do a dance with the files where we copy the update executable to a .now.exe file which we actually run from.
As this isn't tracked, it should be okay to overwrite other tracked files.

[2015-03-26 20:23] BryanHurst commented on #467
This doesn't work as renaming the file requires the pyc in the library.zip to be renamed as well. You must always execute the executables with the name they were compiled with.

So lets copy the adsm_update__main__.pyc file in the library.zip and add it back as adsm_update.now__main__.pyc

[2015-03-26 20:25] BryanHurst commented on #467
I realized that this wouldn't work as modifying the library.zip file still gives us an unlinking issue that is just now pushed off to the library file.

Next best bet is to, at update time, move the update files into the user's workspace folder and at execution always pass in the BASE_DIR to execute upon.

[2015-03-26 20:25] missyschoenbaum commented on #466
How hard is it to get rid of?  @josiahseaman can you drop them when the outputs come back?

[2015-03-27 12:18] ndh2 commented on #466
It will be easy to get rid of them -- I'll just remove those from the C code.

[2015-03-27 18:23] josiahseaman commented on #466
I can sign off on this issue because my parser simply ignores fields that are in the database but the C engine doesn't output.

[2015-03-27 18:43] josiahseaman commented on #310
@sarahjgarza Could you please download the latest release from scratch and try this again on the same computer?  If this is completely fixed then please close the issue.

[2015-03-27 18:44] #463 closed

[2015-03-27 19:09] missyschoenbaum commented on #466
Excellent, I assign myself to test

[2015-03-27 19:15] sarahjgarza commented on #310
It worked. Completed fixed.

[2015-03-27 19:15] #310 closed

[2015-03-27 19:18] josiahseaman commented on #460
![image](https://cloud.githubusercontent.com/assets/2256148/6875395/c180f4b2-d483-11e4-9110-d2e3b0e2e0d4.png)

[2015-03-27 19:20] #460 closed

[2015-03-27 19:28] josiahseaman opened #468 "Direct trace period with invalid value doesn't show submit error"
On chrome it has the correct behavior:

![image](https://cloud.githubusercontent.com/assets/2256148/6875501/d052e2c4-d484-11e4-9f65-6d02902b1a8b.png)

This value is intercepted by the browser as invalid and so never gets delivered to the server.  On ADSM Viewer, nothing happens but it still doesn't submit to the server.

![image](https://cloud.githubusercontent.com/assets/2256148/6875524/fe48d5e4-

[2015-03-31 14:38] ndh2 commented on #459
@josiahseaman I re-created all the test suite files using the changed xml2sqlite. The only tests currently failing are tests I have to re-work now that the averagePrevalence output is gone (issue #466). So the changes to xml2sqlite seem to be good.

[2015-04-01 16:28] josiahseaman commented on #420
@missyschoenbaum Should Testing of the new vaccination features be assigned to Sarah or Shaun?

[2015-04-01 16:58] #453 closed

[2015-04-02 21:15] tjmahlin commented on #431
it doesn't exactly fit in this issue, but it's close enough... I have added properties and a new class (in the ui_design branch) that will allow the user to hide all help text. Ideally, there will be a checkbox in a settings menu like so - [] hide help text. Checking the box should add the class ".hide-help" to and element that has the class ".help-block"

[2015-04-02 22:56] tjmahlin commented on #431
My first thought on on this was to use a simple iframe with a jquery tooltip plugin for this to display the appropriate section of the wiki, but the content of iframes cannot be styled, which would result in some major visual dissonance between the application and the content of the tooltips. @josiahseaman [This](http://www.hashbangcode.com/blog/using-jquery-load-content-page-without-iframe) metho

[2015-04-03 16:51] tjmahlin commented on #435
Yes, I think an "update map" button makes sense. I will incorporate that into the modified page layout design.

[2015-04-03 17:10] tjmahlin commented on #309
I'm pretty sure we talked about this and came to some conclusion last time we were up in Ft. Collins, but I will add my response here for the record.

We should definitely do away with the two-step approach. However, I don't like the idea of a button that is always there but doesn't always do something. Would it be possible to programmatically check for available updates whenever the application s

[2015-04-03 20:32] josiahseaman commented on #309
Huh... I neglected to link any of my commits to this issue.  There's code in master that automatically hits the update button.  So currently it goes from "button that does nothing" to "button that marks for update when you close".  I like your UX better.  I can the check to the startup sequence.  The check takes about 0.8 seconds.  It's just that our startup is really long.  I've been looking for

[2015-04-03 20:58] tjmahlin commented on #435
@josiahseaman i have several commits to the ui_design branch (f95c4a1, 68920c2, 830033d, e6ed3bb, f95c4a1) that implement the layout and interactions discussed here and in issue #333. The layouts get a little bit flakey below 1250px viewport width as i'm using some funky clacs and vw units to control elements, but when we get to implementing column-based layouts everywhere, the wonkiness won't be

[2015-04-03 22:09] tjmahlin opened #469 "Overflowing Navigation Menu"
When the nav bar is populated with all possible destinations, we start to see overlap issues with the "view results" button at a viewport height of 786px. Nav panel should scroll vertically or collapse before overlap occurs.

![image](https://cloud.githubusercontent.com/assets/9221073/6989666/c0c314ea-da1b-11e4-8725-1ae0f9180503.png)

[2015-04-03 23:03] tjmahlin commented on #469
commit 1ae6efc contains css portion of fix for this problem. @josiahseaman for this to work we need an additional little piece of script that looks for overflow on the setupMenu id. if overflow = true, the visibility property on elements setupMenu:before and setupMenu:after should be changed from "hidden" to "visible"

![image](https://cloud.githubusercontent.com/assets/9221073/6990128/276dd5d4-da

[2015-04-03 23:04] tjmahlin commented on #469
just noticed that something i did there tweaked the left alignment of the setupMenu. I'll fix that as soon as possible.

[2015-04-06 14:36] casesp opened #470 "Command Window and GUI Confusion"
When starting the adsm.exe Windows executable it pops up a command window. (Window-less Window's executable).  This command window contains a lot of debugging messages along with error and alert messages.

Issue:  On my system, a fresh Windows 7 Professional virtual machine (VMWare) 4 core CPU with 6Gb or RAM, the command window stays in the foreground when the GUI screen finally pops up.  This ca

[2015-04-06 14:45] casesp opened #471 "Command Window Error Messaages"
When starting the adsm.exe program for the first time, the popped-up command window contains a lot of debugging information, along with error and alert messages.

This was run for the first time, as a fresh install of adsm, on a fresh Windows 7 Professional virtual machine (VMWare) with a 4 core CPU and  6Gb RAM.

Capture:
---------------------------------------------------------------------------

[2015-04-06 14:50] casesp opened #472 "ADSM versioning"
Running on a fresh install of adsm on a fresh Windows 7 Professional virtual machine (VMWare) with a 4 core CPU and 6Gb of RAM, the following behavior was observed:

Issue:  As instructed for testing purposes I selected "check updates" to verify that I had the latest release version.  The "check updates" was overwritten with the moving bars wait image and a host of messages appeared in the command

[2015-04-06 14:52] casesp opened #473 "check updates process"
Running on a fresh install of adsm on a fresh Windows 7 Professional virtual machine (VMWare) with a 4 core CPU and 6Gb of RAM, the following behavior was observed:

Issue:  As instructed for testing purposes I selected "check updates" to verify that I had the latest release version.  The "check updates" was overwritten with the moving bars wait image and a host of messages appeared in the command

[2015-04-06 14:56] casesp opened #474 "Program close process"
Running on a fresh install of adsm on a fresh Windows 7 Professional virtual machine (VMWare) with a 4 core CPU and 6Gb of RAM, the following behavior was observed:

Issue:  As instructed for testing purposes I selected "check updates" to verify that I had the latest release version.  The "check updates" was overwritten with the moving bars wait image and a host of messages appeared in the command

[2015-04-06 15:02] casesp opened #475 "Git Version Numbers Need to be Human Readable"
Running on a fresh install of adsm on a fresh Windows 7 Professional virtual machine (VMWare) with a 4 core CPU and 6Gb of RAM, the following behavior was observed:

Serious Issue:  As instructed for testing purposes I selected "check updates" to verify that I had the latest release version.  The "check updates" was overwritten with the moving bars wait image and a host of messages appeared in the

[2015-04-06 15:04] casesp commented on #475
Update debug messages:
-------------------------------------------------------------------------
Checking for updates...
remote: Counting objects: 274, done.
remote: Compressing objects: 100% (70/70), done.
rRemote: Total 274 (delta 125), reused 105 (delta 105), pack-reused 99eceiving o
Receiving objects: 100% (274/274), 2.87 MiB | 675.00 KiB/s, done.
Resolving deltas:  12% (20/163)
Resolving delt

[2015-04-06 15:12] casesp opened #476 "Program update process"
Issue:  The current program update methodology needs reworked

Explanation:

When epidemiologists use the software for research, they need to be absolutely certain that the entire software suite is identical throughout the entire research project.  Any models created and simulations run must be done so with the exact same code.  To do otherwise invalidates their study results, according to proper

[2015-04-06 15:15] casesp opened #477 "Starting program for the first time"
Issue:  When selecting aadsm.exe for the first time, a user is prompted with:
![initial run of addsm exe](https://cloud.githubusercontent.com/assets/6764142/7006298/3eef3ed4-dc3d-11e4-861c-dfedfbd8b823.png)

This in many cases will cause a user, due to security requirements imposed on them by their institutions and governments, to not continue with using the software.  I have worked with many fore

[2015-04-06 15:21] casesp opened #478 "Download and installation process"
Issue:  The download and installation process needs to be revamped.

1)  The download is quite large and takes a lot of time in comparison to past revisions and in comparison to other programs.
2)  The user is required to unzip or extract the download, after waiting for that download to complete.  This extraction process on a 3Ghz 4 core machine (virtual machine hosted on the same CPU with 16Gb of

[2015-04-06 16:08] casesp opened #479 "Startup Screen clipping"
The "ADSM" word is clipped in the startup screen of the GUI:
![startup screen](https://cloud.githubusercontent.com/assets/6764142/7007206/da1bafc6-dc44-11e4-9910-d72cf70ec6b5.png)

[2015-04-06 18:38] tjmahlin commented on #469
@josiahseaman this is all finished up, just need a little bit of script that looks for overflow on the setupMenu id. if overflow = true, the visibility property on elements setupMenu:before and setupMenu:after should be changed from "hidden" to "visible" before it gets merged into master.

[2015-04-06 22:02] casesp opened #480 "Force Reset and Update Process"
This is a handy tool, for sure, however, it has some issues

Issue:  The process fails on my testing system ( Fresh install of adsm on a fresh Windows 7 Professional virtual machine with a 4 core CPU and 6Gb RAM running in VMWare).  See image:
![failed forced reset and update](https://cloud.githubusercontent.com/assets/6764142/7013395/0150f368-dc76-11e4-8dfd-d0ff0adda729.png)

Suggestions:
1)  Thi

[2015-04-06 22:10] casesp opened #481 "Force Reset and Update process fails"
Issue:  The adsm_force_reset_and_update executable does not function on my system.  It fails to "unlink" every single file, and leaves the following debug messages:  (My system and login have administrative rights...there is no reason there should be permission denied messages, as seen below)

text capture
--------------------------------------------------------------------------
Importing Python

[2015-04-07 15:39] josiahseaman commented on #435
That looks really nice.  I'll start the work to merge it all in and update your branch as well.

[2015-04-07 15:49] josiahseaman commented on #435
Well, looking at the network graph https://github.com/NAVADMC/ADSM/network  ui_design branch is really behind.  Hopefully that doesn't hurt anything.  I'll start bringing it up to date.

[2015-04-07 16:58] josiahseaman commented on #474
Please search the open issues before you create a new one.  The update issues you mention are already covered in #309 and other places where we are discussing solutions.  The "exit" option is a style difference.  There's nothing defective about the current implementation.  It's a matter of opinion how this would work, so it's not a bug.  Please stick to find the most important bugs first.  TJ is a

[2015-04-07 16:58] #474 closed

[2015-04-07 20:14] josiahseaman commented on #435
![image](https://cloud.githubusercontent.com/assets/2256148/7032519/6b837958-dd30-11e4-9980-2a8409695b84.png)

[2015-04-07 20:27] josiahseaman commented on #435
![image](https://cloud.githubusercontent.com/assets/2256148/7032776/3a85d678-dd32-11e4-818c-727cf0eeca2d.png)

[2015-04-07 20:53] #435 closed

[2015-04-08 16:05] josiahseaman commented on #481
This is a duplicate #467 among others.  Please search for a related issue before creating a new one.  You can add a comment to the issue saying that you've confirmed this bug as of <commit X> and pasting the log.

[2015-04-08 16:05] #481 closed

[2015-04-08 16:06] josiahseaman commented on #480
This is a duplicate of #309 among others where TJ and Missy are discussing a better user experience.

[2015-04-08 16:06] #480 closed

[2015-04-08 16:10] josiahseaman commented on #309
I'm pasting some of Shaun's comments here since they were in another issue.  @tjmahlin, I thought these might be helpful for you to consider:

Issue: The current program update methodology needs reworked

Explanation:

When epidemiologists use the software for research, they need to be absolutely certain that the entire software suite is identical throughout the entire research project. Any models

[2015-04-08 16:10] josiahseaman commented on #476
Moved to #309

[2015-04-08 16:20] missyschoenbaum commented on #309
I think Shaun is still stuck in a place where the Force reset didn't work and the app didn't update.  @casesp can you give us a status?

[2015-04-08 16:29] BryanHurst commented on #478
This is already a planned step and will be worked on once we are no longer doing release candidates and have a fully working Linux and Windows distributable.

[2015-04-08 16:30] BryanHurst commented on #477
This would be coupled with Issue #478 and would be resolved when an installer is created.

[2015-04-08 16:57] BryanHurst commented on #470
The Console window will be hidden once we are doing non-testing releases.

[2015-04-08 18:26] casesp commented on #309
Yep, stuck, but Josiah has graciously created a new release candidate just for me.  I'll use that.

--- Original Message ---

From: "Missy Schoenbaum" <notifications@github.com>
Sent: April 8, 2015 10:20 AM
To: "NAVADMC/ADSM" <ADSM@noreply.github.com>
Cc: "casesp" <shaun.case@outlook.com>
Subject: Re: [ADSM] Check Updates - can we toggle watch on/off? (#309)

I think Shaun is still stuck in a plac

[2015-04-08 19:29] BryanHurst commented on #467
Diving further into this, we have an issue with Lib/SitePackages possibly being in use due to the Django files living there.

We don't want to copy the whole lib folder to the workspace each time we update as that would be excessive.
Maybe we should just copy the Django files?

Or move all the methods that are inside of the Django App into the update script?

[2015-04-08 20:31] casesp opened #484 "Import of legacy scenario failure"
This issue is for:  ADSM_3.2.22-RC5.2  build 7e47384

I tried to import a legacy scenario from NAADSM 3.2.19 (exported to XML) and recieved the following error messages: (It says something about special characters in the filename, I think.  The filenames are:  "Turkey 3.2.19 partial units scenario file.xml"  and "Turkey 3.2.19 partial units unit file.xml"   No special characters here.)

The data f

[2015-04-08 20:38] casesp opened #485 "Import legacy file failure (Not related to previous failure)"
This issue is for: ADSM_3.2.22-RC5.2 build 7e47384

An attempt to import a legacy scenario file, (exported from NAADSM 3.2.19 to XML), fails with the following error messages:  (This issue is not related to the filename problem in the last issue. The filenames were changed for this test)

![import of legacy scenario failure number 2](https://cloud.githubusercontent.com/assets/6764142/7054864/d7f9f

[2015-04-13 15:14] casesp opened #486 "Import of legacy Unit/Herd CSV file Fails"
for RC5.2

When importing the legacy CSV unit/herd file format, ADSM fails with the error:

"Error: Unrecognized csv header format. Please use: production-type, latitude, longitude, status, size"
See image:
![legacy csv file format import failure](https://cloud.githubusercontent.com/assets/6764142/7118528/199da884-e1bd-11e4-91b2-ef9e431bd12d.png)

Though the process is included to "import a legacy

[2015-04-13 15:26] casesp opened #487 "Import of legacy 3.2.19 scenario failure to list filenames"
This is for RC5.2

When using the legacy scenario import function, and after selecting a herd file to import, the import function does not show the filename on the form after "Save" is selected.

See image:
![import of legacy scenario just herd file](https://cloud.githubusercontent.com/assets/6764142/7118876/244b36aa-e1bf-11e4-9dac-35d743988738.png)

[2015-04-13 15:28] casesp opened #488 "Import of legacy scenario fails to import only the herd file"
This is for RC5.2

An attempt to import the legacy scenario herd/unit file fails.  A user cannot just import a legacy herd file.

See image:

![import of legacy scenario just herd file](https://cloud.githubusercontent.com/assets/6764142/7118911/6630e4ac-e1bf-11e4-916a-bdc41e5ebeae.png)

(Note:  The filename is not shown on this image due to another bug, listed in another issue)

[2015-04-13 15:37] casesp opened #489 "Program starts with the last scenario edited"
This is for RC5.2

This could be considered a user preference "feature", but for me, it is a fail.  The program loads the last edited scenario on startup, and I would like it to start with no scenario loaded.

Why this is important:
1)  The last scenario edited may be quite large.  This causes the user to wait far longer than they should have to just to close that scenario and start or load anothe

[2015-04-13 15:45] casesp opened #490 "Load a population previous files list does not show directory names"
This is for RC5.2

The load population form shows all of the previously used/opened, etc., population files.  This list shows only filenames and no directory names.  This is a bug.

Why this is a bug and not a user preference:

1)  The user needs to be able to see where these files are located or where they came from so that they can differentiate between them.

2)  If I attempt to load a file wit

[2015-04-13 15:54] casesp opened #491 "Attempt to download a previously used file on population form page"
This is for RC5.2:

Issue:  When attempting to load a previously used population file on the population form, the following error screen appears:
![trying to load a previously used file failure](https://cloud.githubusercontent.com/assets/6764142/7119403/99d4d4f0-e1c2-11e4-8340-0a789e83b21e.png)

This bug may be related to the issue relating to non-display of directory locations of previously used

[2015-04-13 16:04] casesp opened #492 "ADSM Workspace file storage bug"
This is for RC5.2

ADSM apparently copies files that it opens from other directories into the "ADSM Workspace" directory, without telling the user or asking the user where to place these files.

This is a serous bug:
Why:
1)  This causes files of the same name to automatically overwrite each other.
2)  This leads the user to believe that their files that they are working on for a project are still

[2015-04-13 16:32] casesp commented on #474
I am also an expert.

Please refer to the following:
https://msdn.microsoft.com/en-us/library/ms971323.aspx
https://msdn.microsoft.com/en-us/library/aa297210(v=vs.60).aspx
https://msdn.microsoft.com/en-us/library/windows/desktop/ff728831(v=vs.85).aspx

and for Windows 8 and 10:
https://msdn.microsoft.com/en-us/windows/desktop/aa511258.aspx

[2015-04-13 18:24] casesp opened #493 "Import of CSV file failure generates incorrect header information cue"
For RC5.2

An attempt to import a csv file for the population form when failing generates a cue about the correct header information to have in a csv file, however, that cue is incorrect information.  This is a bug.

See image below:
![import csv header informtion shown on error is false](https://cloud.githubusercontent.com/assets/6764142/7122279/aade2c64-e1d7-11e4-8484-037c2eed3aaa.png)

Further,

[2015-04-13 18:38] casesp opened #494 "User feedback on errors for CSV import"
for RC5.2

There is no useful user feedback when a csv file import in the population screen fails.  No error messages contain valid information, and no valid or reasonable indication is given about the nature or cause of the failure.

This is a serious bug.

<b><u>General message going forward:</u></b>
Failure to generate appropriate user feedback messages does not allow for the user to be able to

[2015-04-13 20:22] missyschoenbaum commented on #489
I know TJ and Ann discussed this at our last tinker day.  @tjmahlin  is there already a ticket?

[2015-04-13 20:30] missyschoenbaum commented on #486
I think our issue here is need to sort out exactly what comes out of the legacy system. So, does Size need to be changed to unitsize, and production-type need to be changed to productiontype?

[2015-04-13 20:33] missyschoenbaum commented on #486
Also, the message is descirptive of the field names it expects.  Does the wording need to change from:"Error: Unrecognized csv header format. Please use: production-type, latitude, longitude, status, size"
to
"Error: Unrecognized csv header format. Please use fieldnames: production-type, latitude, longitude, status, size"
(or names as we settle on them from old NAADSM)

[2015-04-13 22:01] missyschoenbaum commented on #488
Can you give me the use case on this?  The user should be able to add the population from an old scenario from the population tab.  Should they be able to do only population from both places?

Also, would we have the opposite where they add only parameters but not populations?

[2015-04-13 22:03] missyschoenbaum commented on #488
Sorry, I needed to point this back to you @casesp  - see questions

[2015-04-13 22:12] missyschoenbaum opened #495 "Legacy Import - Performance Problem"
for RC5.2  build
Steps to recreate
open app
select Open
Select Import NAADSM Legacy Scenario
Use the Choose File button to select a parameter file
Use the Choose File button to select a population file:
have image - Image may insert at the bottom
![legacyimport](https://cloud.githubusercontent.com/assets/6644604/7126607/d6923bf0-e1f7-11e4-809b-6625202a5f72.png)

Select the Save changes button

get

[2015-04-13 22:22] missyschoenbaum commented on #487
If I have selected a file, mine show.  @casesp What am I missing?
Steps to recreate on RC5.2 as show in image
Select open
Select import legacy scenario
select Choose file button for parameters, navigation opens to select a file
select Choose file button for population, navigation opens to select a file
 At the moment, this is failing as noted in #495, but I am able to see the filenames.

![legacyi

[2015-04-13 22:26] missyschoenbaum commented on #486
Sorry, need to send back to you @casesp

[2015-04-13 22:29] missyschoenbaum commented on #486
@casesp  Is this what we need to match?
![csvspecs_userguide32](https://cloud.githubusercontent.com/assets/6644604/7126858/2ea0d368-e1fa-11e4-879d-2273408d8308.png)

[2015-04-13 22:31] missyschoenbaum commented on #486
And, then we take HerdID/ID all other fields that do not match given list and fill the user notes. The identifier is assigned without user intervention.  The user may reference the user notes to find a given unit.

[2015-04-13 23:05] missyschoenbaum commented on #494
![popfailformat](https://cloud.githubusercontent.com/assets/6644604/7127281/221ca4aa-e1ff-11e4-9d38-83006bb2c93a.png)
@casesp I think this crosses over other ticket - this is user feedback I am seeing. Do you have other suggestions?

[2015-04-14 13:36] casesp commented on #486
They are not the correct names or in the correct order.  But those contained in the last example file you sent me are the correct ones.

--- Original Message ---

From: "Missy Schoenbaum" <notifications@github.com>
Sent: April 13, 2015 2:33 PM
To: "NAVADMC/ADSM" <ADSM@noreply.github.com>
Cc: "casesp" <shaun.case@outlook.com>
Subject: Re: [ADSM] Import of legacy Unit/Herd CSV file Fails (#486)

Als

[2015-04-14 13:37] casesp commented on #488
One method utilizes the XML format while the other utilizes the CSV format.

--- Original Message ---

From: "Missy Schoenbaum" <notifications@github.com>
Sent: April 13, 2015 4:01 PM
To: "NAVADMC/ADSM" <ADSM@noreply.github.com>
Cc: "casesp" <shaun.case@outlook.com>
Subject: Re: [ADSM] Import of legacy scenario fails to import only the herd file (#488)

Can you give me the use case on this?  The u

[2015-04-14 13:38] casesp commented on #487
They show until the big yellow failure message, then no filenames show.

--- Original Message ---

From: "Missy Schoenbaum" <notifications@github.com>
Sent: April 13, 2015 4:22 PM
To: "NAVADMC/ADSM" <ADSM@noreply.github.com>
Cc: "casesp" <shaun.case@outlook.com>
Subject: Re: [ADSM] Import of legacy 3.2.19 scenario failure to list filenames (#487)

If I have selected a file, mine show.  @casesp Wha

[2015-04-14 13:39] casesp commented on #486
No, this is the old NAADSM format.  This format does not work in ADSM.

--- Original Message ---

From: "Missy Schoenbaum" <notifications@github.com>
Sent: April 13, 2015 4:29 PM
To: "NAVADMC/ADSM" <ADSM@noreply.github.com>
Cc: "casesp" <shaun.case@outlook.com>
Subject: Re: [ADSM] Import of legacy Unit/Herd CSV file Fails (#486)

@casesp  Is this what we need to match?
![csvspecs_userguide32](http

[2015-04-14 14:41] casesp commented on #494
Yes, I think we need a basic issue ticket to cover "user feedback" in a general sense.  Marking it as deficient for each and every case is too cumbersome for GitHub's issue tracking system.

What do you think, should we just create a main "general" ticket for more effective and correct user feedback?

[2015-04-14 14:43] casesp commented on #486
Sorry, If I didn't make this clear...I'll work on my documentation for future issues.  So, for this one, suffice it to say, the information provided by the "user message" when the import fails is incorrect, and the information found on the Wiki is also incorrect.  There is no user documentation to instruct the user on the proper and correct formatting of these files for this ADSM version.  The fil

[2015-04-14 14:54] casesp commented on #489
Sorry, searching for those old tickets is not always straight forward for a couple of reasons, so I did not look for it before creating this one.

The reasons are:
1)  The same wording or words to describe the ticket are not always present
2)  From my past QA experience, each ticket should, ideally, be assigned to a specific version of the software so that verifying their completion is easier for

[2015-04-14 15:09] missyschoenbaum commented on #413
An alternative it to send it to our group mailbox, which is vs.ceah@aphis.usda.gov.  It would help if we can force ADSM into the subject.  Also, I need to know when we would start getting messages to this email box.

[2015-04-14 15:14] missyschoenbaum opened #496 "Population - java error message getting trimmed"
The error message is cutoff
![javaerror](https://cloud.githubusercontent.com/assets/6644604/7139981/4acce95a-e286-11e4-9566-5adaaae52b1f.png)

Steps to recreate
Open Application, create new scenario, and name
Select population tab
hit Import a Population - this is done WITHOUT selected a correct file
Error message appears, but is cut so that user cannot see OK button to clear error
I am OK with th

[2015-04-14 15:15] missyschoenbaum commented on #496
7e47384 is the build

[2015-04-14 15:25] BryanHurst commented on #413
I just realized that this is not a good solution.

To be able to send an email, you need an SMTP server. This would work on the Cloud version as we can privately store SMTP credentials on the server, or even install our own like Postfix.

However, in the desktop environment, we would have to deploy SMTP credentials on the Github server and all the installations.
This is just asking for somebody to

[2015-04-14 15:29] missyschoenbaum opened #497 "Population - error when selecting wrong file"
This error happens when I select an xml file that is not a population  (it is a legacy parameter file)
![popfaillegacyparameter](https://cloud.githubusercontent.com/assets/6644604/7140147/13ff1eec-e287-11e4-897f-0f199b6e28aa.png)

Steps to recreate
Open Application, create new scenario, and name
Select population tab
Select the parameter file - Note that I did not go to choose file,
initially, I j

[2015-04-14 15:49] tjmahlin commented on #333
this is pretty well wrapped up and ready to pull into master.

[2015-04-14 16:11] tjmahlin commented on #489
@missyschoenbaum, we have indeed discussed this and an alternate interaction has been outlined in issue #429. There is an even more robust open interaction outlined in my Launchpad and [File Management spec](https://github.com/NAVADMC/ADSM/blob/gh-pages/images/04%20Launchpad%20and%20File%20Management_v1.pdf), but that isn't slated to be implemented in the present version.

[2015-04-14 17:41] missyschoenbaum commented on #492
Using managed file management allows us to easily move to the cloud, which is a goal of Emergency Management. We are doing many more processes that require users to use smart, explicit names.  This is another example.

The suggested improvement for comparison will include more robust file management. Those are not expected to be completed in this release.

[2015-04-14 17:42] missyschoenbaum commented on #492
@tjmahlin I am putting a design label on this so we have visibility to it when we are able to work on comparisons.

[2015-04-14 17:59] missyschoenbaum commented on #486
OK, so I have tested that the field names that are shown in the table will upload into old NAADSM, so that will be our format.  Can we change the mapping as follows:
production-type becomes productiontype
latitude becomes lat
longitude becomes lon
size becomes herdsize or unitsize
I am thinking that the order was not critical, as the method being used reads the header and identifies the fields.
@s

[2015-04-14 18:01] missyschoenbaum commented on #494
@tjmahlin I am throwing this to you, as you will manage the consistent application of user feedback.  If we already have it covered, please close.

[2015-04-14 21:25] missyschoenbaum commented on #413
Just as a reference point, the old application will send you to either a bug reporting list, or to the general website.  Up until we have a support agreement, we don't have a website, or a bug reporting list that we would want to expose to the public.

So, is our option to post static text directing them to email the aphis address request that the subject line start with "ADSM"?

[2015-04-14 21:32] missyschoenbaum commented on #490
This issue relates to the managed file system issue as discussed in #492

[2015-04-14 21:32] #490 closed

[2015-04-14 21:34] missyschoenbaum commented on #487
@casesp just to confirm, we have a bug on save (big yellow screen), but not with filenames showing

[2015-04-14 21:41] missyschoenbaum commented on #491
@casesp can you provide steps to recreate?  I am not sure exactly what "attempting to load a previously used population file on the population form," looks like in steps.  i did steps on #497 if you need to see example, not looking for extreme detail, just trying to figure out order, what you selected and clicked.

[2015-04-14 21:44] missyschoenbaum commented on #493
I requested update to header in #486, and also requested info on how to fix documentation.

[2015-04-14 22:24] missyschoenbaum commented on #485
I was bad and didn't search for this - so I ticketed it also in #495.  Mine has steps to recreate, so I am closing this one.

[2015-04-14 22:24] #485 closed

[2015-04-14 22:29] missyschoenbaum commented on #484
@casesp as a reference point, the special characters that are not allowed in production type names are:
comma ,
doubletick "
singletick '
slash \
This is under discussion in #5

[2015-04-14 22:33] missyschoenbaum commented on #484
@casesp kick this back to me if you do find that one of the 4 special characters is a production type name. I am not certain what exactly else would be failing a special character, but it needs to fail it more nicely than a yellow screen.

[2015-04-14 22:34] missyschoenbaum commented on #479
@tjmahlin I know we have this one going somewhere else also.  Can you reference and close?

[2015-04-14 22:36] missyschoenbaum commented on #475
@BryanHurst is there something more than we need to do to follow up on this?

[2015-04-14 22:41] missyschoenbaum commented on #452
Still no answer

[2015-04-14 22:43] missyschoenbaum commented on #473
@tjmahlin Sorry, I know we have this one going somewhere also.  Can you associate and close?

[2015-04-14 22:45] missyschoenbaum commented on #472
I am not sure how this is different.  @tjmahlin is working on flow for update process

[2015-04-14 22:45] #472 closed

[2015-04-15 13:34] casesp commented on #491
Steps to recreate:

1)  Go to "Documents\ADSM Workspace" and remove any files named  "Simple Units.csv".  (There shouldn't be any, but in case you had one, make sure you no longer do.)

2)  Build a CSV import file "Simple Units.csv" containing the following information: (NAADSM 3.2.19 CSV valid formatting)
UnitID,ProductionType,UnitSize,Lat,Lon,Status,DaysLeftInState
1, "Cattle", 100, 40.422521, -

[2015-04-15 13:36] casesp commented on #487
Yah, there is a bug with the showing of the filenames also, I think.

Once the error happens, the filenames that were listed are no longer listed.  This leads to confusion since the user is likely to double check that they used the correct file, but will not be able to do so since the filename input box has been cleared during the error reporting.

[2015-04-15 13:38] casesp commented on #484
@missyschoenbaum The special characters listed are not found in the file or within the filename used.  So the error message confusion still stands.  Why did this attempt fail?  It used to work in RC5.1

[2015-04-15 13:42] casesp commented on #479
I know we discussed it at the last debug session, but I'm not sure it was entered as an issue.  Also, if you find it or use this one, could we add some additional screen clipping issues?

1)  Once ADSM is loaded and you are traversing the various forms, if you resize the ADSM GUI screen, it is possible to have components on the form start overlapping each other.  (I don't know if you guys use HTML

[2015-04-15 13:44] casesp commented on #467
Also, can you guys make this an automated feature, so the user doesn't have to do this on their own?

[2015-04-15 14:02] casesp commented on #491
Additional information:

This bug happens anytime that you select the download link for any file listed in the population form.  (I just happened to notice it happening when attempting something else....)  So the steps to recreate above are not entirely necessary.

New steps to re-create:
1)  Start a "new" scenario
2) goto the population page
3) select the download link for a file listed on the fo

[2015-04-15 14:11] casesp commented on #491
Re worded the title of this bug, now that I've done some debugging to figure out what is happening. This is a "download" link problem in the population form page.

[2015-04-15 14:20] casesp opened #498 "Unwanted file content overwriting in the "ADSM Workspace" directory of previously used files."
Steps to recreate:

1) Go to "Documents\ADSM Workspace" and remove any files named "ADSM Simple Units.csv". (There shouldn't be any, but in case you had one, make sure you no longer do.)

2) Build a CSV import file "ADSM Simple Units.csv" containing the following information: (NOTED  This formatting will be changed when bug #486 is fixed )
HERDID,PRODUCTION-TYPE,LATITUDE,LONGITUDE,STATUS,SIZE
1,Ca

[2015-04-15 14:21] casesp commented on #492
See also #498

[2015-04-15 14:22] casesp commented on #498
Please note that this can cause issues for effective testing of the software.  All testers in QA should be aware that using the previously used file list on the population page is not a good idea.

[2015-04-15 14:25] casesp commented on #492
Also, I disagree that this is typical of cloud storage and managed files.  No cloud storage facility requires unique filenames.  All cloud storage facilities utilize directories and standard naming conventions found on any computer.

At a bare minimum, if you must require unique filenames, (which I find no valid reason for), you must then also check that you are not overwriting files of the same n

[2015-04-15 14:55] BryanHurst commented on #467
Are you asking for the program to update automatically without prompting the user? I think this could cause issues if a user isn't ready for their scenario files to be updated to a new version.
It is probably best to only update when the user requests it via an 'Update Now' button, as it is currently.

[2015-04-15 15:00] BryanHurst commented on #413
We might be able to launch Outlook (or what ever other email program the user uses) with the To: and Subject: fields already filled in.

I'm not certain if we can do this from within our custom browser, but it wouldn't take but a few minutes to test out.

[2015-04-15 15:18] BryanHurst commented on #475
I think that two things do need to happen on this.

1) We need to come up with a user friendly way of interpreting the Git Hash of a specific update. It needs to be obvious of a sequential order so the user knows that they are 'behind' and not 'ahead'.

2) There should be a new UI spec to make the update process more smooth. Possibly always show the current version number in small gray in the top

[2015-04-15 15:31] missyschoenbaum commented on #491
OK, I see now.  This is simply that the download is not working.

On opening other tickets, I agree we should prompt.  It seems to me that you covered this in #498 so I don't think another ticket is needed.  And Item 3 you covered in #492, so I don't think we need another ticket on it either.

[2015-04-15 15:33] missyschoenbaum commented on #498
@josiahseaman can we prompt before we overwrite?

[2015-04-15 15:35] missyschoenbaum commented on #475
@BryanHurst TJ already has a ticket going on Item 2, so we are covered.  I will leave this one with you.  You can relabel if that helps you keep up with it.

[2015-04-15 15:46] tjmahlin commented on #479
the element overlap and the logo clipping are actually a peculiarity in the deliverable implementation that doesn't occur when running the app through the developer environment. The way the styling is written for the element layout, the overlapping absolutely should not occur... (very strange, frustrating, and difficult to diagnose) I'm currently exploring more bug-proof alternatives. As far as ta

[2015-04-15 16:08] casesp commented on #467
No, no...just asking that the "force reset..." executable be automated,,,

[2015-04-15 16:11] casesp commented on #475
@BryanHurst  Sounds great to me

[2015-04-15 16:12] casesp commented on #491
Sounds good.

[2015-04-15 16:32] missyschoenbaum commented on #488
When the NAADSM user uses the File, Export scenario they are not given the option of the file type to export, only XML is generated.  The user may export the population as a CSV, but the parameters will never be exported as a csv.

ADSM will import a population as either format, xml or csv.

It is nice to give users flexibility, but I cannot afford at this point to give them every option in the un

[2015-04-15 16:33] missyschoenbaum commented on #488
Leave issue open until I doco on wiki.

[2015-04-15 16:40] missyschoenbaum commented on #416
If we set the screen to open to max, would that resolve?

[2015-04-15 21:22] tjmahlin commented on #416
Well, we wouldn't have the overlapping issue, that's for sure, but I we definitely don't want to force users to work in a maximized environment. From a general application standpoint, it's very restrictive; from an ADSM-specific perspective, users frequently pull information from other sources on their desktops and a movable, sizable window for ADSM is very important.

[2015-04-15 21:24] tjmahlin commented on #416
I have tapped the extent of my development knowledge on this one. These issues are not a direct result of HTM and CSS, and must be caused by something in the back-end. Kicking this one back to you, @josiahseaman

[2015-04-16 19:04] tjmahlin commented on #473
yep, this is over on #309

[2015-04-16 19:04] #473 closed

[2015-04-16 19:11] tjmahlin commented on #309
There have been numerous issues revolving around this interaction over the previous months, so I have created an overarching [spec for update interactions and the associated UI](https://github.com/NAVADMC/ADSM/blob/gh-pages/images/11%20application%20update%20interactions.pdf) leveraging the soon to be implemented Setup Menu from the application toolbar. @josiahseaman @missyschoenbaum, I believe we

[2015-04-17 15:44] casesp opened #499 "File open dialog boxes"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]
See also:  #428 [This issue is slightly different...but you may want to merge]

<b>Test Category:</b>  Basic
<b>Test Name:</b>  File open processes
<b>Software tested:</b>  ADSM 3.2.22-RC5.2 (7e47384)
<b>Host computer:</b>  Win7ProVMWare

<b>Description</b>
This test verifies that all file open proc

[2015-04-17 16:01] missyschoenbaum commented on #499
I would say we make sure this happens in all places we choose a file in a consistent fashion:
In the Import Legacy  - this would be only .xml
in the import population - this would be .xml or .csv
in the relational function, to import files, this would be .csv

@josiahseaman Am I missing any other places we import files?  I want to get them all in one issue.

[2015-04-17 16:29] casesp opened #500 "Incomplete Scenario Import, attempt to edit causes failures."
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]
See also: #495, maybe related to this error, but please see **_Results_** in this section about further issues.  Given that the error message speaks to a locked database, please revisit #474 as this close, after the import failure, did not unlock the database, apparently.]

*(Please note, I attempte

[2015-04-17 17:25] casesp opened #501 "Memory leak"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Test Category:**  GUI Advanced
**Test Name:** Memory Usage

**Software:**  ADSM 3.2.22-RC5.2 (7e47384)
**Machine:**  Win7ProVMWare

**Description**
This test evaluates the memory usage of the ADSM program.
It is designed to catch memory leaks by observing the performance monitor and task manager

[2015-04-17 20:46] tjmahlin commented on #389
Specs for the widget are [here](https://github.com/NAVADMC/ADSM/blob/gh-pages/images/12%20Multi-level%20priority%20widget.pdf). And here is a screen shot to in case you don't want to jump into the full spec:

![image](https://cloud.githubusercontent.com/assets/9221073/7210540/ed31f7d6-e50f-11e4-9b46-9fe4f6b99a0a.png)

@josiahseaman, [this jquery plugin](http://jqueryui.com/demos/) looks like it wi

[2015-04-20 22:40] missyschoenbaum commented on #500
@ndh2 I am not sure if this is yours or Josiah's.

[2015-04-21 17:06] missyschoenbaum commented on #500
@casesp Let's manage the first problem before we start in the amount of time.

[2015-04-21 17:12] josiahseaman commented on #486
Adding more file formats is fairly trivial.  I just needed an example file to work with.  We now support NAADSM xml, NAADSM CSV (with state code characters), 2 versions of FLAPS and some other file format that someone sent me.  It just keeps trying until it gets something.

[2015-04-22 14:42] josiahseaman commented on #501
### Notes for investigating this in the future:

Python server memory usage isn't very similar to C program usage where memory leaks can be killers.  The most likely culprit is always matplotlib figures, since they persist on the pyplot interactive level.  Which is why I have

[code]

The other possible culprit is leaving files open, but those get closed when the file pointer leaves scope and ther

[2015-04-22 15:35] casesp commented on #501
The increase in use happens every time a left navigation panel item is chosen.  So, it shouldn't be related to a file, for sure.  Since I didn't write the code I can't say for sure where the leak is, however I can say based on experience that it appears to be related to the instantiation of a "form" type object that is related to a particular navigation item, and that each click of that item is ca

[2015-04-22 15:49] casesp commented on #501
By the way. ;-)   Python is written in C ...  not sure what you meant about the difference between Python and C.

[2015-04-22 17:10] #378 closed

[2015-04-22 17:33] josiahseaman commented on #501
Put simply, this isn't an important test to do in a managed language on a server architecture.  This would be an important test to do in the older desktop programs that you're used to.  On a server, there are multiple levels of threads, workers, and in fact several servers, all of which do caching.  I wouldn't be surprised if the memory footprint doubles in size as compared to the first launch.  T

[2015-04-22 17:45] josiahseaman commented on #309
TJ, once again you make lovely comps.  I can see you've thought through this issue.  Just one thing I'd like to change after running it by you.  The whole download progress bar is technically unnecessary based on the way we're doing it.  Based on the latest changes (today) here's what happens:

* ADSM.exe starts
* Another process fetches (downloads) the current head from github.com
    * This does

[2015-04-22 18:32] josiahseaman commented on #499
Thanks for pointing this out Shaun!  I already had the code but I found a typo that was preventing it from running.  File types are separated by commas, not spaces.

![image](https://cloud.githubusercontent.com/assets/2256148/7282053/a51a938e-e8ea-11e4-970a-140b861bb7fc.png)

[2015-04-22 18:41] #499 closed

[2015-04-22 19:34] tjmahlin commented on #309
Yes, I think that should work fine. However, we should allow the user to disable the notification feature (the badge icon on page two) and change the language for the updates toggle to say, "Notify me when updates are available." I don't think any of the other specified interactions need to change, we can just get rid of the pop-up notification, the progress bar, and the mini-download ui component

[2015-04-22 20:48] casesp commented on #501
Memory tests are important regardless of architecture.  By the way this isn't a "server" it is, in fact, a desktop application acting as a server application....trust me, I've written more than my share of servers, as well as the underlying libraries to act as these kinds of architectures that you are using.  I've also written multitasking operating systems themselves, along with compilers, and re

[2015-04-22 21:02] casesp commented on #501
By the way your comments directed at my age and the "old" applications that I am "used to" is wholly  inappropriate and discriminatory, and against current policy and procedure in federal employment.

 My age and years of experience do not subtract from my worth as a USDA contractor, but rather add to it. I am not some antiquated fuddy-duddy waiting for my social security check, as you imply.

I a

[2015-04-22 21:11] josiahseaman commented on #501
I didn't close this issue because it's an important issue that I plan on looking at later.  That's why there's notes to myself on "Notes for investigating this in the future".  I was taking notes for myself, since I have a poor memory.  I'm not sure how you managed to take offense at anything I said.  Perhaps you thought I was correcting you?  That's cool that you have programming experience.  I d

[2015-04-22 21:26] casesp commented on #501
:-)

[2015-04-23 15:28] casesp opened #502 "Update fails to unlink files (permission denied)"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Category:**  Basic
**Test Name:**  Check Updates
**Software version:**  ADSM 3.2.22-RC6 (2d85671)
**Machine**: Win7ProVMWare11

**Description**
This test examines the "check updates" functionality of the program

**Expected Outcomes**
The program should update to a newer version if available.
The

[2015-04-23 16:24] casesp opened #503 "Population file import: When file (csv or xml) contains invalid data, data is imported anyway and changed"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Category:** Population import
**Test Name:** Import population file CSV and XML (with errors)
**Software version:** ADSM 3.2.22-RC6 (2d85671)
**Machine:** Win7ProVMWare11

**Description**
This tests the ability to import an existing CSV population/herd file using the current format that ADSM expe

[2015-04-23 16:39] #138 closed

[2015-04-23 16:52] casesp opened #504 "Population map cuts off border units, and legend covers some of map"
Just noticed this during testing of importing unit files.  The map trims off half of the border units' visible marker and the legend covers the bottom left corner of the map data.  Please note, that as shown in the second image, this is far less noticeable for very large scenarios  (whole country shown there)

![map of units trims off units on edges and legend overlaps map-2015-04-23-10-49-00](htt

[2015-04-23 17:09] casesp opened #505 "Production type name "add" cancel leaves the unit production type name changed to "add""
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Category:** Population Editing
**Test Name:** Cancel a production type add
**Software version:** ADSM 3.2.22-RC6 (2d85671)
**Machine:** Win7ProVMWare11

**Description**
This test verifies that the program will gracefully handle a canceled production type add in the population form datasheet edit

[2015-04-23 17:24] casesp opened #506 "Airborne transmission and within unit prevalence definition does not fit 3.2.19 specifications"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Software version:** ADSM 3.2.22-RC6 (2d85671)
**Machine:** Win7ProVMWare11

**Description:**
This test looks at the definitions supplied by the software with reference to its model and their meaning with respect to how the CEngine runs the simulations for the Disease form page

**Expected Outcome

[2015-04-23 17:40] tjmahlin opened #507 "Screen bounce"
The DOM architecture presently allows for both vertical and horizontal "overscrolling" resulting in an unpleasant screen bounce. We should be able to alleviate this by adding a "container" element after the body tag on each page. We can then set the body to width and height to 100% with the overflow hidden, and allow scrolling to occur in the container element. There is a ton of styling that trick

[2015-04-23 17:48] casesp opened #508 "New Disease Progression form does not save partial data"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Category:**  Epidemiology Parameters
**Test Name:** Disease Progression (new)
**Software version:** ADSM 3.2.22-RC6 (2d85671)
**Machine:** Win7ProVMWare11

**Description**
This test verifies that a user can enter a new disease progression.  It also tests the case where a user may begin to enter d

[2015-04-23 17:53] casesp commented on #506
Perhaps we should link the users to the Model Specifications instead for this material??

[2015-04-23 18:08] tjmahlin commented on #333
looks like some stuff got left out in the merge. look at the way the filters are stacking at narrower viewport sizes.

how it looks on ui_design branch:
![image](https://cloud.githubusercontent.com/assets/9221073/7303705/9f97ce2a-e9af-11e4-849d-ff4639210774.png)

and how it looks in master as of now:
![image](https://cloud.githubusercontent.com/assets/9221073/7303716/beab49f4-e9af-11e4-982f-6297ed

[2015-04-23 18:12] josiahseaman commented on #333
This is how it looks for me as of b9b04ee37d834f2633c4f7e3299559151d25a25c

![image](https://cloud.githubusercontent.com/assets/2256148/7304055/e77184dc-e9b1-11e4-951e-d208eafe83bb.png)

[2015-04-23 18:16] tjmahlin commented on #333
huh, well that looks correct. and you even have the horizontal scroll on the population grid... well good. looks like i didn't pull in all the changes. The checklist items still apply. Reassigning to me.

[2015-04-23 18:33] tjmahlin opened #509 "Secondary opaque white background behind warning modals"
I've been aware of this one for a while... When confirmation and warning modals are triggered, the appropriate transparent black background is loaded and then an opaque white mask is loaded in front of it (or the style is changed).

![image](https://cloud.githubusercontent.com/assets/9221073/7304466/d8cafcc6-e9b4-11e4-82b4-eea72bb842ed.png)

Interestingly, when focused is removed from the browser

[2015-04-23 19:29] casesp opened #510 "Filenames not allowing '.' in them."
This may be related to the cause of some of the difficulties in #484
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Category:** Basic
**Test Name:** Naming a Scenario
**Software version:** ADSM 3.2.22-RC6 (2d85671), ADSM 3.2.22-Release1 (76d2110)
**Machine:** Win7ProVMWare11

**Description**
This test examines the ability of the user to name

[2015-04-23 19:34] casesp opened #511 "Changing a scenario name causes two duplicate sqlite files"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Category:** Basic
**Test Name:** Renaming a Scenario
**Software version:** ADSM 3.2.22-RC6 (2d85671)
**Machine:** Win7ProVMWare11

**Description**
This test examines the ability of the user to rename their scenario

**Expected Outcomes**
1)  The program should allow the user to rename the scenari

[2015-04-23 20:56] casesp commented on #503
This error also happens when other columns are invalid.  For instance, the program allows an import to succeed for a latitude exceeding +90, which is impossible.

**Issue demonstrates the need for:**  Error checking and validity checking during file import routines.

[2015-04-23 21:03] casesp opened #512 "Mapping will map invalid lat/long numbers from imported files."
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report.  See also #503, related but not same issue]

**Category:** Population import validity errors
**Test Name:** Import population file with errors in Latitude
**Software version:** ADSM 3.2.22-RC6 (2d85671)
**Machine:** Win7ProVMWare11

**Description**
This tests the ability to import an existing CSV po

[2015-04-23 21:21] casesp opened #513 "CSV and XML import of same data results in different data in the program"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report.]

**Category:** Advanced Population Import
**Test Name:** Comparison between CSV and XML data
**Software version:** ADSM 3.2.22-RC6 (2d85671)
**Machine:** Win7ProVMWare11

**Description**
This test verifies that the program will import the CSV and XML file data exactly in the same manner for the sam

[2015-04-23 22:05] missyschoenbaum commented on #506
@casesp does the model specification provide an adequate description?

[2015-04-23 22:14] casesp commented on #506
Yes, for airborne spread and a few others, it is quite good.  I don't see Within Unit Prevalence in there...but I may be missing it somehow.

[2015-04-24 20:12] tjmahlin commented on #333
@josiahseaman. I have repaired the issues i noted in this screen yesterday and committed the changes to ui_design on commit 3d6929d. A couple of other minor changes went in today as well and are ready to be pulled into master.

[2015-04-24 22:00] missyschoenbaum commented on #506
I had to check to be sure, but these definitions were generated by

This document is based on a copy of the technical publication "Lexicon of disease spread modelling terms" originally published in Rev. sci. tech. Off. int. Epiz., 2011, 30(2), 547-554. It is provided here for convenient use in the Animal Disease Spread Model program under fair use. Formatting has been modified to fit the wiki form

[2015-04-24 22:17] BryanHurst commented on #502
We have confirmed this in Windows 7.
It works in Windows 8 and Linux.

I'll be following up more with the update issues after we are done moving.

[2015-04-25 19:49] casesp commented on #506
Okay.  Perhaps we should remove the link in the program until that time?  (A user will be confused by the difference between the generic definitions and the model spec, I think.)

[2015-04-26 17:52] casesp commented on #502
Okay.  Can you point me to the Linux distribution so I can test other features there?  (I didn't know you had that already )

[2015-04-27 17:05] BryanHurst commented on #502
There isn't currently a distribution, it is only a developer build that
requires you to have all the dependency packages already installed.

On Sun, Apr 26, 2015 at 11:52 AM, casesp <notifications@github.com> wrote:

[2015-04-28 15:51] casesp commented on #502
Ah, okay...I'll hold off then.

[2015-04-28 21:10] missyschoenbaum commented on #504
I think we have to figure out realistic bottom ranges on a population and how to mange that range.  Will post to analysts.

[2015-04-28 21:24] missyschoenbaum commented on #452
Still no answer - I guess we can offer user suggestions to download their own package.  I will close this unless an answer pops in.

[2015-04-28 21:24] #452 closed

[2015-04-28 21:31] missyschoenbaum commented on #513
I hadn't predicted that xml files would have extra columns.  Will determine expected action.

[2015-04-30 19:14] #333 closed

[2015-04-30 19:16] josiahseaman commented on #333
![image](https://cloud.githubusercontent.com/assets/2256148/7420593/f39e0d96-ef3a-11e4-9b80-73f5e3a5ce23.png)

Added the "Clear Filters" button.  This updates the farm list immediately, but not the map.  This is consistent with the behavior for when you are adding filters.

[2015-05-01 19:30] missyschoenbaum commented on #504
I tested this with 7, 24, 50,75 units.  It seems that the legend size follows the marker size, and therefore is very large when there are only a few units,  This resolves about 50 units.

Analysts gave 24 as a low range.

[2015-05-01 19:32] missyschoenbaum commented on #502
@BryanHurst I am not sure what milestone to put this in, can you assign?

[2015-05-11 15:11] ndh2 commented on #139
@josiahseaman what do you think of creating a migration to put in the second vaccination capacity chart? Even if it's undecided how that will appear in the UI, having a place in the database reserved for that chart will let me put in the tests of restarting with different capacity.

[2015-05-18 20:13] #420 closed

[2015-05-18 20:15] josiahseaman commented on #139
@ndh2 Yes, I think you're correct.  I'll do that tomorrow.  I was hesitant to add more migrations, but now that V3.3 will be becoming the master in active development, I don't mind lots of migrations.

[2015-05-18 20:22] boomtown15 opened #515 "Update Selenium tests per latest 3 panel UI changes"
Selenium tests will need to be updated to accommodate new 3 panel layout in the UI.  This will require rewriting existing and adding additional tests for new UI.

[2015-05-18 20:42] josiahseaman commented on #416
@BryanHurst My best guess is that these issues are caused by a renderer difference between Chrome and our Chromium.  We can't reproduce these in Chrome, but they show up all the time in the distributable.  Please check the engine version numbers, specifically the CSS renderer and see if there's any difference there.

[2015-05-18 21:05] josiahseaman opened #516 "Detail Issues for Cloud Platform Deployment"
@BryanHurst Would you please create some issues in this milestone for what needs to be done on the Cloud platform in the next two weeks.

[2015-05-19 14:48] BryanHurst commented on #416
The current version of CEF that we are using is two releases behind. I would like to update, but we don't have an easy way of accomplishing this currently.
@josiahseaman I would like to work with you on upgrading our CEF source and making it more maintainable.

[2015-05-19 14:54] BryanHurst commented on #325
PyProj does work on Mac when the correct dev environment is installed for compiling it. Be careful of having old versions of the Mac C compiler installed previously as you might have some old PATH info.

[2015-05-19 14:54] #325 closed

[2015-05-19 14:54] #419 closed

[2015-05-19 14:57] #114 closed

[2015-05-19 15:06] BryanHurst opened #517 "Move CEF into separate module"
- [x] find common source zip
- [x] create github repo off of the old
- [x] branch our latest code
- [x] branch their latest code
- [x] merge branches

CEF should be moved into a new repo to make it more modular and updateable.

There will probably be different repos for Windows and Linux, and the compiled result should be pip installable.

[2015-05-19 15:08] BryanHurst opened #518 "Move Compile Chain into separate module"
Move the compile.py scripts into a new repo and make it more modular.
This should be pip installable.

[2015-05-19 15:09] BryanHurst opened #519 "Move Update code into separate module"
All the git update code should be moved to a new repo and made more to be more module.
This should be pip installable and not care what project or branch you are in.

[2015-05-19 15:11] BryanHurst opened #520 "Move CEngine into separate repo"
Move the CEngine source code into a separate repo and only bring in the compiled version when needed.
The compiled version could even be pip installable (this would be coupled with Linux Easy Install)

[2015-05-19 15:12] BryanHurst opened #521 "Limit Console Window Output"
Hide the console window in the final release so it never accidentally pops in front of the main window.

NOTE: Make sure that this never leaves the user waiting for long periods of time during an update or migration. Migrations should be okay as that happens after the splash screen is shown.

[2015-05-19 15:31] BryanHurst opened #522 "Create Windows Installer"
Create a self extracting installer for Windows.

NOTE: We should probably notify users that workspace files will be stored in their home documents directory.

[2015-05-19 15:32] BryanHurst opened #523 "Create an installer for ADSM"
Create a package that can be apt-get installed for the ADSM GUI program.

[2015-05-19 15:33] BryanHurst opened #524 "Create an installer for the CEngine"
Create an install package that allows the CEngine to be apt-get installed.

[2015-05-19 15:33] BryanHurst commented on #524
There should also be the -dev version which installs all the requirements for compiling.

[2015-05-19 15:35] BryanHurst opened #525 "Compile CEF for Linux"
Make sure all our customization are included.

[2015-05-19 15:36] BryanHurst opened #526 "Compile virtualenv for Linux"
Finish getting all the requirements for the linux virtualenv packaged and make sure the compile.py module knows how to work in the linux environment.

[2015-05-19 16:19] BryanHurst opened #527 "Design New Base Server Architecture"
We need a quick to deploy (for automated hard deployment reasons) and scalable server architecture.
The Apache and ModWSGI was a bit heavy and required compiling of MPMs.

[2015-05-19 16:20] BryanHurst opened #528 "Decide on Storage Mechanism"
As we are using sqlite files as our primary storage, I don't think that bucket storage on the google server will work.
So we need to figure out a scalable way to store user files before making a server image.

[2015-05-19 16:29] BryanHurst opened #529 "Create Base Server Image"
Create a basic (and small) server with the new architecture and deploy the current, single user, version of ADSM.

[2015-05-19 16:30] BryanHurst opened #530 "Create auto setup scripts"
Create scripts that will be run on a server image startup which will automatically setup the instance for the specified project.

[2015-05-19 16:41] BryanHurst commented on #416
Updating CEF can be done in conjunction with Issue #517

[2015-05-19 16:48] #516 closed

[2015-05-19 16:53] BryanHurst commented on #527
NGinx (engine-x) is more slim than Apache, and it has a more pluginable and scriptable configuration.
Plus, it has a better solution for MPMs, so you don't need to compile different variants depending on the forking architecture you need.

[2015-05-19 18:07] josiahseaman commented on #388
@tjmahlin please finish styling the "Production Type Group" widget to match the production type list.  I also think you want that +define new group link in the population panel.

![image](https://cloud.githubusercontent.com/assets/2256148/7710152/23ecc3aa-fe1f-11e4-893f-b4d7f319acd4.png)

[2015-05-19 19:19] josiahseaman commented on #139
@ndh2 Neil, while changing this I noticed that `vaccination_capacity` (the first one) can be null.  Is that correct for the model spec?

[2015-05-19 19:26] josiahseaman commented on #139
@ndh2  I'm bouncing this one back to you for final simulation work.

[2015-05-19 19:31] josiahseaman commented on #136
Neil, if this issue is done please close it.  I'm going to start a new branch for Stop Triggers.

[2015-05-19 19:37] josiahseaman commented on #502
Better update functionality is in the new release.
https://github.com/NAVADMC/ADSM/releases/tag/v3.2.22-Release1

[2015-05-19 19:40] josiahseaman commented on #309
@boomtown15 You can skip most of this issue and read the bottom.  TJ designed some UI interactions that I haven't yet implemented.  The current solution is passable, but not elegant.  This issue needs to be assigned to a sprint eventually.

[2015-05-19 19:47] josiahseaman opened #531 "Restart Vaccination Triggers"
Neil, I remember talking about Restart Vaccination Triggers, but I'm not seeing a specific issue for them.  Is this correct:

- [x] Create an abstract parent off of `VaccinationTrigger` and `FilteredVaccinationTrigger` that specifies these are for restart only (hidden field `restart_only=True`)
- [x] Create restart versions of every type of vaccination trigger, same fields
- [x] Present "Restart V

[2015-05-19 20:00] josiahseaman commented on #404
I'm looking at this issue and thinking I should do it _after_ the 3 panels because that will change how many states can be open at any one time.  The main concern is detecting when the user is navigating away.

[2015-05-19 20:41] BryanHurst opened #532 "Create New Updater"
The Git updater has too many issues with linked files, and the large git distributable.
We are going to move the Java Updater from SkittleToo over to this project.

[2015-05-19 20:42] BryanHurst commented on #532
@josiahseaman Please benchmark Java getting a hash for all few thousand files in the folder.

[2015-05-19 20:43] BryanHurst commented on #532
Note: I'll be looking into cutting down on the virtual environment deploy by scripting cx_freeze dependency crawling a little better. So the number of files /may/ drop drastically, but no guarantees.

[2015-05-19 20:58] BryanHurst commented on #413
Another option, which can also be used on the Cloud version, is for Newline to make a bug tracker server that all the clients will POST to.

@josiahseaman it would be a simple Django project with probably one object model to accept stack traces when they are posted to the server. We can limit clients to 10 posts a day and each post only 1KB in size.

Having the bug reports tracked in a database co

[2015-05-19 21:32] josiahseaman commented on #413
Other options we discussed and rejected:
* Sending an email:
    * packaging an SMTP client could be hijacked for spam distribution
* Pushing files to github.com
    * We'd need to distribute a private key which could be used to block all other users
    * People could upload large, unwanted files, illegal content

Creating a simple server allows us to specify rules as to what content will be acce

[2015-05-19 21:35] josiahseaman commented on #185
Hi Neil, I'm still getting this output from the c engine unit stats.  Could you suppress that on --dry-run?

unit,infected,zone_focus,vaccinated,destroyed

[2015-05-19 23:13] josiahseaman opened #533 "Bad migrations in sqlite3 history"
I've run into a merge/versioning problem left over from Hotfix vs Master.  There was a discrepancy in migration numbers between master and hotfix.  The current code is correct but there may be files laying around that are in a bad state.

I think I remember having a conversation with you about migrating all sqlite3 files.  Look at the table django_migrations in each database.  If "+move_vacc_units

[2015-05-20 17:09] josiahseaman commented on #532
@ndh2 As a project owner, you're ultimately going to make the call as to whether or not we do this issue.  So here's the background:

* In previous projects we have used a Java prelauncher that integrity check the program and download updates if necessary.
* On this project, we decided to try a new approach based on git with these advantages:
    * Pushing new updates in development was as simple

[2015-05-20 17:10] #467 closed

[2015-05-20 17:10] #429 closed

[2015-05-20 19:28] josiahseaman commented on #491
It's possible that this is caused by the trailing slash at the end.  It looks like it's treating the file as a directory.  Launch the program, then open a browser and navigate to http://127.0.0.1:8000/app/Download/?target=Simple%20Units.csv   without that slash at the end.  Let me know if that works.  Obviously, "Simple Units.csv" should be in the "ADSM Workspace" folder, which I would expect if y

[2015-05-20 19:32] josiahseaman commented on #497
This is essentially just a lack of an informative error message.  You took an invalid action, and it gave you an error and didn't crash (hooray!).  I don't think I can filter parameters xml files ahead of time.  But I can catch this parsing error and say "Hey this looks like a parameters file" or easier "This isn't a properly formatted population file".

[2015-05-20 19:33] josiahseaman commented on #515
7cb8b65

[2015-05-20 20:23] boomtown15 opened #534 "Triage existing issues and have business prioritize"
Go through existing issues in Quality Assurance milestone and other issues file for the new version of the product and create and assign them severity (QA) and priorities (business) by labeling them appropriately.

For example, labels for severity might be:
  - minor
  - major
  - blocker

and priority could be set to a specific milestone or put in the backlog (no label) if it isn't labeled for an

[2015-05-20 20:46] boomtown15 commented on #532
We should know if users will run into issues or not prior to making this available.

@casesp - is this an issue with the current build?  If so, what's the impact?

[2015-05-21 12:54] ndh2 commented on #533
The set of sqlite files I'm most concerned with (the automated test suite) are OK.  For most of them, I can just wipe them out and re-create them from the original XML versions.

There are some recent automated tests that exist only as sqlite files (no corresponding XML version), and some of those were messed up, but I just recreated them so they're fine now (see for example commit befe3ab).

[2015-05-21 13:02] ndh2 commented on #185
Weird, that should have been taken care of in commit 724618f. I'll build a new Windows exe to make sure it's in there. Which exe do you need, for Hotfix or for Master?

[2015-05-21 13:08] ndh2 commented on #139
@josiahseaman I think it's OK that `vaccination_capacity` can be null, but only if vaccination is not used in the scenario.

[2015-05-21 13:17] ndh2 commented on #531
For the 3 items in the checklist above:
  1. Sounds good
  2. Does that mean there would be a separate table for restart triggers? (Like `ScenarioCreator_diseasedetection_restart` in addition to `ScenarioCreator_diseasedetection`?)
  3. When I think about these parameters, I think about defining them in this order: stop conditions, restart conditions, restart capacity chart. So I would probably no

[2015-05-21 13:48] boomtown15 commented on #413
Could we just point to our Github project and allow the user to create an issue if they encounter a problem?  If possible, we could create a link with parameters to automatically set a label for any issues created from the application, which would help us triage the application specific issues.  We should also be logging any errors and possibly allow the user to export and attach the log(s) to the

[2015-05-21 14:21] casesp commented on #491
Is this something the user would be expected to do, I wonder?  Could the form be changed to fix this instead?

[2015-05-21 14:41] casesp commented on #413
I think creating an issue could be a great help, especially making use of the features of Github, which would notify us all of the new issue.  The one caveat that I would add, however, is that the user should not be expected to be familiar with Github, and most likely would not be familiar, thus an automated method to create the issue would be best.

[2015-05-21 14:55] boomtown15 commented on #413
Good point.  We could try to use the API to create an issue programmatically and have the fallback be a link to create an issue to Github if that was too difficult to implement in the time required.

[2015-05-21 15:49] BryanHurst commented on #532
There aren't any updates to the current release, so Sean won't be able to test this issue currently.

I'm sure that new updates to the 3.3.0 RC will be coming out in the next few days.

I expect that we will probably see an issue in the first one or two update attempts, so we should know fairly quickly.

[2015-05-21 15:55] BryanHurst commented on #413
One thing to keep in mind about Github (and our Git Lab deployment) is that you cannot delete issues. Having an automated system start posting issues (which would also open up to other people posting willy nilly) has a rather large spam potential that could then not be properly cleared out.

[2015-05-21 15:59] josiahseaman commented on #185
Hotfix is no more.  This should definitely go to master.

[2015-05-21 16:01] josiahseaman commented on #139
I'll create a new issue for the conditional requirement then.  Close this when you're done with the Sim.

[2015-05-21 16:02] josiahseaman opened #535 "vaccination_capacity conditionally required based on use_vaccination"
Add a validation check for vaccination_capacity != null.  #139  #185

[2015-05-21 16:10] josiahseaman commented on #531
2. Yes, that means they'll have their own table.

The other way I can do this is to add a field to all the existing triggers that is `restart_only = False` and then you can filter based on that parameter.  That would be significantly less code.  The difference between the two approaches is whether or not they're listed together as being the same thing.  If it's just a flag, then they'll be listed

[2015-05-21 16:12] josiahseaman commented on #491
Yes this is obviously a bug.  I was just asking you to test if that worked.  Did it work?

[2015-05-21 16:13] ndh2 commented on #533
Is there anyone besides me that might have files that would be affected by this issue? If not then I'll close it.

[2015-05-21 16:13] #533 closed

[2015-05-21 16:23] ndh2 commented on #531
The less code solution sounds good to me, it would also means less SQL since there'd be only 1 table to query from for each trigger type.

[2015-05-21 16:39] BryanHurst opened #536 "Create Basic User Model"
Import the user auth system.

[2015-05-21 16:41] BryanHurst opened #537 "Create Database for User Auth and Permissions"
Make a separate database that is persistent which will hold all the user info.
This could, and probably should, be a Postgresql DB so other server shards can talk to it.

Modify the database router to handle passing user app items to this new database,

[2015-05-21 16:42] BryanHurst opened #538 "Cleanup DB Router"
Make sure that the database router is up to latest Django spec.

[2015-05-21 16:43] BryanHurst opened #539 "Upgrade Django"
Upgrade Django to 1.8 as it is the latest and is marked as LTS.

[2015-05-21 16:45] BryanHurst opened #540 "Define Extra User Info"
What bits of information do we need to store with the user model? Info specific about the user and or their organization.

This should be done with a one-to-one field on an ADSMUser model.

[2015-05-21 16:45] BryanHurst commented on #540
@josiahseaman This could use your input.

[2015-05-21 16:51] josiahseaman commented on #534
Please re-run the tests against the latest official release of 3.2.22.  I know there are some issues which I've at least partially addressed but not closed.  For example, I set a max size on the Population map markers, but I haven't closed out that full issue.

[2015-05-21 16:53] BryanHurst opened #541 "Create Multi-user DB Router"
Modify the DB router to automatically select the settings.sqlite and scenario_db.sqlite that are specific to the user and their request.

[2015-05-21 16:54] BryanHurst opened #542 "Server Workspace"
Modify the Workspace code to better sort user specific db files.
Make sure the security is tight on this folder so people can't directly access files via arbitrary urls.

[2015-05-21 16:55] BryanHurst commented on #542
Note: This was helpful on previous projects, just so I remember.
http://stackoverflow.com/questions/15951014/django-private-file-upload

[2015-05-21 16:56] josiahseaman opened #543 "Miscellaneous Stylings"
#### Things that need doing

_please add new items to this task list_
- [ ] list items

---

I'm just going to create an issue to dump screenshots of stuff you might not run across right away.  Address these at your leisure.

Scenario Save Confirmation:
![image](https://cloud.githubusercontent.com/assets/2256148/7754216/167ff31a-ffa8-11e4-8c71-5de7cbaf16cd.png)

and twin
![image](https://cloud.git

[2015-05-21 16:57] BryanHurst commented on #527
uWSGI allows for programmatically launching WSGI server instances (of Django projects) using Emperor mode.

[2015-05-21 16:57] BryanHurst commented on #527
supervisord will keep the Emperor running.

[2015-05-21 17:55] josiahseaman commented on #531
Alright, so you're saying that you're okay with the two different types of triggers being displayed in the same list as shown in the screenshot?

[2015-05-21 17:59] josiahseaman commented on #422
@tjmahlin I need your feedback soon.  Should the AddOrSelects in the bottom of Assign Disease Spread open up a modal, or open up the edit in a `#right-panel` ish column?

![image](https://cloud.githubusercontent.com/assets/2256148/7755361/b82a5db0-ffb0-11e4-80a4-a5b8c15e7d69.png)

I could also disable the edit functionality entirely.

[2015-05-21 19:08] tjmahlin commented on #422
remove the edit functionality entirely, please.

[2015-05-21 19:11] casesp commented on #491
Yes, that works.

[2015-05-21 19:16] casesp commented on #532
The current release (3.2.22 - release 1 ) no longer displays the check updates button.  So I am not able to test if the unlink problems persist.  They were persisting still in RC6.  (Is this latest release version capable of updates?  Does it show a link for updates, if and when some are available??)

[2015-05-21 19:17] casesp commented on #506
Anything new on this one?

[2015-05-21 19:24] casesp commented on #413
Yep, that could be bad.  If the program creates the issues, however, rather than the user, per se, perhaps we could mitigate for spam issues.

[2015-05-21 19:55] josiahseaman commented on #540
### Permissions
* email address
* password or preferably a key
* many to many organizations
* scenarios will foreign key to this user, so the back link is "owner"
* ADSMUser one-to-one SmSession (defined in ADSMSettings/models)

### Payment Info
* last paid
* trial time dollars remaining
* I'd like to avoid storing credit card info on our end

[2015-05-21 20:06] josiahseaman commented on #532
Bryan is correct that it can't be tested right now.  The newest version (and solution) doesn't have a check updates button at all.  So it's missing on purpose.  When we push an update a button labeled "Update ADSM" will show up automatically.  We'll have to wait till we have something meaningful to push to V3.3.  Right now, there's just some minor changes... except for the corrupted SampleScenario

[2015-05-21 20:17] josiahseaman commented on #422
- [ ] modal inserts new option into selects
- [ ] "new" panel inserts new option into selects
- [ ] delete icon remove option from all relevant selects
- [ ] delete button (Functions) remove option from all relevant selects
- [ ] delete button closes obsolete panel
- [ ] disable Controls switch moved to NavPanel (new issue?)
- [ ] Assign Protocols uses main-panel with no edit functionality
- [ ] A

[2015-05-21 20:32] josiahseaman commented on #532
@casesp Please download the V3.3 Release Candidate. https://github.com/NAVADMC/ADSM/releases/tag/v3.3.0-RC1 You'll be able to update from that point in a moment.

[2015-05-21 20:51] BryanHurst commented on #527
It is messy, but beautiful.

![distributed-django-server-architecture](https://cloud.githubusercontent.com/assets/1182469/7758641/5a2067ec-ffc8-11e4-8622-be9c6079b8e4.png)

This is a secure implementation as well. All HTTP requests are handled by the www-data user which has access to nothing on the server (doesn't even have a folder for normal html hosting).
The Django app is handled by the projec

[2015-05-21 20:52] #527 closed

[2015-05-21 21:12] josiahseaman commented on #422
@tjmahlin Now that I'm actually in the swing of things I'm noticing that the 3 Panel layout exposes a redundancy that we can use to simplify the program.  The following screenshot shows "Disease Progression" and "Assign Disease Progression" side by side.  You'll notice that since the select lists all available models it obsoletes the Model List in the first screenshot.  This means we can remove th

[2015-05-21 22:11] BryanHurst commented on #413
Since the source code is distributed with the application, a user could easy take the credentials the program uses to post issues and manually post what ever they wanted.

[2015-05-21 22:14] boomtown15 commented on #527
@BryanHurst - how is redundancy/fail over handled?

[2015-05-21 22:20] BryanHurst commented on #527
The Frontend server can be duplicated in different server zones and the network router does load balancing between the different locations.

The Cloud Storage Buckets (where user files live) and the Database are both hosted by Google and have builtin backup and redundancy protocols.

[2015-05-21 22:32] boomtown15 commented on #413
All valid points.  The main goal of this is to show friendly error pages.  Secondarily, it  would be nice to somehow track issues.  Maybe the best approach for the time being is to automatically log these internally in the application, so we can periodically review them for trends.  Thoughts?

What if we provided an additional document with the USDA builds that has steps for requesting help or sub

[2015-05-21 22:33] boomtown15 commented on #527
Perfect, thanks Bryan.

[2015-05-22 13:07] ndh2 commented on #531
Does the data model absolutely dictate the screen placement of the triggers? In that case I'd go for the data model that allows the first-start and restart triggers to be displayed separately.

[2015-05-22 15:39] BryanHurst commented on #528
Local SSD gives the best performance, however it is absolutely not scalable. You  have to decide on the size of your HDD at image creation and cannot modify it.

Persistent Disks give you SSD and normal Spindle RAID options, and is still more performant than the Bucket Storage. However, these also don't scale well. You have to un-mount the drive to re-image it in a different size.

The only scalab

[2015-05-22 15:41] BryanHurst commented on #528
With these points in mind, I'm going to investigate ways store and access sqlite files in Bucket Storage, or look into the possibility of using the App Engine for hosting the frontend site.

[2015-05-22 15:59] ndh2 commented on #535
The C code is OK with `restart_vaccination_capacity` being null. In that case, it just uses the original `vaccination_capacity` chart again on restart.

[2015-05-22 16:18] josiahseaman commented on #532
@casesp V3.3 release (not 3.2.22) is available for you to test the update functionality.  https://github.com/NAVADMC/ADSM/releases/tag/v3.3.0-RC1

[2015-05-22 18:05] casesp commented on #532
Thanks!

--- Original Message ---

From: "Josiah Seaman" <notifications@github.com>
Sent: May 22, 2015 10:18 AM
To: "NAVADMC/ADSM" <ADSM@noreply.github.com>
Cc: "casesp" <shaun.case@outlook.com>
Subject: Re: [ADSM] Create New Java Updater (#532)

@casesp V3.3 release (not 3.2.22) is available for you to test the update functionality.  https://github.com/NAVADMC/ADSM/releases/tag/v3.3.0-RC1

---
Re

[2015-05-22 18:41] BryanHurst commented on #528
There is always the option of a FUSE wrapper for the Bucket Storage.

There are a few options out there.
S3Fuse seems to be what most people base their forked projects from. However, this was originally made for Amazon Cloud Storage and Google was added later.
All of the S3Fuse based projects were last updated in 2013.

GCSFuse is in development by a Google developer and is in Google's Google Clou

[2015-05-22 20:21] BryanHurst commented on #528
Most of the FUSE wrappers would incur a large cost based on number of operations which Google bills for on the Bucket Storage.
Each time Django opened and closed the database connection, the wrapper would write the file back to the Bucket incurring a charge, even though we are not done using the file yet.

Our solution is to write a new solution that keeps files around until they have become inact

[2015-05-22 20:24] BryanHurst commented on #528
Solution: Write python code (probably in database router) that, when a user requests a file, will download that file from the Bucket and store it on the local hard drive until that user has been inactive for at least 30 minutes.

This requires us to keep a Persistent Storage drive mounted that is large enough to hold our expected simultaneous usage, but not all total files.

We can monitor the ext

[2015-05-22 20:24] #528 closed

[2015-05-25 14:16] ndh2 opened #545 "Test of every restart trigger"
The restart triggers defined in #531
- [x] number of new detections
- [x] rate of new detections
- [ ] Estimated Dissemination Rate
- [x] groups
- [x] days since first detection
- [x] destruction wait time

[2015-05-25 15:26] casesp commented on #500
@missyschoenbaum , @josiahseaman    I'm going to go ahead and create an issue for the timing of the import.  I've been testing this in later versions with a large scenario and the time, disk utilization, and CPU cycles required to import the scenario are simply far too great.  Past experience with previous incarnations (NAADSM) is showing that this should not be the case.

[2015-05-25 15:31] casesp commented on #484
I'm closing this issue...I believe it is issue #510 that is the real culprit in this case.

[2015-05-25 15:32] #484 closed

[2015-05-25 16:05] casesp commented on #493
See Issue #486 .  This needs to be fixed as the import feature does not correctly allow previously exported NAADSM 3.2.19 data to be imported, yet.  Please re-open this issue

[2015-05-25 16:05] casesp commented on #486
Please re-open this issue.  The problem here is that the ADSM software does not allow an import of a previously exported NAADSM 3.2.19 file format, CSV, as required by design.

[2015-05-25 16:07] casesp commented on #506
Please re-open this issue.  This issue means that a user of the software will be immediately misguided as to the assumptions that this framework makes about the definition of "airborne transmission", etc.  This needs to be fixed before release.

[2015-05-25 16:46] casesp commented on #513
There are no extra columns.  The fact remains that the CSV data file contains the same information as the XML datafile, however, when the data is imported into the population the ADSM import routine changes that information.

Please observe the differences in the images above, and follow the steps to re-create if need be.  I can provide you with the files if need be.

[2015-05-25 16:50] casesp commented on #513
CSV File below:
=======================

UnitID,ProductionType,UnitSize,Lat,Lon,Status,DaysLeftInState
1, Cattle, 100, 40.422521, -104.947553, S, -1
2, Cattle, 200, 40.422521, -104.841915, S, -1

XML File below:  (be sure to save as UTF-16)
=======================

<?xml version="1.0" encoding="UTF-16" ?>
<herds
  xmlns:naadsm="http://www.naadsm.org/schema"
  xmlns:xsd="http://www.w3.org/2001/XMLS

[2015-05-26 15:55] ndh2 commented on #506
Could this issue be addressed by instead linking to the sections in the model spec?
https://github.com/NAVADMC/ADSM/wiki/Model-Specification#airborne-spread
https://github.com/NAVADMC/ADSM/wiki/Model-Specification#prevalence

[2015-05-26 16:09] BryanHurst opened #546 "Create Hybrid Storage Mechanism"
After discussion in #528 we need to create a Hybrid Storage Mechanism that will allow our storage needs to scale in a storage Bucket while still having local file system access for SQLite.

[2015-05-26 16:22] josiahseaman commented on #531
Yes, the data model dictates the display format unless I want to add a special case for it (which I try to avoid).  It'd be best just to have them as separate tables so there's no ambiguity.

[2015-05-26 17:06] josiahseaman commented on #422
@tjmahlin What do you think about doing all Zone Effect on a single 3 panel layout?  I was able to remove a link from the Nav Panel.

![image](https://cloud.githubusercontent.com/assets/2256148/7818042/6601b4d6-0396-11e5-9709-bdc2fe71ac4f.png)

In this second image, I was able to remove "Assign Progression" because it's simple too.

![image](https://cloud.githubusercontent.com/assets/2256148/78181

[2015-05-26 17:20] josiahseaman commented on #422
Control Protocol is still not great...

![image](https://cloud.githubusercontent.com/assets/2256148/7818466/1ee56ebe-0399-11e5-9f25-883cab7435a6.png)

[2015-05-26 18:59] casesp commented on #416
Startup screen clipping is fixed as of 3.3.0-RC1

[2015-05-26 19:03] casesp commented on #506
Yeah, Yes, that would be great!

[2015-05-26 19:09] casesp opened #547 "Advanced Panel: Back to Standard button is not visible"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report]

**Software version:** ADSM 3.3.0-RC1 (52dbd9e)
**Machine:** Win7ProVMWare11

**Description:**
This test looks at the advanced panel option and tests how a user returns to the previous screen

**Expected Outcomes:**
The user should be able to select the advanced panel option from the main ADSM scree

[2015-05-26 19:43] casesp commented on #493
Please note that the comment concerning the column names, (header), relates to the popup error message that results after an import fails.  This issue is two fold:
**1)**  The import of CSV files must match, by design spec, the CSV file format exported by NAADSM 3.2.19.  _(Currently, it does not do this)_
**2)**  The error message displayed when/if a CSV import fails should list the correct  CSV h

[2015-05-26 19:44] casesp commented on #506
Removed the documentation label since this is more of an issue of providing a link to the correct location in documentation, rather than a need for more documentation.

[2015-05-26 19:50] casesp commented on #513
**Recommended fix:**  Just remove the "herd-d=".

The **_use case_** for this was explained in several meetings, where it was pointed out that many users utilize their own herd identification systems, which are not compatible with the old NAADSM or the new ADSM, but which are vital to their record keeping, and which need to be identified post-mortum, as it were, after simulations are completed and

[2015-05-26 19:59] casesp commented on #503
**_Recommeded Action:_**  If the imported file contains invalid information, cancel the import and inform the user, via an error message, that the file contains invalid information.  _(Point them to the line number or invalid information type so that they can fix it on their own, if they desire.)_

[2015-05-26 20:04] casesp commented on #498
Yes, most definitely.  Please prompt for an overwrite.

[2015-05-26 20:05] casesp commented on #497
Yep, exactly, it could be caught during parsing and found to be invalid input.  The user could just then be told, "This isn't a population file..."

[2015-05-26 20:08] casesp commented on #494
I think that's a good Release to target...this will give time to make changes for other new features that will also, inevitably, require some user feedback messages.

[2015-05-26 20:09] casesp commented on #492
Please reference #498.  Closing this issue as it will be covered by that fix.

[2015-05-26 20:09] #492 closed

[2015-05-26 20:13] casesp commented on #475
I'll close this once tested in the upcoming releases.

[2015-05-26 20:15] casesp commented on #478
I'll close out once the new installation distro's are released, and it is tested.

[2015-05-26 20:17] josiahseaman commented on #531
Working on a custom layout by Category instead:

![image](https://cloud.githubusercontent.com/assets/2256148/7822325/ff78e092-03b1-11e5-9f41-d4f13f4bbeb0.png)

[2015-05-26 20:36] josiahseaman commented on #531
@ndh2  I'm adding a field to all VaccinationTrigger(s) that is `restart_only` boolean.  I noticed this creates the possibility that you could make a StopVaccination trigger that was `restart_only`.  The default is false and I've disabled the field in the form, so there's no way the user could set this.  Still, maybe something you should consider.  You could use it to stop a vaccination program mor

[2015-05-26 20:43] josiahseaman commented on #486
You'll need to be a lot more specific.  I've already added the CSV headers for NAADSM in this commit.  3c0d47e

[2015-05-26 20:52] casesp opened #548 "Documentation needs: Details of Entering a Scenario"
We will need to update this page:
https://github.com/NAVADMC/ADSM/wiki/Details-of-entering-a-scenario

With information relating to ADSM rather than the old NAADSM.

[2015-05-26 22:31] casesp commented on #486
Okay.  The test description is as follows:

**Description**
This tests the ability to import an existing CSV population/herd file using the format specified by NAADSM 3.2.19

**Expected Outcome(s)**
The program should successfully add the units in the population form with those taken from the
CSV file.

**Steps To Create**
1) Open ADSM and start a new scenario.
2) Navigate to the population form
3

[2015-05-26 22:41] casesp commented on #486
If I'm reading the committed code correctly:  The "UnitID" column is not being read.  Could this be the cause of the error?

[2015-05-27 13:17] ndh2 commented on #531
@josiahseaman Sounds like the needed changes in the data model and UI are done. I'm assigning this issue to me for filling in the C code and automated tests.

[2015-05-27 15:27] josiahseaman commented on #531
You'll have to use the panel-ajax branch since it is further along than master right now.  I won't merge to master until all the tests have been updated.  Not that it really matters much to you.  I've been keeping panels-ajax up to date with master.

[2015-05-27 15:29] josiahseaman opened #549 "disable Controls switch moved to NavPanel"
Putting #203 in a better place and changing javascript to match.
![image](https://cloud.githubusercontent.com/assets/2256148/7846397/7828f108-047a-11e5-8254-879e9cea00a5.png)

[2015-05-27 15:32] josiahseaman opened #550 ""Create New Group" interaction"
- [x] Create Group in place
- [x] Cancel option
- [x] Refresh list of groups
- [x] add group option to selects
- [x] Delete groups interaction
- [x] Loading mask when there's an editable form on  a Toolbar Panel

[2015-05-27 15:32] josiahseaman commented on #422
@tjmahlin I'm passing this back to you for styling work.  I still have two outstanding items that I'm breaking into their own issues.
* disable Controls switch moved to NavPanel (new issue #549)
* "Create New Group" interaction #550

[2015-05-27 15:47] BryanHurst opened #551 "Disable Simulations"
make sure we either add authentication or disable simulation button

[2015-05-27 15:48] BryanHurst opened #552 "Create Basic Landing Page"
It doesn't have to say much for now, but to make sure we are testing the correct user flow, we should make a landing page from the start.

[2015-05-27 18:56] josiahseaman commented on #550
![image](https://cloud.githubusercontent.com/assets/2256148/7844743/d553b0b2-046f-11e5-848c-5a9b4e911f78.png)

[2015-05-27 21:34] josiahseaman commented on #339
Implemented in #422

[2015-05-27 21:34] #339 closed

[2015-05-27 22:06] josiahseaman opened #553 "Assign Disease Spread Widget not selecting all rows"
![image](https://cloud.githubusercontent.com/assets/2256148/7848550/069c3c7e-048a-11e5-8fab-6ba78aec4849.png)

This should have filled in all rows because I was using the Bulk apply with all production types selected.

1) Select All Sources
2) Select all Destinations
3) Select Airborne Spread ------ or a Spread model
4) Click Apply
5) You should see all entries change to match the option you selec

[2015-05-28 13:20] ndh2 commented on #233
@missyschoenbaum can I take the "bug" label off this thread and call this an "enhancement" instead?

[2015-05-28 13:24] ndh2 commented on #272
RFC contains a discussion, now needs to be turned into a form that shows **exactly** what gets deleted, changed, and/or added in the model spec. Assigning to me.

[2015-05-28 13:29] ndh2 commented on #280
I will draft an RFC. T. Boyer and K. Patyk were also interested in this one, will share early drafts with them.

[2015-05-28 13:34] missyschoenbaum commented on #233
Done!

[2015-05-28 13:58] ndh2 commented on #386
Here's that screenshot. The dialog allowed you to define any number of ring-creation rules, and it was formatted to spell out the rule you were creating in a plain-English sentence.

![creation_of_vaccination_rings_old_screenshot](https://cloud.githubusercontent.com/assets/6618820/7861756/0076b3a6-0520-11e5-8742-fcade35f4cdb.png)

[2015-05-28 13:59] ndh2 commented on #386
The RFC has a discussion of this feature, but it needs to say **exactly** what text is added, changed, and/or deleted from the model spec. I'll fill that in.

[2015-05-28 14:42] casesp commented on #534
@ndh2  and I will be meeting this coming Monday to triage.

[2015-05-28 14:52] BryanHurst commented on #529
This includes setting up the new Cloud ADSM Git Repo with all the required branches for server deployments.

Plus, doing minor modifications to the base code so settings will be deployable.
And adding server deployment files to the Cloud Branches.

[2015-05-28 15:25] ndh2 opened #554 "Prepare the updated online model spec for 3.3"
Update the model spec with the additions, deletions, and changes contained in all the RFCs that apply to 3.3.0. Have the changed version ready to commit when the version is released.

[2015-05-28 15:28] ndh2 opened #555 "Error saying piecewise PDF has no points"
Found this bug while testing on the same file referenced in #450. Steps to reproduce:

  * Load mdb file in NAADSM 3.2.19
  * Export to XML
  * Convert to sqlite format by loading through UI
  * Run simulation via command line

`ERROR:../prob_dist/prob_dist.c:632:PDF_new_piecewise_dist: assertion failed: (n >= 1)`

[2015-05-28 15:29] ndh2 commented on #555
2 piecewise functions in XML (both with points):
  * MixedImmune (id 4, graph_id 1)
  * MixedMovement (id 6, graph_id 2)

Functions appear correct in database: graph 1 has 5 points, graph 2 has 6 points

[2015-05-28 15:34] ndh2 commented on #390
I just edited the checklist at the top to remove 3 items that are part of 3.3.1 milestone.

[2015-05-28 15:34] #390 closed

[2015-05-28 15:45] ndh2 commented on #555
New Windows exe runs this test scenario without error messages, and running with debug info shows the correct values for the piecewise PDFs.

[2015-05-28 15:45] #555 closed

[2015-05-28 15:47] ndh2 commented on #450
I got this scenario file and ran it with the latest Windows exe (commit b08b85e). It ran without errors. Closing this issue.

[2015-05-28 15:47] #450 closed

[2015-05-28 17:25] josiahseaman commented on #549
![image](https://cloud.githubusercontent.com/assets/2256148/7866326/fabdaab2-052b-11e5-8c46-b3508f5345de.png)

I am done with this issue unless we want to add more on/off toggles for vaccination, zones, etc.  But that will require much more discussion and likely a db change.

[2015-05-28 17:32] josiahseaman commented on #549
@ndh2 TJ's spec actually has many on/off toggles on the navigation pane for Vaccination, accounting, zones, etc.  If that's something you're interested in, it's certainly doable but we should talk about it and make it a separate issue.

[2015-05-28 19:54] BryanHurst opened #556 "Graceful Startup Doesn't Run"
After deploying to the Linux server, it became obvious rather quickly that Graceful Startup was not properly running.

Sample and Blank files were not copied into the self-defined workspace directory.
Migrate was not called properly when loading the landing page.

[2015-05-28 19:57] BryanHurst commented on #552
However, we don't want the landing page in the desktop deployables; so maybe there can be a setting which says to display landing page?

[2015-05-28 19:59] BryanHurst commented on #529
All conf files are committed to the Cloud branch, and the server is up and running with basic functionality.

[2015-05-28 19:59] #529 closed

[2015-05-28 21:10] #5 closed

[2015-05-28 21:27] BryanHurst commented on #530
After further discussion, due to bootup time, it is going to be better to have projects pre-configured in image snapshots instead of dynamically setting them up with a boot script.

[2015-05-28 21:46] #551 closed

[2015-05-29 16:48] josiahseaman commented on #404
@tjmahlin  Is this the correct implementation to shoot for right now?  I'll be skipping the branching "variations" on the next page.
![image](https://cloud.githubusercontent.com/assets/2256148/7887699/3c4d422a-05f0-11e5-8739-682452ed3b41.png)

[2015-05-29 16:53] josiahseaman commented on #404
Is rename only accomplished through cloning the scenario and entering a new name in the modal?

Define Progression UI.pdf:

[2015-05-29 17:05] tjmahlin commented on #404
The file panel is specifically for file management and doesn't really have much to do with saving changes as the user modifies a scenario. As far as "rename", this isn't functionality a user typically expects while working on a file. In most cases, name changes to files are accomplished from the system file browser. That's not to say that we *shouldn't* allow it within the app UI, if it's technica

[2015-05-29 17:10] josiahseaman commented on #404
It sounds like this issue was centered more around the small form submission for individual models, not files.  If you are doing ADSM right now, I'd like to demo the way 3 panels is working over hangouts before you make your decision.

[2015-06-01 17:10] casesp commented on #510
Need a better error message to identify to the user that the filename is the problem, in the mean time.  The current error message indicates that the file contains a special character, which it does not, and a "," is not one of the special characters anyway.  If a new error message, to the user indicating that a period is currently not allowed in a filename, could be generated while this bug is be

[2015-06-01 18:44] casesp commented on #511
Can we just "rename" the file?

[2015-06-01 18:47] ndh2 commented on #531
All the C code is in place now for this one.

[2015-06-01 19:47] BryanHurst commented on #528
After further discussion, our requirements have changed slightly.

With the future ability for users to share scenarios, parameters and other utility functions, we will need a more unified storage solution.
Plus the future goal of relation scenarios to projects, and projects being owned/visible by/to groups.
Having data split up between multiple files isn't advantageous any more.

For the cloud de

[2015-06-01 19:49] BryanHurst commented on #546
After further discussion in #528 this issue will be no longer needed.
https://github.com/NAVADMC/ADSM/issues/528#issuecomment-107683141

[2015-06-01 19:49] #546 closed

[2015-06-01 20:00] BryanHurst opened #557 "Open File/Import Wording"
To help with user confusion on the Desktop version, I think that it is important to never reference 'opening' a file and always talk about 'importing' a file.
When a user imports a file, it should bring up a modal that notifies them that the file will be imported into ADSM's workspace directory; then provide the location of the directory for their convenience.

[2015-06-01 20:01] BryanHurst opened #558 "File Export Ability"
I believe the desktop version should emphasize exporting a file after it has been modified.
This is also known as downloading when in the Cloud version, but there might should be extra places for us to notify a user to 'export' back to the desired location on their local hard disk when working on the Desktop version.

[2015-06-01 20:21] josiahseaman commented on #422
@tjmahlin I just noticed in testing that it's now more difficult (not supported) to copy a model and then edit it.  Basically to create a variant:

![image](https://cloud.githubusercontent.com/assets/2256148/7922393/2d244796-0869-11e5-8fa1-cd94655e33f4.png)

Example: I have a whole bunch of Disease Progressions assigned to Cattle Reaction.  For "F" I want to assign it a variation of Cattle Reactio

[2015-06-01 20:23] #515 closed

[2015-06-01 20:24] #260 closed

[2015-06-01 21:03] josiahseaman opened #559 "Revisit Delete behavior with 3 panel dynamic loading"
I'm noticing that the multi-panel layout #422 has opened up some new vulnerabilities around deleting.  I'd like you to track them all down.  Here's the ones I know of:

Function remains in list after it's been deleted:
![image](https://cloud.githubusercontent.com/assets/2256148/7922530/22c6974e-086a-11e5-8323-e63b4d923f17.png)

This particular quirk will become irrelevant in the next sprint when F

[2015-06-01 21:06] #416 closed

[2015-06-01 21:19] josiahseaman commented on #515
@casesp I still haven't heard from you on setting up the development environment so you can start making Selenium tests.  I'm done updating the existing batch of tests and so these will be merged into master and become the new test target.

[2015-06-01 22:18] #377 closed

[2015-06-01 23:48] casesp commented on #479
This issue has now been fixed in ADSM 3.3.0-RC1(52dbd9e) as verified through regression testing.

[2015-06-01 23:48] #479 closed

[2015-06-02 00:25] casesp opened #560 "Import Legacy Scenario Fails when filenames contain a ".""
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report.  Please also reference #484 and #510 as these may be related.  #484 was the first time this was noted.]

**Category:** Legacy scenario import
**Test Name:** Large population
**Software version:** ADSM 3.2.22-RC5.2  (7e47384) through ADSM 3.3.0-RC1(52dbd9e)
**Machine:** Win7ProVMWare11

**Description

[2015-06-02 14:39] BryanHurst commented on #530
We have decided to revisit this for scalability reasons.

After deciding to move to a central DB for storage, we talked about what sort of scalability we want to achieve.
The ability to dynamically deploy front-end servers on-demand will require the ability to deploy Current ssl keys and code. This cannot be done in an image, and will require the server startup scripts.

[2015-06-02 16:28] BryanHurst opened #561 "Scalable Static and Media File Serving"
Setup django-storages using apache-libcloud so that collectstatic will push to a cloud storage bucket, and return URLs to the files in the Google CDN.

[2015-06-02 16:28] BryanHurst commented on #561
If we ever accept user file uploads (that aren't sqlite files to be processed), then it would need to be configured to forward files to the bucket as well.

[2015-06-02 16:31] BryanHurst commented on #561
We can't use the 'GS' backend in django-storages as it relies on s3boto which isn't python3 ready.

apache_libcloud has better backing and support google storage mechanisms.

[2015-06-02 16:32] BryanHurst commented on #561
Looke at apache_libcloud.py in django-storages.
It probably needs to be updated, especially around lines 48-50 where it is passing in old apiv1 keys to the google provider.

Look at this doc https://libcloud.readthedocs.org/en/latest/compute/drivers/gce.html especially example 5 "Using GCE Internal Autorization".
django-storages needs to be modified to work with this.

[2015-06-02 16:43] josiahseaman commented on #500
@casesp I've been blocked on this issue because I can't access the sharepoint file that you posted.  Could you email a non-protected link so I don't need to match up logins?  My microsoft account is josiah_seaman@hotmail.com, but that doesn't seem to be working.

[2015-06-02 17:06] josiahseaman commented on #498
This is more a design question than a bug.

Prompting before overwrite is certainly doable, and a fairly easy thing to implement.  The other quick solution is to change "Import" from copy to an actual move when on desktop.  That way, there wouldn't be two copies of the file.  But there's a deeper issue: Cloud/Web file handling is different from desktop file handling.

Bryan and I were discussing t

[2015-06-02 19:19] casesp commented on #498
@josiahseaman sounds like you've got it handled.  Those are all very good points.

[2015-06-02 19:23] casesp commented on #500
I've sent a share link.  Please try your hotmail account and let me know if that works now.

[2015-06-02 19:24] casesp commented on #515
I'm working on it.  I'll let you know if I have any further difficulties.

[2015-06-02 19:43] josiahseaman commented on #498
Thanks, I'm working on bouncing back an error for overwriting a file.  The control flow has to be changed.

Anyways, looking at this again I realized there's an entirely different approach that seems more reasonable.  Why are Population XML files being cached at all?  Ever?  Every XML file ultimately comes from the user trying to add a population (or parameters) to a scenario.  Every scenario can

[2015-06-02 19:45] josiahseaman commented on #497
There may be a different bug going on here.  How did a parameters xml get saved to your workspace?  Unless you uploaded it directly?  During import, only the population file should be saved:

[code]

[2015-06-02 20:21] casesp opened #562 "Some items not importing from legacy scenarios completely"
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report.]

**Category:** Legacy scenario import
**Test Name:** Large complex scenario
**Software version:** ADSM 3.3.0-RC1(52dbd9e)
**Machine:** Win7ProVMWare11

**Description**
This tests the ability to import old NAADSM 3.2.19 exported files.
These files are stored in the XML format resulting from the expo

[2015-06-02 20:23] casesp commented on #562
I made this a "medium priority" because the user "should" be checking their imported scenarios anyway to be sure that they are as they remember them to be, but one would expect certain parameters to import successfully.

[2015-06-02 20:54] casesp commented on #499
Verified fixed in 3.2.22-Release1 and in 3.3.0-RC1

[2015-06-02 20:58] casesp commented on #498
@josiahseaman , Great points.  I don't see a reason to cache the CSV or XML files that were imported into a scenario.  As you said, you have the sqlite file after that.

[2015-06-02 21:03] casesp commented on #491
This seems to be back in 3.3.0-RC1, or maybe another variant of it.  Please see the screenshot below:

![error on selecting a download from the populations load form](https://cloud.githubusercontent.com/assets/6764142/7947114/467efc84-0938-11e5-8237-01eb9a47acad.png)

**To recreate:**
I selected the "Replace Population" link, a nice feature by the way, and then subsequently selected the download l

[2015-06-02 21:09] casesp commented on #505
The changes to the new layout seem to have made this obsolete.  While the population edit page still has this quirk, it isn't really noticeable since the user escapes out of that page using the "cancel" operations and returns back to the main population display page, where nothing will have been altered.

Thus, I am closing this issue.

[2015-06-02 21:09] #505 closed

[2015-06-02 21:33] casesp opened #563 "Disease progression terminology definitions are not entirely accurate."
[For a quick explanation of this issue, see the **_Results_** section at the bottom of this report.  Similar issues:  #506.]

**Category:**  Model Definitions
**Test Name:**  Disease Progression Definitions
**Software version:**  ADSM 3.3.0-RC1(52dbd9e)
Machine: Win7ProVMWare11

**Description**
This test looks at the definitions supplied by the software with reference to its model and their meanin

[2015-06-02 22:13] casesp opened #564 "Imported Population Data Lost During Import If User Renames Scenario During Import Process"
This issue appeared coincidentally during another test, which succeeds and has no issue number associated with it for reference here.  This may be related to the issue:  #511

**Steps to run/create this test**
1)  Start ADSM by double clicking the adsm.exe filename
2)  Create a new scenario by selecting "new" from the menu, and name it appropriately.
3)  Proceed to the population form page by sele

[2015-06-02 22:22] casesp commented on #564
Don't know if this is possible, but...a quick solution may be to just limit the user's ability to click on anything, (i.e. modal dialog or something...) while the import is processing.

[2015-06-02 22:42] casesp commented on #532
Okay, just tried it out since there was an update made available to me on 3.3.0-RC1 as of this afternoon....Sorry guys @josiahseaman @BryanHurst , it still fails with the unlink error.

![3 3 0-rc1 update process failure](https://cloud.githubusercontent.com/assets/6764142/7948975/537ecc4e-0946-11e5-87eb-2c8607b3634b.png)

[2015-06-02 22:44] casesp commented on #309
Tested the new updater mentioned in #532.  Still fails with the unlink errors.

[2015-06-02 22:52] casesp commented on #502
I'm reopening this because the unlink file problems are still an issue in 3.3.0-RC1

[2015-06-03 15:12] josiahseaman commented on #498
It looks like I've already removed the option to upload a Scenario from the main "Workspace" listing.  So this issue only comes up in Population.

![image](https://cloud.githubusercontent.com/assets/2256148/7945873/b44d7ab8-0930-11e5-822f-a4038f2e0d42.png)

The nice thing is there's already copy and delete options on each file, so the user has all the tools to make the decision between old file vs

[2015-06-03 15:22] josiahseaman commented on #502
Alright, thanks for letting us know.  Let's keep all of this focused on #532 then.  Since that seems like the only viable option, no point in having multiple open issues for one problem.

[2015-06-03 15:47] josiahseaman commented on #491
I made a second fix for this then realized it was unnecessary.  This is a test versioning issue.  Take a look at the commit that fixed this: https://github.com/NAVADMC/ADSM/commit/5b7aac7e857bca97f72eaa3919c3b7bad6ae8ef3  Notice it says which branch it's in, in this case "master".  That means that the fix hasn't gotten to "Windows-staging" which is the branch you'd be testing.  Please check this i

[2015-06-03 16:04] josiahseaman commented on #547
I noticed this and fixed it in master already.

[2015-06-03 16:15] josiahseaman commented on #498
I'm going to push an update now so that you can be on the latest version for other tests.  But I'm still going to work on this issue.  I want to take it from a blocking error message to an interactive prompt.

[2015-06-03 16:27] #509 closed

[2015-06-03 16:40] casesp commented on #498
@josiahseaman , Okay, I'll test it again once I have an update.  Please note the #502 and #532 issues for this update for me.

[2015-06-03 16:42] casesp commented on #491
Okay, I'll try to remember that...not sure if I will be able to always note which fixes made it to the Windows-staging by related issue or topic, but I'll give it a shot.

[2015-06-03 16:48] casesp commented on #543
Here are a couple of other layout items I found during other tests:
1)  The scroll bars in the upper right-hand corner
2)  The expandable panel on the center-right seems to be partially out and partially in.

![screen display glitch](https://cloud.githubusercontent.com/assets/6764142/7965936/e5cc0606-09dd-11e5-8112-9a198b6d9add.png)

[2015-06-03 16:53] josiahseaman commented on #491
That's why I try to be diligent about mentioning issue numbers in all my commit messages.  GitHub is really nice about [Code Archaeology](https://github.com/NAVADMC/ADSM/wiki/Code-Archaeology) when I do that.  You can track every issue to a series of code changes and see what issue is being targeted from the list commits.  This issue made me realize that the release is much farther behind than I h

[2015-06-03 16:55] casesp commented on #491
Okay, so I should have been pulling the commit messages, then...I wasn't doing that.  I'm still used to QA getting a list of "addressed issues" with each release statement....I'll try the git pull.

[2015-06-03 16:58] josiahseaman commented on #491
No, you weren't doing anything wrong.  This is just a trick to bypass the updater for the moment.  The idea is that, with the updater working, anytime we push to Windows-staging it'll prompt you to update and you can stay on the latest that way.

[2015-06-03 17:03] casesp commented on #491
Gotcha.

[2015-06-03 19:55] josiahseaman commented on #486
All I need to fix an issue like this is the first 3 lines of the file that won't parse.  You can just paste it directly into the issue.  It's also nice to link to any relevant documentation, so thank you for doing that.  Though in this case it looks like the documentation is wrong anyways.  The less words that are in an issue, the quicker I can read through it and get a solution.  I've added a CSV

[2015-06-03 21:20] josiahseaman commented on #500
Thanks, I got the file and have been looking at the issue.  The surface issue is now fixed.  But it exposed a deeper issue which I'm going to make a new ticket for.

One validation error I got was that the Direct Spread from `Dairy calf/heifer > 250` to itself was not defined.  I'm checking if that's a bad import or if that was missed in NAADSM

![image](https://cloud.githubusercontent.com/assets/

[2015-06-03 21:23] josiahseaman commented on #500
Sure enough.  This was missed in the original NAADSM scenario.  The requirements I had heard was that direct spread to self should always be defined, so there's a check in ADSM for that.  @ndh2 Is this ever not the case?

![image](https://cloud.githubusercontent.com/assets/2256148/7971767/71160d80-0a04-11e5-8bfe-9dd8b617a8f5.png)

[2015-06-03 21:28] josiahseaman opened #566 "Create Relational Function from File with new ajax panels and modals"
Code needs to be created to handle asynchronous file upload on Ajax forms.  Note: ImportScenario was made a regular form to fix #500

http://blog.teamtreehouse.com/uploading-files-ajax

[2015-06-03 21:33] ndh2 commented on #500
@josiahseaman direct spread to self does not have to be defined.

[2015-06-03 21:52] BryanHurst commented on #530
All server images are now set to run the server-startup.sh script which lives in Storage Bucket that all server instances can access.

[2015-06-03 21:52] #530 closed

[2015-06-03 22:31] josiahseaman commented on #500
It looks like it just generates a warning, but still lets you proceed to run the simulation.  Is that the desired behavior for validation?

[2015-06-04 12:41] casesp commented on #547
These issues need to be left open until a code release that is tested by QA demonstrates that they have been fixed.

[2015-06-04 12:42] casesp commented on #502
These issues need to stay open until a code release tested by QA verifies the fix.  This isn't a directive to write code, it is a bug report.

[2015-06-04 12:45] casesp commented on #471
Issues need to stay open until a code release can be verified as having addressed it.

[2015-06-04 12:46] casesp commented on #477
That is good Bryan, but let us leave these open until the "fix" is verified in an actual code release.

[2015-06-04 12:47] casesp commented on #476
This needs to be left open until an actual code release can be verified to contain a fix.

[2015-06-04 12:50] casesp commented on #486
See #513 and the documentation already provided in the design specs and past NAADSM versions.  You have copies already.

[2015-06-04 12:54] casesp commented on #491
This has not been verified as fixed as of 3.3.0-RC1.  Leave open until it is fixed.

[2015-06-04 13:27] ndh2 commented on #554
An updated version of the model spec that merges in changes from the RFC is ready to commit on the day the first 3.3.0 release goes out.

[2015-06-04 14:55] josiahseaman opened #567 "xml2sqlite needs to be updated with vaccination trigger migration"
I noticed when importing #500 that there was no vaccination trigger.  There's a DB migration that moves the old trigger to the new vaccination model, but it looks like this doesn't happen with the legacy import.  It just needs to add a new `DiseaseDetection` model instance.

[2015-06-04 14:58] #567 closed

[2015-06-04 14:58] josiahseaman commented on #562
#567 is an extension of this issue.  I'll just paste it in here and close out the duplicate.

## xml2sqlite needs to be updated with vaccination trigger migration

I noticed when importing #500 that there was no vaccination trigger. There's a DB migration that moves the old trigger to the new vaccination model, but it looks like this doesn't happen with the legacy import. It just needs to add a ne

[2015-06-04 17:14] BryanHurst opened #568 "Server Startup Script Crashes"
The server startup script has bad line endings which makes it crash in Linux.

[2015-06-04 17:14] BryanHurst commented on #568
Also, make it git pull each projects repo when done.

[2015-06-04 18:13] josiahseaman commented on #566
Also not working in v3.3.0-RC1.  It looks like the test: `test_views.test_post_with_points_from_file` doesn't have a matching selenium test for the correct javascript form submission.

Functionality is fixed, now I need to write a new set of selenium tests for it.

[2015-06-04 21:11] josiahseaman commented on #510
I've added `.` and `,` to the list of acceptable characters after testing it on Windows and Linux file systems.  The list of allowed characters is now:

    \w\d\- \\/_\(\)\.,~

Notable characters that need to be forbidden:
* `&` would be nice for "and" but it has special meaning in Linux
* `~` means home in Linux
* `[]` have to be escaped
* `%` escapes in URLs which we use

[2015-06-04 21:13] josiahseaman commented on #566
This issue should be implemented, with selenium tests for both major cases and mixed file types implemented.

[2015-06-04 22:01] BryanHurst commented on #561
Skipped using Internal Authorization by turning on Interoperability mode and creating a client key for the storage bucket.

You also need to set the CORS setting on the bucket and make all objects readable by all users.

[2015-06-04 22:02] BryanHurst commented on #561
The django-sotrages package did need a few tweaks to the apache-libstorage driver to make it Python3 compatible. This change is hosted in my BitBucket until the project team gets it fixed in the main repo.

[2015-06-04 22:02] #561 closed

[2015-06-04 22:04] BryanHurst commented on #568
This is low priority.

[2015-06-04 22:16] BryanHurst opened #569 "Create Proxy for Internet Access"
So we don't use a ton of IP addresses (one public IP per spooled up instance), we should setup a proxy VM for all other instances.
No instance should have an external IP except for the 'maintenance' or 'proxy' vm. SSH access would be chained through this VM.
HTTP requests are sent to the frontend servers through the load balancer, and not through external IPs.

https://cloud.google.com/compute/doc

[2015-06-04 22:17] BryanHurst commented on #569
This maintenance instance can be of the smallest possible resource allocation.

[2015-06-04 23:18] josiahseaman commented on #513
ADSM now supports conversion from NAADSM numeric state codes in csv files.

![image](https://cloud.githubusercontent.com/assets/2256148/7995952/b2412d06-0ad8-11e5-87c1-3c3e996e53af.png)

![image](https://cloud.githubusercontent.com/assets/2256148/7996074/ea7e09e0-0ad9-11e5-8e45-f3d41956bff8.png)

[2015-06-05 22:16] tjmahlin commented on #404
@josiahseaman @missyschoenbaum in examining the nature of the information contained in each of the columns in the new 3 column layout, I propose a unique sort of save interaction for each column.

1. The first column contains title and assignment information. These data are generally easy to edit, assign, or manipulate and don't broadly effect data beyond the present context. Simple text edit chan

[2015-06-05 22:23] tjmahlin commented on #422
@josiahseaman @missyschoenbaum [This specification, "Combining Define and Assign"](https://github.com/NAVADMC/ADSM/blob/gh-pages/Combining%20Define%20and%20Assign.pdf) for for an assignment interaction nested in the define interaction should work well for disease progression and zones. Also noted is a control to allow the user to duplicate a in item in the first-column list.

Due to the complexity

[2015-06-08 14:10] casesp commented on #474
Need to check to be sure that database locks are being closed when errors happen.

[2015-06-08 14:13] casesp commented on #489
Reopening based on @missyschoenbaum comments above until we know which way were going with the improvements.