[2017-04-24 22:13] BryanHurst commented on #644
Complete overhaul of the ADSM and ADSM-CEngine README files, plus cleanup of the ADSM Wiki in relation to installation, update, code overview and dev practices.

[2017-05-03 18:35] missyschoenbaum commented on #771
If you fill a zero in on the ring radius, it will turn the validation error off.  @lkholmstrom , this is not the best solution, but is is a workable option?

[2017-05-03 18:46] missyschoenbaum commented on #456
New docs posted

[2017-05-03 18:46] #456 closed

[2017-05-03 18:53] missyschoenbaum commented on #801
Tested this in Windows 10 and works fine.  Going to put as known bug.

[2017-05-03 18:53] #801 closed

[2017-05-17 18:59] missyschoenbaum commented on #208
I systematically tested through names. Special characters do give an error message.

Characters . dot, _ underscore, - dash, , comma, () open and close parens were allowed.
I created a file with characters in name, saved it, ran it, opened the database and ran a query on results.

[2017-05-18 14:25] missyschoenbaum commented on #208
File test documentation uploaded to google drive.

[2017-05-18 14:25] #208 closed

[2017-05-18 14:34] missyschoenbaum opened #810 "File Save As causes overwrite of existing files"
Steps to repeat
Have a file that you a prepared to overwrite and know name exactly, case matters, note last update date and time
Open sample scenario
Pull out File manager
Using duplicate or save as, type in name X, same as already existing name of file prepared to overwrite
Hit save
Look at file system, note that you have now overwritten as compared to last date and time

In #208 it looks like we

[2017-05-23 17:37] BryanHurst commented on #749
The labels can't be turned into a link since they toggle the collapse function of the list below.
However, a question mark link could be placed next to them.

[2017-05-23 17:44] BryanHurst commented on #755
Just a note: when the colors are corrected, all current results will need to be deleted and the simulation rerun so the image will render correctly.

[2017-05-25 17:11] missyschoenbaum commented on #808
@lkholmstrom When you have time, want to glance and see if this looks OK?

[2017-05-25 20:27] BryanHurst commented on #802
From the commit:

I'm not sure I like this currently, but will take other opinions on it.
Floating causes the buttons to stick to the bottom of the container, which in some cases causes the buttons to be further away from the inputs (if there aren't enough to cause scrolling) as seen below.

![image](https://cloud.githubusercontent.com/assets/1182469/26469075/fa83c3de-4155-11e7-9cee-d72bf51aa14b.p

[2017-05-25 20:30] BryanHurst commented on #749
The question marks aren't the best looking right now, but we can come back to it later if the look bothers people.

[2017-05-25 22:15] BryanHurst commented on #386
I have the CEngine broken out into the other repo and properly compiling now.

However, there are some bad/conflicting migrations in the frontend that I'm still troubleshooting.

[2017-05-25 22:23] BryanHurst commented on #802
One thing I noticed that is an issue is that the simulation progress bar now covers up all the buttons.

If we like having the buttons in the lower position, I'll look into fixing the simulation progress bar as well.

[2017-05-25 22:47] BryanHurst commented on #386
I've merged in the latest changes from master, so the VR branch is up-to-date now.

[2017-05-25 22:48] BryanHurst commented on #386
@missyschoenbaum There is a new VR branch build available for download.

It seems to run fine, but the simulation does throw some errors that I haven't seen before. But since the simulation completes and gives output, I'm not sure if it something to worry about?

[2017-07-17 20:51] missyschoenbaum opened #811 "Add Citation"
Add a citation flyout

We could put a “citation” link in the flyout that goes to the wiki and says how we want people to cite?  And then decide how we want it cited. Could do:
                ADSM Development Team (2017*). Animal Disease Spread Model [version]
                                *date being updated to the current production version
Version would need a dynamic link to current version

[2017-07-19 16:55] missyschoenbaum commented on #291
I think we are OK here, so I am going to close

[2017-07-19 16:55] #291 closed

[2017-07-19 16:57] missyschoenbaum commented on #76
I am going to call this one good

[2017-07-19 16:57] #76 closed

[2017-07-20 21:51] missyschoenbaum opened #812 "Installation - what can go wrong"
Research what can happen that results in no ADSM Workspace getting created.

Also, is there a way to logfile the screen so we could see issues?

[2017-08-11 15:44] missyschoenbaum commented on #644
I am calling this one good for now

[2017-08-11 15:44] #644 closed

[2017-08-23 21:40] missyschoenbaum commented on #588
Duplicate action not working as noted in check box item.  Middle goes away if more than one trigger exists, leaving right column.  If only one trigger and delete, then all columns go away. This may not be perfect, but less critical.

[2017-08-23 21:45] missyschoenbaum commented on #588
I am going to call good on the formatting issues, Duplicate is the only one left

[2017-08-28 20:46] missyschoenbaum commented on #802
Note added, can we drop into header?

[2017-08-28 21:36] missyschoenbaum commented on #771
Let's set default ring radius to zero unless ring trigger is yes, then radius must be GT zero

[2017-08-28 21:41] missyschoenbaum commented on #184
MinValueValidator(0.0) is allowed, let's tweak to this

[2017-08-28 21:52] missyschoenbaum commented on #440
For parameters of distance, we need to default to km.

[2017-08-28 22:00] missyschoenbaum commented on #765
Confirmed

[2017-08-28 22:00] #765 closed

[2017-08-28 22:04] missyschoenbaum commented on #806
We think we are covered

[2017-08-28 22:04] #806 closed

[2017-08-28 22:07] missyschoenbaum commented on #811
Put this on Setting page

[2017-08-28 22:15] missyschoenbaum commented on #292
We can live with, closing

[2017-08-28 22:15] #292 closed

[2017-08-28 22:22] missyschoenbaum commented on #302
Good on this

[2017-08-28 22:22] #302 closed

[2017-08-28 22:35] missyschoenbaum commented on #489
SME input - nice to have but not critical. Tested by opening 398K population compared to 3K.  They opened in the same amount of time.

[2017-08-28 22:45] missyschoenbaum commented on #588
Tested this, action works order of clicks is important.  Willing to pass on others so I am  going to close.

[2017-08-28 22:45] #588 closed

[2017-08-28 22:53] missyschoenbaum opened #813 "Browser error - update chromium"
Getting error message. Add a picture.

[2017-08-28 22:59] missyschoenbaum commented on #748
We are calling this good

[2017-08-28 22:59] #748 closed

[2017-08-29 19:37] missyschoenbaum commented on #749
These work, closing.

[2017-08-29 19:37] #749 closed

[2017-08-29 19:38] missyschoenbaum commented on #775
This works, closing.

[2017-08-29 19:38] #775 closed

[2017-10-23 16:51] missyschoenbaum opened #814 "Improvements to Vaccination Flow - Control Page"
Can all fields except Name on Controls form be moved to 2 subforms. These subforms would be the same level as Control Protocols.
Vaccination Global
Destruction Global

Destruction Global would contain:
Destruction Program delay
Destruction Capacity
Destruction priority order
Destruction reason order

Vaccination Global would contain:
Vaccination capacity
Vaccination restart capacity
Vaccinate retr

[2017-10-23 17:22] missyschoenbaum opened #815 "Production Type groups, text is squeezed"
Give the production type group the ability to grow and spread out a little.

Steps to recreate with ADSM open
Using right panel fly out, select production type icon
Use + define new production type group, add options until line has to roll and then second line is cut off.

![squeezedproductiontypegroups](https://user-images.githubusercontent.com/6644604/31903125-6e44cda4-b7e4-11e7-896c-602f7c1aaf5

[2017-10-25 15:01] missyschoenbaum commented on #802
After testing, the green bar is in the way of "Delete Results and save changes". Can we look at some options to improve this?
Maybe, make green bar thinner, give it a way to minimize, or stay to the side so users can see the "Delete results and save changes"  Open to discussion.  Also, let's plan to do this in a way so it is easy to revert build if needed, like quick test and revert with this as o

[2017-10-25 15:11] missyschoenbaum commented on #762
We will need to revisit due to changes. Leave ticket in place.

[2017-10-25 15:21] missyschoenbaum commented on #809
This is done

[2017-10-25 15:21] #809 closed

[2017-10-25 15:43] missyschoenbaum commented on #671
Before we start on this, can we see how priority widget was done?

[2017-10-25 15:50] missyschoenbaum commented on #331
We think this is just a weird visualizing thing.

[2017-10-25 16:07] missyschoenbaum commented on #735
After discussion, we have decided that this is a low use item and are going to close. The data is available in the dataset for analysis and this should be adequate for most users.

[2017-10-25 16:07] #735 closed

[2017-10-25 16:17] missyschoenbaum commented on #812
We found when an Admin user does an installation and fails to put in a directory for the ADMS Workspace  (they leave it blank as the default), the program will install to that Admin person's My Documents.

TO CORRECT THIS, Reinstall, and specify an exact path location on the PC for the ADSM Workspace to map to, instead of leaving a blank.

[2017-10-25 16:18] missyschoenbaum commented on #812
Let's add language to install wizard to give some guidance on this.

[2017-10-25 16:21] missyschoenbaum commented on #813
![chromiumerror](https://user-images.githubusercontent.com/6644604/32010140-3bf0a05e-b96e-11e7-9ae7-16843d40d342.JPG)

[2017-10-25 17:15] missyschoenbaum commented on #264
We still agree Solution 2 is OK

[2017-10-25 17:41] missyschoenbaum commented on #286
This is a direct count, not a probability so it is OK that it doesn't add up to 100%

[2017-10-25 17:41] #286 closed

[2017-10-25 17:55] missyschoenbaum commented on #440
No changes, adding help text

[2017-10-25 17:55] #440 closed

[2017-10-25 17:58] #489 closed

[2017-10-25 21:21] missyschoenbaum commented on #804
Confirmed that wiki says only Clinical and Subclinical.  Calling this one good.

[2017-10-25 21:21] #804 closed

[2017-10-25 21:24] missyschoenbaum commented on #755
Looks Good
![755fixed](https://user-images.githubusercontent.com/6644604/32024079-8c9c5bcc-b998-11e7-8255-62eef49082be.JPG)

[2017-10-25 21:24] missyschoenbaum commented on #755
Closing this one

[2017-10-25 21:24] #755 closed

[2017-10-25 21:33] missyschoenbaum opened #816 "X axis Unit Help Text"
Add help text to pdf X axis. @lkholmstrom to provide text.

[2017-10-25 21:43] missyschoenbaum opened #817 "Summary Report Additional Fields"
The following fields should be added to the Summary report.
[SummaryFieldsToAdd.xlsx](https://github.com/NAVADMC/ADSM/files/1416279/SummaryFieldsToAdd.xlsx)

[2017-10-26 16:03] missyschoenbaum opened #818 "Control Protocol, can't add"
This is in VX Rings 3.3.9.0

When you add a new Control Protocol, fill in blanks and hit apply, nothing saves.  Expected action is that new name should now show up on the list of control protocols for user to continue adding other control options
Steps to recreate, with ADSM VX rings open
Go to Control Protocol, select + New Control Protocol
Middle screen (detection is first) pops out, Give a name

[2017-10-26 16:15] missyschoenbaum commented on #691
This is still happening.

[2017-10-26 16:17] missyschoenbaum opened #819 "Vaccination Rings, need hover text on name"
The name of the vaccination ring is created automatically, but is often longer than space available.  In triggers we get around this by using hover text to expand name.

[2017-10-26 16:49] missyschoenbaum opened #820 "Vaccination Priorities - multiple issues"
Major issues
- [x] There is no way to apply a change in vaccination priorities, or we can't access if they are DONE
- [x] Secondary sort on widget is not appearing DONE

Minor issues
- [x] Vaccination priority order with the pull down is redundant to the priority widget and can be removed DONE
- [x] The column is really thin, can we make it at least as wide as other 3 column pages DONE
- [x] Add s

[2017-11-03 19:48] missyschoenbaum opened #821 "Outputs - Results_dailybyProductionType missing variables"
The table  Results_dailybyProductionType is missing some variables. Can they be located and added back in?  I realize that some variables are not at the production type level, so that is required and should be checked first.
appdUinfectious
trcUDirFwd
trcUIndFwd
trcUDirpFwd
trcUIndpFwd
trcUDirBack
trcUIndBack
trcUDirpBack
trcUIndpBack
tocUDirFwd
tocUDirBack
tocUIndBack
tocUIndFwd
zoncFoci
trcADirB

[2017-11-09 19:02] missyschoenbaum opened #822 "Database - where do vaccination priorities live?"
in looking at VX rings and priorities branch, where in the database structure to the priorities live?

[2017-11-09 20:15] missyschoenbaum commented on #741
Do I just need to move the finished queries into text files and upload into vx rings branch?

[2017-11-09 20:21] missyschoenbaum commented on #817
I am not sure it is blocked by #821 but they are probably part of the same problem.

[2017-11-15 19:11] missyschoenbaum opened #823 "SQlite - force file name to end in .db"
i am reading an article that notes SQLite can be configured to make the file extension name appear as .db instead of sqlite#.  How hard is this?

It might be handy as some tools have a hard time find the sqlite file extensions.  Not sure if .db would help but might be more clear.

[2017-11-16 18:43] missyschoenbaum opened #824 "White window opens, but program won't load - Port in use"
Thanks to our friends at Kansas State for finding this one.  It will go in Known Bugs.

Problem: Starts ADSM, white window open and hourglass runs but program never opens.

I had her pull the logs, which are found within ADSM Workspace, settings, logs directory.  Server error log says:
STARTING AT: 2017-11-16 17:21:14.652434+00:00[16/Nov/2017:11:21:14] ENGINE Bus STARTING
[16/Nov/2017:11:21:14] EN

[2017-11-17 19:24] missyschoenbaum commented on #824
#812 probably could be linked

[2017-11-21 20:46] missyschoenbaum opened #825 "Database locked - only on multi core server"
I was running scenarios on Ames server - 64 core.  I could see that 60ish sessions of ADSM were running iteration threads.  I was set to run 500 iterations.  I would make it to about 90, and would start getting database locks, which would process on for a while until it would completely lock up. The app would gracefully shut down at whatever point it had reached  (yeah for that).  I tried several

[2017-11-22 16:00] missyschoenbaum opened #826 "Population Map won't open after iterations completed"
The easy fix to this is to delete results and run again - somewhat of a hassle but not the end of the world.

I am documenting it so we can post as known bug and also so dev can look and see if they see immediate problem.  I probably cannot reproduce issue as real bug.

What I am seeing is that the simulation completes, and the hourglass is waiting for the results population map to paint.  However

[2017-11-22 16:00] missyschoenbaum commented on #826
This needs to stay open until dev sees, and Missy adds to known bugs page

[2017-11-28 20:09] missyschoenbaum commented on #742
#742, #817 and #821 also deal with variables coming in from results set.

[2017-11-28 20:12] missyschoenbaum commented on #821
#742, #817 and #741 also deal with variables coming in from results set.

[2017-11-28 20:21] missyschoenbaum opened #827 "VX Rings - opens in HTML"
This is in the VX Rings build, cannot pull number off mine.

This may be a Missy only issue, since I have tinkered on builds and old builds on my PC.  Had IT install new version, with clean folder.  Renamed old folders as I wanted to keep scenarios I had managed to create.

ADSM goes through opening process, then main form opens in plain HTML.
![vxrings_plainhtml](https://user-images.githubusercon

[2017-11-28 20:22] missyschoenbaum commented on #827
Logs don't appear to show anything odd.  Willing to wipe out and reinstall, but thought it was curious.

[2017-12-01 16:55] BryanHurst commented on #820
Confirmed that there is no save code implemented for the Vaccination Priorities page.

[2017-12-01 17:34] BryanHurst commented on #820
The column width is fixed in v3.3.9.0.

[2017-12-01 17:37] BryanHurst commented on #820
@missyschoenbaum by module, are you wanting the left hand navigation panel to list "Vaccination Global" instead of "Vaccination Priorities"?

[2017-12-01 17:38] BryanHurst commented on #820
@missyschoenbaum Can you talk a little more about the secondary sort on the widget? I'm not sure what this is supposed to be, so am having trouble tracking down where it might have been.

[2017-12-01 17:44] BryanHurst commented on #820
The vaccination priority order field is already marked to be hidden, but isn't following the command correctly.

After further investigation, it looks like much of the backend logic for this page just isn't implemented yet. There is no ability to read the ordering from the widget yet, no save capability, and form field options aren't being rendered.

This might take some work to get up and running

[2017-12-01 18:14] missyschoenbaum commented on #820
@BryanHurst  Yes, the left hand panel should say Vaccination Global.

I will look for spec on secondary Widget

[2017-12-01 18:21] missyschoenbaum commented on #820
@BryanHurst On the Code page, if you switch to the gh_pages, then go to 12 MultiLevel priority Widget.  You have to page down a few pages to see how the secondary sort pop out.  For example, if we pick that we are going to make production type the primary sort, there are many options in a secondary sort that can be presented for which production type should be the first one vaccinated.  I am almos

[2017-12-01 22:40] missyschoenbaum opened #828 "Implementing Views"
Nature of the problem - the results tables are somewhat complex for users to understand. We have given example queries, but there is still a learning curve especially if you want to join in a production type name or something that has to cross back over into the scenariocreator tables.
It has just occurred to me that at the same time we build all the database structures, we could build views. View

[2017-12-04 22:04] missyschoenbaum commented on #762
Somewhere in here we need to point this to me to ask questions from the public.

[2017-12-05 16:32] missyschoenbaum commented on #452
No answer to date.  SQLite Manager through Firefox has become obsolete.  I found a new package SQLite Studio that does not require an installation, and will allow users to save queries.  Export of data requires a few more steps, but is can be done and gives option to include field names.  Import of tables is more complex.  SpatialLite is still the winner for importing.

[2017-12-05 19:32] missyschoenbaum opened #829 "Example R Code Directory"
Add a directory similar to the Example Database Queries directory where we can put R code in that can be packaged along with application.  At the moment I only have one simple example but hope to have more soon.

[2017-12-07 18:13] BryanHurst commented on #824
My comment closed this. I'll be sure not to use the word "Fix" next time so we can test issues before closing.

[2017-12-07 19:05] BryanHurst commented on #820
I did find another code branch that had some of the missing code for this.

I was able to merge in the sub priority ui and get that working.

Still no save code exists though, will need to finish that up.

[2017-12-12 17:34] missyschoenbaum commented on #742
Missy, keep a TODO to push the summary query once this is fix.  Query is written, but missing cost field.

[2017-12-15 17:27] BryanHurst commented on #827
This looks like a permission error/corrupt installation.
The webserver is not launching properly.

TODO: Need to make sure the devserver fallback is properly  serving static files.

[2018-01-04 22:17] BryanHurst commented on #820
A new Vaccinations Rings Beta (3.3.9.1) has been released with these changes.

[2018-01-08 20:34] missyschoenbaum commented on #820
Have it up and appears to be running. Will get to testing.

[2018-01-11 17:19] BryanHurst commented on #820
It looks like there might be an issue with modifying the secondary sort. Will look into that.

[2018-01-11 18:25] BryanHurst commented on #818
@missyschoenbaum There is a field on the ControlProtocol model that is missing right now, and I can't tell if it is supposed to exist in the database or not.

The field is use_vaccination

 There were multiple merges back in 2014 that took this field out, then added it back in, then out again.
Part of the reason this page isn't rendering properly is a miscommunication between the database and the

[2018-01-11 18:32] missyschoenbaum commented on #818
Here's the quick answer, and I can research.  The use_ fields used to be the high level way to tell the program if a certain control method was going to be used - are we going to detect Y/N are we going to destroy Y/N and so on.  I assume that we still need it because we still want to be able to decide at a high level if we are going to implement vaccination.  In fact, I was hoping at some point w

[2018-01-11 18:48] BryanHurst commented on #818
Okay, I'll get these fields back in and go from there.

[2018-01-11 19:44] BryanHurst commented on #827
When in production mode, there is no way to force Django to serve static files as a fallback as it has a security check built in to prevent it when debug is off.

It looks like the best we can do if the server isn't working is to alert the user that their installation is corrupt and exit.

[2018-01-11 20:14] BryanHurst commented on #827
Note that if your installation is already broken in the state, it needs to be uninstalled and reinstalled to get the fixes.

The best way to test the error notification is to go into your installation folder/nginx/Windows and rename nginx.exe to something else.

When done testing, name the file back.

[2018-01-12 17:42] BryanHurst commented on #828
Research implementing a SQL viewer.

[2018-01-12 17:48] BryanHurst commented on #812
Possibly create the workspace folder at first startup if a location settings file doesn't exist.

Will need to copy a template of that folder to new location.

[2018-01-25 18:18] BryanHurst commented on #829
I created the directory and placed a temporary file there. The temporary file should be removed when adding the first R code sample.

I also added reference to the folder in the Wiki.

NOTE: This folder only exists in the priority_widget branch which is the new vaccination rings branch. I'm hoping to get this branch tested and pushed back into master soon.

[2018-01-25 18:33] BryanHurst commented on #810
Message is inserted. If we want to fancy it up, I can take some time to tweak the html.

[2018-01-26 15:13] missyschoenbaum commented on #827
Looks like we have some documentation and my issue has been resolved.  Going to close.

[2018-01-26 15:13] #827 closed

[2018-01-26 17:03] missyschoenbaum commented on #824
Christie tested and said it is working - going to close.  Remind me to send a production branch to her next time we make one.

[2018-01-26 17:03] #824 closed

[2018-01-26 17:53] missyschoenbaum opened #830 "Check Wiki R code language"
Compare to source

[2018-01-30 22:57] missyschoenbaum commented on #810
@BryanHurst what branch is this in?

[2018-01-30 23:02] missyschoenbaum commented on #818
There was a little save lag, maybe that was throwing me off the other day. This is working.

[2018-01-30 23:02] #818 closed

[2018-01-30 23:04] missyschoenbaum commented on #820
All items working

[2018-01-30 23:04] #820 closed

[2018-01-30 23:07] missyschoenbaum commented on #386
This validated and ran - Success!  We still need to test logic, but I am closing this one for now that the basic functionality is working.

[2018-01-30 23:07] #386 closed

[2018-01-30 23:09] BryanHurst commented on #810
It is in the priority_widget branch (aka the Vaccination Rings release).

However, I hadn't pushed it to the update server yet.

I just pushed the latest changes, but didn't bother with a version bump, so your updater will just say you need to repair your installation.
The version number should be 3.3.9.2

[2018-01-30 23:12] missyschoenbaum commented on #830
Looks great to me.  I think we should be documenting into any code that we add, so no need to add more info into the wiki about what kinds of R code.  Maybe later we can have a list, when we actually have a list.

[2018-01-30 23:12] #830 closed

[2018-02-01 16:19] missyschoenbaum opened #831 "Remove old VX Priority"
Prior to the VX Rings and Priorities branch, the vaccination priority was held in the Control Protocol for Vaccination.

Remove the field Vaccination Priority in Control Protocol, Vaccination.  If there was a validation hooked to that field, use the Days to Immunity field as the check for validation instead.  I know I am getting a validation error when I run, but it does allow me to run.

Here's w

[2018-02-01 22:38] BryanHurst commented on #724
I've noticed that this problem (not showing up in the drop down after creation) only happens when creating a Variant. When creating a new Probability, it shows up fine.

[2018-02-02 17:46] BryanHurst commented on #828
https://github.com/groveco/django-sql-explorer

[2018-02-08 17:14] missyschoenbaum commented on #828
Wow, many things I like.  Some hard to check unless I put my hands on it (like code complete?)  Brilliant that it can block destructive words and limit the schema to show.  Seems like query history should be local, as compared to shared with me.   I think we would be running the most streamlined version.  Didn't understand the multiple connection, which is what we would need. Nice if it could shar

[2018-02-12 20:30] BryanHurst commented on #831
NOTE: Vaccination Ring Radius is required for validation currently.

[2018-02-20 21:00] missyschoenbaum opened #832 "VX Rings, Permission on folder"
Could it be something else is wrong with permissions on this folder?  I had the Sys Admins check and they say I have permission to write into my own folders.  I took an image of my security, but don't want to post here.  To work around, I just deleted and installed a new version.

Let me test again with new version

[2018-02-20 21:16] missyschoenbaum opened #833 "Vx Rings, did I get a wrong build?"
I was going to look at  #829, #831  today, but I am getting these errors, and control protocol will add a new one, but won't save and won't show the one that exists in the assign panel.  I think we worked through before

[2018-02-20 21:58] BryanHurst commented on #833
Does your client state that it is running version 3.3.9.3 and say "No updates are available."?

[2018-02-20 22:09] missyschoenbaum commented on #833
This is where #832 it won't let me run as Admin, even though I am admin. I does say there is an update available.  So, I should just get the Sys Admin to update?

[2018-02-20 22:13] BryanHurst commented on #833
You can try re-downloading the VX Rings Beta and running it in a locally
owned folder.
I'll put work towards the installation fixes related to the workspace
folder this weekend.

On Feb 20, 2018 3:09 PM, "Missy Schoenbaum" <notifications@github.com>
wrote:

[2018-02-21 15:38] missyschoenbaum commented on #833
That's what I did, was re-download. but I am in the state where I still need the updates and they won't run.

[2018-02-21 16:56] missyschoenbaum commented on #829
I see it.  No code ready to move yet but will get some going.

[2018-02-21 16:56] #829 closed

[2018-02-21 16:57] #833 closed

[2018-02-21 16:58] missyschoenbaum commented on #810
Looks great!

[2018-02-21 16:58] #810 closed

[2018-02-21 17:42] missyschoenbaum commented on #831
I looked at this and think this will work.  Assign validation to days to immunity.  Remove ring radius and trigger ring vaccination.

![vxrings_setvalonimmunity](https://user-images.githubusercontent.com/6644604/36495870-e2435414-16f3-11e8-8ce1-57f95f677136.JPG)

[2018-02-21 18:20] missyschoenbaum commented on #828
This is brilliant.  I am going to add notes in here so I don't forget them.
Manage password
Make views vs saving more queries, same amount of work for me, what make more sense. what are implementation problems of this, as view is building a database object. How do we add value to user of not having to learn how to dig through this.
Make list of what to include/exclude in schema names.  Having save

[2018-02-26 18:36] BryanHurst commented on #831
In working on this, I noticed that simulations are not running any more. I'm tracking down if it is because of the removed fields, or if this has been going on for a while.

[2018-02-26 18:43] BryanHurst commented on #831
Noted above is an ongoing issue and should be researched separately.

[2018-02-26 20:10] missyschoenbaum opened #834 "Round Robin - missing in Vaccination branch"
There is supposed to be a new option in vaccination priorities called "Round Robin", which overrides all the other options and spread resources out evenly over all herd identified for vaccination.  I am not seeing it in priorities.  Can we go digging for it?

[2018-02-26 20:46] BryanHurst commented on #834
#389 has some conversation between Neil and Josiah that is worth noting on this.

[2018-02-26 22:47] BryanHurst opened #835 "CEngine Monitoring"
- [x] Capture CEngine Errors and Display
~~- [ ] Monitor running processes and CPU usage~~
- [x] Capture CEngine raw output (may be in another issue)

[2018-03-02 20:10] missyschoenbaum opened #836 "VX Rings - Columns not matched"
I am seeing this in the CMD window, but I am not sure where the error happens.  The column names that are not matching are related to the new functionality.  Could we need a new table to capture these?  Or do we have another sort of problem here.

If just capturing output is problem, let's make some improvements in the process that may cross reference other issue.  Just figure out scope before you

[2018-03-02 22:30] missyschoenbaum commented on #835
Can we get Jeff to do this first?  At least the Capture Cengine Error part?

[2018-03-05 18:40] missyschoenbaum commented on #828
I added a dependency on this.  We need to fix before we implement actual queries in final version, but shouldn't stop other work.

[2018-03-05 19:34] BryanHurst commented on #594
This issue shows up with any validation issue in any ControlProtocol.

[2018-03-05 19:46] BryanHurst commented on #594
Also noted: The yellow triangles don't work any more

[2018-03-05 21:57] missyschoenbaum commented on #832
After I click this a couple of times, it runs

[2018-03-05 21:57] #832 closed

[2018-03-05 23:13] missyschoenbaum opened #837 "States output file is offset"
The states output file is designed to have the run, day then herdID as the columns.

Somehow we load scenario_unit table starting with id = 2, and then make the herdid in the states file start at 0.  We need to make the states file line up with however we load the  scenario_unit table.

[2018-03-06 16:00] missyschoenbaum opened #838 "Map Output Adequate?"
Map output in ADSM is in a weekly format. Is this adequate?  If not, we should spec out what we want and figure out if we can get it.

Also, do files write is correct way for GIS?

From discussion, any file with Latitude and Longitude can be mapped. It would be better to have this in a simple tabular format.  We know the initial status, that is in unit. We could capture the daily change. The one t

[2018-03-06 16:03] missyschoenbaum commented on #828
@BryanHurst any idea how many characters I have in the description space?  I am working up basic queries with descriptions.

[2018-03-06 16:05] BryanHurst commented on #828
I would have to look in the source code. You may potentially have
essentially unlimited characters if it is stored as a text block.
But if you wanted to be safe, I would go with 256 chars until I can look
deeper.

On Mar 6, 2018 9:03 AM, "Missy Schoenbaum" <notifications@github.com> wrote:

[2018-03-06 16:53] missyschoenbaum commented on #834
@lkholmstrom  how do we test this?

[2018-03-06 20:26] BryanHurst commented on #594
This issue is more complex than just color styling the text as the underlying validationerror framework is trying to do two things at once and can currently only accomplish one of them.

[2018-03-06 20:27] BryanHurst commented on #835
I'll be working on the backend portion of this and pass it over to HTML once we have logging completed.

[2018-03-06 20:34] missyschoenbaum commented on #836
Here are some screenshots with as many iterations as I could capture from CMD.
[VX_rings_CMD_windows_errors.docx](https://github.com/NAVADMC/ADSM/files/1786628/VX_rings_CMD_windows_errors.docx)

[2018-03-06 21:11] BryanHurst commented on #836
This also highlights the error for Issue 8 over on the CEngine.

This is good output to have.

[2018-03-07 18:13] missyschoenbaum commented on #831
@BryanHurst Should we be testing this or do we think this is #8 from the other repo?

[2018-03-07 18:52] missyschoenbaum commented on #838
After discussion, we think this doesn't accomplish a purpose. Can you tell me if this is processed by the front end?

[2018-03-07 18:54] missyschoenbaum commented on #837
Is this processed by the front end? This is an unfriendly format and we want to consider other options.

[2018-03-07 19:05] BryanHurst commented on #831
My comment on the simulation not working is related to Issue 8 on the CEngine. The removal of the fields and validation should be up and running.

[2018-03-08 21:15] missyschoenbaum opened #839 "Map Output from NAADSM documentation"
This is to provide documentation only of previous process. When a user would check the create Map Output option, this is what they would get.
A zipped folder would go to the desktop defaulting to the name of the scenario.
within that folder would be sub directories for each iteration run.
Each iteration would have a set of files.
DayPremStat  - a comma delimited file with the fields
Day, prem, sta

[2018-03-08 21:40] missyschoenbaum commented on #837
Kelly provided reasons to keep the original format of this, so we will need to proceed with fix.  But, if processed by front end, I think we could also consider writing data table.

[2018-03-09 18:45] missyschoenbaum opened #840 "Vaccination Rings - Counter intuitive results"
Here is some documentation.
[TX QUADS simulations further analysis.docx](https://github.com/NAVADMC/ADSM/files/1798006/TX.QUADS.simulations.further.analysis.docx)

[2018-03-12 16:38] BryanHurst commented on #838
The map output is written by the CEngine. Specifically there is a file called weekly_gis_writer.c that accomplishes this.

[2018-03-12 16:40] BryanHurst commented on #836
To make things a bit easier, Missy's above images are attached directly below.

![image](https://user-images.githubusercontent.com/1182469/37296838-bb645fe4-25e1-11e8-9c7e-ef6358e4189b.png)

![image](https://user-images.githubusercontent.com/1182469/37296851-c51ccbe8-25e1-11e8-82aa-d3fd632916eb.png)

![image](https://user-images.githubusercontent.com/1182469/37296858-c8af5384-25e1-11e8-9e3b-b45c1b

[2018-03-12 17:22] BryanHurst commented on #835
Getting this in place is going to be important for hunting down some of our current issues.

It does pose an interesting issue with us using multiprocessing to concurrently run iterations, writing to a log file can and will get out of order. So we need to come up with a logging mechanism that is written out at the end.

Logs will be written to log files in the adsm workspace. At that point, I don'

[2018-03-12 17:30] missyschoenbaum commented on #835
Another thought, if you output something I can parse and order, I don't care if iterations are written in different order.  It might require us to think a little about how to look a what parts of a message are coming out so we know if they are general output messages or iteration specific messages.

[2018-03-12 21:47] BryanHurst commented on #836
I'm not able to find references to any of these fields in the frontend or the CEngine.

My best guess is that the frontend is missing new fields that are required.

Need somebody to look deeply into the CEngine to see what is required and what we are missing.

[2018-03-21 17:21] missyschoenbaum commented on #831
@BryanHurst this is still assigned to you.  Should I go ahead and pull update or are you waiting on something else?

[2018-03-21 17:26] missyschoenbaum opened #841 "Vaccinate By Priority Bucket Assertion Failed"
Original author Bryan

Any time we run a simulation, the following error is thrown multiple times.

ERROR:../modules/resources_and_implementation_of_controls_model.c:1602:vaccinate_by_priority: assertion failed: (bucket != NULL)

Research needs to be done to see if this is adversely changing the simulation output, or if it is essentially a warning?

Followup by Missy

It is adversely changing the

[2018-03-21 17:29] missyschoenbaum opened #842 "Change Build Output Name"
Original author Bryan
To make to build process for the main ADSM project easier, we should change the compile target of the CEngine from 'adsm.exe' to 'adsm_simulation.exe'.

pulled from ADSM-Cengine repo and closed

[2018-03-21 17:33] missyschoenbaum opened #843 "License for CEngine"
Original Author Alex
Need to apply the appropriate license to the source code.

This is linked to ADSM#520 and ADSM#762

[2018-03-21 17:35] BryanHurst commented on #831
You should be able to go ahead and pull it down.

On Mar 21, 2018 11:21 AM, "Missy Schoenbaum" <notifications@github.com>
wrote:

[2018-03-21 17:37] missyschoenbaum opened #844 "Static Compilation"
Original author Bryan
We need to ensure that both the Linux and Windows compiles are static binaries that can run standalone.

A note on static compilation:

It is important from the "customer's" point that we do compile everything statically and not require that additional libraries be installed or compiled on their computer.
This is because of the target audience being in epidemiology and potent

[2018-03-21 17:38] missyschoenbaum opened #845 "Automated update"
@wvaldivia commented on [Sun Apr 30 2017](https://github.com/NAVADMC/ADSM-CEngine/issues/7)

Revising each component of the tool, I see this item that is worth to include in the _**installation discussion**_. While I am running as administrator and npu.exe I get the following message.
************
Welcome to Newline Technical Innovation's Program Updater.

Thank you for using Newline's ADSM_Beta p

[2018-03-21 17:39] missyschoenbaum opened #846 "Rework test cases that used averagePrevalence output"
@BryanHurst commented on [Tue Jan 17 2017](https://github.com/NAVADMC/ADSM-CEngine/issues/2)

Several automated tests that checked that prevalence works correctly now fail after the averagePrevalence output was removed in issue #466

The tests can be spotted by cd'ing into CEngine/modules and typing make check. Some of the tests will FAIL with a message saying "should contain a variable named aver

[2018-03-21 17:39] missyschoenbaum opened #847 "Remove the second build in CEngine/modules/test"
@BryanHurst commented on [Tue Jan 17 2017](https://github.com/NAVADMC/ADSM-CEngine/issues/1)

This is left over from when the code used MPI. It was useful to have a non-MPI build of the executable to run the automated tests. Not needed anymore.

[2018-03-21 17:41] missyschoenbaum commented on #841
[VX_rings_CMD_windows_errors.docx](https://github.com/NAVADMC/ADSM/files/1834489/VX_rings_CMD_windows_errors.docx)

[2018-03-23 14:13] missyschoenbaum commented on #831
@lkholmstrom I am looking at this from a validation standpoint.  Could we make days to immunity a required field, and set a default to 1 (or zero) so the validation has an anchor?

[2018-03-23 20:01] missyschoenbaum commented on #831
Decided to leave validation as is. Looks good on removing fields and the validation check work perfectly.

[2018-03-23 20:01] #831 closed

[2018-03-23 20:13] missyschoenbaum commented on #594
I checked off the last box on the list.  One thing here is how tracing is validating, as user might not do tracing direct and indirect, but with talk to Lindsey about best way to minimally validate.

[2018-03-23 20:15] missyschoenbaum commented on #838
@lkholmstrom and I discussed. If we could have a nice daily states file, I think we could do away with this completely.

[2018-03-23 23:27] BryanHurst commented on #835
Logging is done now. I'm going to go ahead to move this over to testing as it is something needed to troubleshoot CEngine issues.

We will leave the process and cpu monitoring to another time/task.

[2018-03-23 23:29] BryanHurst opened #848 "CEngine Monitoring II"
- [ ] Monitor running processes and CPU usage
- [ ] Allow user to kill processes

[2018-03-26 17:13] BryanHurst commented on #848
NOTE: This is a low priority, mostly just a nice thing to have when running large simulations.

[2018-03-26 17:39] missyschoenbaum commented on #594
Looks good.

[2018-03-26 17:40] #594 closed

[2018-03-26 18:26] BryanHurst commented on #724
Creating new probability functions is creating duplicates in the dropdown for some reason.

[2018-03-26 18:29] BryanHurst commented on #724
Creating COPY relational functions is working fine.

However, creating COPY probability functions is what is still lacking.

[2018-03-26 19:36] BryanHurst commented on #802
There is still an issue when the edit buttons are in a "fragment" div that we potentially cover up any information when scrolling is involved.

[2018-03-26 19:36] BryanHurst commented on #724
Fixed the edit button issue.

[2018-03-26 19:46] BryanHurst commented on #802
In Population, the farm list is obscured by Simulation Progress

In Vaccination Global, edit buttons still obscured?

[2018-03-26 22:08] missyschoenbaum opened #849 "Wiki for logs"
We need to have a description of what each log file is doing for troubleshooting

[2018-03-27 21:59] missyschoenbaum commented on #802
I went through each screen and button seems to land in correct spot.  An unexpected action is that counter while the model is running doesn't seem to progress in the same way.  However, after sitting for 20 seconds or so it did progress, so I don't know if this is related or not.  The middle counter works fine, it is the right counter that shows seconds that is off. @BryanHurst want to see if that

[2018-03-27 22:06] missyschoenbaum commented on #835
Wow, the secret life of models is now on display. @BryanHurst I am good on the logging, do I need to leave this issue open for process monitoring>

[2018-03-28 21:21] missyschoenbaum commented on #802
I ran one of the more complex scenarios, and the progress monitors seemed fine, I am closing and will reopen if I hit it again.

[2018-03-28 21:21] #802 closed

[2018-03-28 21:39] missyschoenbaum commented on #841
My estimate of failure rate was wa
![cenginelogs_fail](https://user-images.githubusercontent.com/6644604/38057923-41d7ad7e-329e-11e8-8798-184dc4a5d8bd.JPG)
y off.

[2018-03-29 20:12] missyschoenbaum opened #850 "C Engine output producting unexpected fields"
I am looking at the C Engine output that goes out into the log files.  For variables that are parameterize to the production type level, the naming convention happens something like
descUDetCattle -- variable that captures the count for destruction cumulative by Unit for only Cattle
descUDetSwine -- variable that captures the count for destruction cumulative by Unit for only Cattle
descUDet - vari

[2018-03-29 20:45] missyschoenbaum opened #851 "Adding destination in disease spread unexpected behavior"
Steps to recreate
1) Open empty sample, save as new name (test851)
2) Go to production type panel, add a new species (Nilgai)
3) Go to population, edit population and turn some units into new species, and make one latent disease state
4) Go to Assign progression, assign the new species the Cattle Reaction
5) Go to Disease Spread - we will attempt to add on to an existing one, so pick Swine>Swine
6

[2018-03-29 21:13] missyschoenbaum commented on #850
My mistake, this is working.

[2018-03-29 21:13] #850 closed

[2018-03-30 19:00] missyschoenbaum opened #852 "Can scenario files be put into subdirectory instead of main directory"
Now, all the SQLite files save into the main ADSM Workspace, and a subdirectory is created to hold the map image and supplemental outputs if they happen.

How awful would it be to save the SQLite file into that subdirectory to keep things organized?

[2018-04-06 17:41] missyschoenbaum commented on #823
Found the link that discusses this.  https://www.sqlite.org/aff_short.html

[2018-04-09 17:08] BryanHurst commented on #849
I've written up a quick page on this in the Wiki. It can be proofed and tweaked.

https://github.com/NAVADMC/ADSM/wiki/Logging-Troubleshooting

[2018-04-09 17:09] BryanHurst commented on #835
@missyschoenbaum no, we can close it once tested as there is a separate issue open for process monitoring.

[2018-04-09 17:13] BryanHurst commented on #852
This shouldn't be too hard of a task.

We will just need to double check that there isn't any CEngine or Frontend code that deletes the supplemental output folders (may happen when re-running a simulation to start from a fresh state).

[2018-04-09 18:59] BryanHurst commented on #724
Creating NEW probability functions is working now. Leaving just an issue with creation of Copy of probability function not populating dropdown.

[2018-04-09 20:27] missyschoenbaum commented on #838
I should also add this would help us research Counter-intuitive vaccination #840

[2018-04-09 20:31] missyschoenbaum commented on #837
I am going to leave this issue as the old format states problem, and branch what we would prefer to have.

[2018-04-09 20:36] BryanHurst commented on #724
This should be ready for testing now.

We need to be aware that this fix has the chance to change the behavior of other "copy" functions in the program. If we see issues come up around creating copies anywhere else, it may be related to this fix.

[2018-04-09 20:39] missyschoenbaum opened #853 "Daily States, or status for mapping"
Currently, daily states are output as:
one file per iteration
Columns: iteration, day,herdID1, herdid2, herdID3.....an so on until all herds counted
rows  1,1,S,S,S,L,S,S.. as so on using the disease state, or status of the herd.

What would be preferred is to flip this.
Columns: interation, day, herdID_general, status, Lat, Lon
1,1,TX1001,S, 95.000, 102.2023
1,1,TX1002, S, 96.410, 102.2023

refer

[2018-04-09 20:44] #835 closed

[2018-04-17 18:07] missyschoenbaum opened #854 "Troubleshooting help"
I am troubleshooting for Mike S at KSU. He is running production.  I got on a Skype with him, and in the direct contact parameters, he is missing infection probability - meaning it is just not there where it should be visible on the form.  I checked my production version, and it seems normal.

His original problem was
![image](https://user-images.githubusercontent.com/6644604/38887857-372178e4-423

[2018-04-18 13:43] ndh2 commented on #836
These appear to be a holdover because we had a single list of "Reasons for control action" that was used for outputs related to vaccination and depopulation.

Here we're seeing combinations that make no sense (depopulation will never occur for the reason "it's part of a vaccination ring"). So we need to weed out those nonsensical combinations.

[2018-04-18 16:42] BryanHurst commented on #854
Yes, I think running the NPU would be a good idea, and it is a good idea to make a copy of the Workspace folder before running it just in case.

If that doesn't fix it, I would suggest having somebody try running it in the current VX Rings Beta and just see if the same validation error is thrown.

[2018-04-25 17:04] missyschoenbaum opened #855 "Validation Error - file on google drive"
This file is from Mike S at Kansas State. When he attempts to validate, it says Critical Error, but doesn't tell him what to fix.  @lkholmstrom tinkered around, gave it some spread and had these comments. (slightly edited for length)

I can get the modules to validate “green” by fixing the parameters that Mike is missing (like some sort of disease spread), and assign the zone effects (in this file

[2018-04-27 12:35] ndh2 commented on #855
Can we get the actual sqlite file?

[2018-04-27 20:59] ndh2 commented on #841
In this particular test case, the scorecard for unit "1806" ends up having NULL in the field unit_at_vacc_ring_center.

[2018-04-28 23:31] ndh2 commented on #841
These 2 commits seem to make SampleScenario.sqlite3 run OK:
https://github.com/NAVADMC/ADSM-CEngine/commit/82de8ab281b6a8e6e5db3bc5b3b07b6fefe5b023
https://github.com/NAVADMC/ADSM-CEngine/commit/46dffc4b9889ddc6b56e588a6cd7f7f98de3be56
There are a few test cases in the test suite that are still failing, I will investigate

[2018-04-30 16:54] lkholmstrom commented on #855
@ndh2 File is attached. Thanks!
[TRBL_File_MS.zip](https://github.com/NAVADMC/ADSM/files/1961484/TRBL_File_MS.zip)

[2018-04-30 17:17] BryanHurst commented on #855
I've added @ndh2 to the Google Drive folder where files for specific issues are posted.

[2018-05-04 14:06] missyschoenbaum commented on #836
This appears to be working.  Output is not throwing fields into cmd window.  Do I have field level checks that need to happen on this, meaning is it filling the database correctly?

[2018-05-04 14:17] missyschoenbaum commented on #854
I went ahead and opened at specific ticket #855, so I will close this one.

[2018-05-04 14:17] #854 closed

[2018-05-04 14:20] missyschoenbaum commented on #738
A Lindsey noted that using the model in this format is not likely.  However, we should fail it with a graceful error if we are not allowing it to happen.

[2018-05-04 16:46] missyschoenbaum commented on #738
Steps to recreate in i386_Vaccination_Rings:
Open SampleScenario, save as Test738
Go to Control Protocol, Cattle Control, destruction
Change traces so that only Destroy Indirect forward traces is checked
Apply and Save
Validate Scenario
Error message as show in image
![738fail](https://user-images.githubusercontent.com/6644604/39640507-6828490a-4f88-11e8-992a-aafab493a4a8.JPG)

[2018-05-04 16:50] missyschoenbaum commented on #738
I put a 738 folder into the google drive.  I only tested one of the 4 options from before
destroy direct forward traces - Does NOT fail in validation
destroy indirect forward traces - fails in validation TESTED THIS
destroy direct back traces - fails in validation  DID NOT RETEST
destroy indirect back traces - fails in validation DID NOT RETEST

[2018-05-04 17:03] missyschoenbaum commented on #855
Mike is working on the production build, but also had the same problem in i386_Vaccination_Rings.

[2018-05-05 20:12] ndh2 commented on #738
This issue and #855 are probably the same underlying bug: the field `destruction_reason_order` in table ScenarioCreator_controlmasterplan contains incomplete text.

In this file, in the table ScenarioCreator_controlprotocol, for cattle, all 4 of fields `trace_direct_forward`, `trace_direct_back`, `trace_indirect_forward`, and `trace_indirect_back` have value “1”. However in table ScenarioCreator_c

[2018-05-07 18:57] BryanHurst commented on #852
In addition to this, it might be nice to have the beta builds append to (or use their build name as) the workspace folder so Release/Beta scenarios don't clobber each other.

[2018-05-14 18:53] ndh2 commented on #738
Hi @BryanHurst, I'm reassigning to you because it seems incomplete info is being written into the database file (see comment above), can you check it out?

[2018-05-14 18:54] ndh2 commented on #855
Hi @BryanHurst, I'm reassigning to you because it seems incomplete info is being written into the database file (see comment above), can you check it out?

[2018-05-21 16:58] BryanHurst commented on #855
Even when I add ", Ring" to the "Destruction reason order", the CEngine validation still fails with "Critical Simulation Error".

[2018-05-21 17:01] BryanHurst commented on #855
And I did confirm that when creating a new Scenario, Ring is in that field by default.

[2018-05-21 17:18] BryanHurst commented on #738
Similar to #855, when the field is populated with the above variables, the simulation engine still crashes.

[2018-05-21 21:55] ndh2 commented on #855
In the table ScenarioCreator_controlprotocol, there are also “1”s in the fields `trace_indirect_forward` and `trace_indirect_back`. So if you add “, Trace fwd indirect, Trace back indirect, Ring” (not just “, Ring”) to `destruction_reason_order`, then the simulation will run.

[2018-05-21 22:21] BryanHurst commented on #855
@ndh2 I've gotten all the validators to show green on the left, then manually edited the destruction reason order field (and confirmed it saved in the DB), but still get the critical error from the simulation.

![image](https://user-images.githubusercontent.com/1182469/40332828-c7a6368e-5d12-11e8-869a-62c4515f114c.png)

Am I just completely missing something?

[2018-05-22 00:59] ndh2 commented on #855
So that's a freeform text entry field in this version? In that case I think I'll add in an error message about what items are missing.

The items in that list have to correspond with the 1's and 0's in the ScenarioCreator_controlprotocol table. Off the top of my head I think it goes like this:

If you see any 1's in the column: | Then you need in the ordering list:
------------ | -------------
use

[2018-05-22 14:56] ndh2 commented on #855
@BryanHurst could you upload the manually changed DB you mentioned above? Maybe there's something else going on there. I could have a look before our call this afternoon

[2018-05-22 15:39] missyschoenbaum commented on #855
In #671, we discussed making these options a pull-down.  Can we implement that as a way to keep this form happening?  That solves part of the problem.  The other part of the problem is that we had something fail that didn't give the user a clear message on how to resolve.  Is there a way we can check if there are similar places that might fail in the same way?

[2018-05-22 16:08] ndh2 commented on #855
If I remember right, in NAADSM this parameter was a drag-to-reorder widget. There was no error checking on that input because the input was so highly constrained that it could never be missing values.

Bryan, the new file you sent is stopping because the simulator wasn't expecting NULLs in the column infection_probability in ScenarioCreator_directspread. I can change that as a separate fix.

[2018-05-22 16:16] missyschoenbaum commented on #855
The drag to reorder makes sense.  #671 had a note in it about implementing the priority widget methodology, and I didn't dig in to why I had noted that.

[2018-05-22 19:55] missyschoenbaum commented on #836
@ndh2 is there a way I am supposed to know which Vx ring type was used? Is there a new field?

[2018-05-22 20:51] missyschoenbaum opened #856 "Selenium Test Suite update"
Update the the Selenium test suite

[2018-05-22 20:57] missyschoenbaum opened #857 "Fields missing"
Update this

[2018-05-22 21:37] missyschoenbaum commented on #837
After more discussion, we decide that we will just remove this table and replace with the new version from #853.  Assigning to @ndh2 just for the delete portion of the task.

[2018-05-22 21:39] missyschoenbaum commented on #855
@lkholmstrom  and I are going to test to understand the implications of this field and how validation should be implemented.

[2018-05-22 21:42] missyschoenbaum commented on #671
Going to move the new priority widget to a new ticket for clarity.

[2018-05-22 21:56] missyschoenbaum opened #858 "Apply priority widget to Controls, destruction reason order"
The field Destruction Reason order on the Controls main form is difficult to use as a free text form.  Instead, we will implement a smart list of available options that can be ordered using the priority widget.

Example of priority widget is in the VX Rings branch only, on the Vaccination Global tab. It allows users to drag and drop options into an order.

In order to know what options to provide

[2018-05-22 21:57] missyschoenbaum commented on #858
This is an outcome of #671.

[2018-05-23 20:13] missyschoenbaum commented on #795
We have this running in R code now

[2018-05-23 20:20] missyschoenbaum commented on #821
I'm going to add @ndh2 on this. It is the question I made a new ticket for.

[2018-05-23 20:21] missyschoenbaum commented on #857
Already have issued, closing

[2018-05-23 20:21] #857 closed

[2018-05-23 20:49] missyschoenbaum commented on #738
Will close this when 855 is done

[2018-05-23 20:52] missyschoenbaum commented on #855
I checked for other places we could have a similar error by passing in text fields.  I will make a documentation ticket on it.

[2018-05-23 20:57] missyschoenbaum opened #859 "Managing free form text fields"
As in #855, text fields need to truly allow free form text, or limit the user to the set of correct choices.  I went and checked. At this time the fixed for the one we noted is in #858.  The only others that have free form, no limitations, and it might matter are the x axis and y axis names in the functions.  I have a ticket somewhere discussing this, but couldn't find.

notes attached[https://app

[2018-05-24 15:04] ndh2 commented on #853
@missyschoenbaum what do you think of leaving out the Susceptible ones? With a large dataset, that could keep the size of the output under control and make it easier to spot the interesting effects going on.

[2018-05-24 15:23] ndh2 commented on #837
New format for the daily state table implemented in commit https://github.com/NAVADMC/ADSM-CEngine/commit/71d598ceee3d8d04c68166e0653bf860d1a3d6ea

[2018-05-24 17:38] BryanHurst commented on #853
I've pushed a new build to the Vaccination Rings branch. @ndh2 is there anything else you need to do on this issue? If not, go ahead and put it in the Testing Pipeline and assign to @missyschoenbaum

[2018-05-24 17:55] missyschoenbaum opened #860 "detcUq , back again"
I thought I had a previous ticket on this, but not finding it.  The field detcUq was used at some point for testing, but now doesn't have a definition.  In my examples it doesn't populate, but maybe I am not turning on the correct parameter.  Can we check and remove if needed?

[2018-05-25 13:03] ndh2 commented on #853
@BryanHurst in the comment above there are some ideas for more changes, but for now this is working in its simplest form: it outputs every unit on every day. I will move to testing.

[2018-05-25 21:19] missyschoenbaum commented on #724
"Notes" field appears to be editable. PDF function has same behavior. Edits made in notes field while not in editing mode are not permanently saved but stayed in field when fly-out was closed and opened.

Do you want a second ticket for the PDF function or would you like to add that here?

[2018-05-25 21:32] missyschoenbaum opened #861 "Functions Improvements to Useability"
Here are several items that would improve the user experience when adding/editing relational and PDF functions.

- [x] "Edit" button does not appear to be pressed when starting edit mode.
- [x] On cancel, return to active function instead of functions overview.
- [x] On variant the visual presentation appears that the function is already saved even though user has not hit "apply" or updated values

[2018-05-25 21:37] missyschoenbaum opened #862 "Functions referenced by list not refreshing"
When assigning a function into a parameter the parameter does not show up in that functions "Referenced by:" list until program restart.

[2018-05-29 13:57] ndh2 commented on #671
Dry run now checks validity of destruction reason order. https://github.com/NAVADMC/ADSM-CEngine/commit/86445145d0da81d6c0b1c1eabf0ad13511c20b57

[2018-05-29 14:57] ConradSelig opened #863 "No graph for "Negative Binomial" type Probability"
When creating a new "Negative Binomial" Probability function, if P = '0' or '1', no graph is ever shown.

P cannot be greater than 1 or less than 0. If P is a floating point value the graph is displayed.

[2018-05-29 22:14] missyschoenbaum commented on #863
![image](https://user-images.githubusercontent.com/6644604/40688444-537fda86-635b-11e8-800a-f906420bf700.png)

A Negative Binomial distribution is a continuous distribution often used to estimate the number of failures that will occur before there are s successes in which there is a probability p of success in each trial. The parameters s and p are specified. The probability density function f(x)

[2018-05-29 22:24] missyschoenbaum commented on #853
@ConradSelig and I are looking at this.  I agree that all states every day is way too much.  Here are the questions that someone might want to ask:
What status was a herd in a given day?
How many days did a herd stay in a status?
What status were they in on the last day?
We are experimenting with queries to look at this.

[2018-05-30 20:55] missyschoenbaum commented on #858
After discussions, we have 2 details users need to understand, first what destruction priority methods they have activated and second, what is the priority of those methods.
Provide it this way:

Using the priority widget we serve up all the options. However, the invalid options with be ghosted/greyed out to indicate they are not being used.  That way the user has a broader awareness of what optio

[2018-05-31 13:46] ndh2 commented on #836
@missyschoenbaum do you mean when looking in the output? What outputs do you see right now concerning vaccination?

[2018-05-31 21:09] missyschoenbaum commented on #853
@ndh2 I agree with leaving out the susceptible ones, so if we can make that change it would be great.  One tiny thing, if we can name the field "run" instead of "iteration", it will match the other supplemental outputs.

[2018-06-01 18:47] ConradSelig commented on #862
I did some more testing on this to try to figure out what the exact conditions of the error were. As it turns out, an entire program restart is not required to get a parameter to show up on the "Referenced by:" list.

Here is a step-by-step track of what I did to figure this out.

1) I used the "Disease Progression" tab. In the generic sample scenario there are two progressions - Cattle Reaction a

[2018-06-01 18:54] ConradSelig opened #864 ""Cancel" button in "Import NAADSM Legacy Scenario" does nothing."
After pressing the "Import NAADSM Legacy Scenario" button a pop-up and a screen are presented before the scenario is imported.

The pop-up simply asks what the user would like to save the scenario as, this works fine, both buttons work as intended.

After picking a name and pressing "Save" a screen is displayed letting the user browse for Parameters.xml and Population.xml. On this screen, pressing

[2018-06-06 14:52] ndh2 commented on #853
Left out the susceptible ones and made that field name change in the header row. https://github.com/NAVADMC/ADSM-CEngine/commit/8d2ec918c7f0ff3a009fe75da85017cdba7c59a9

[2018-06-06 15:00] ndh2 commented on #821
I can confirm the C code doesn't separate tracing outputs for direction (Fwd vs Back), it only separates them by contact type (Dir vs Ind) and production type. I can add those.

I see a zone output named "numSeparateAreas", I think that is probably the one that is supposed to be named "zoneFoci".

[2018-06-06 16:28] ConradSelig commented on #864
Correction: It does Something, the user doesn't see any of it however.
Here is what it does do (in order):

- Copying blank.sqlite3 database to C:\Users\apcselig\Documents\ADSM Workspace\settings\activeSession.sqlite3...
- Checking Database states...
- Operations to perform:
-   Synchronize unmigrated apps: floppyforms, productionserver, crispy_forms, messages, webpack_loader, staticfiles, humaniz

[2018-06-06 22:20] ConradSelig commented on #863
How interesting, here is what ADSM spits out when P= 0.5 and S = 1
![graph](https://user-images.githubusercontent.com/31974507/41067990-df1bc10a-69a4-11e8-9d76-ac35d4fb3886.png)
I messed around with the formula you provided and could never get a parabola, it always resembled an exponential equation.
Interestingly enough when P = 0 or 1 the exponential trend is replaced with a flat line on y = 0.

[2018-06-07 19:13] ConradSelig commented on #746
Where is the "Validation Message" you talk about on box 6? I figured it was part of the "Validate Scenario" screen but that was already corrected on box 8.

[2018-06-11 13:42] BryanHurst commented on #764
@ndh2 I know there is looking through the Python for this one, but if you are up for it, I'd like to pass this one over to you as you will understand the workflow and variable naming a bit more.

[2018-06-11 14:38] missyschoenbaum commented on #864
We had a change happen on this with Orion, let me see if I can find it and see if it sheds any light.

[2018-06-11 14:39] ConradSelig commented on #864
I got this one working! No need to search around a whole bunch unless you
think it might affect what I did.

On Mon, Jun 11, 2018 at 8:39 AM, Missy Schoenbaum <notifications@github.com>
wrote:

--
Conrad Selig
South Dakota School of Mines and Technology
Computer Science
UAS Vice President

[2018-06-11 14:44] missyschoenbaum commented on #837
Delete is working, closing this

[2018-06-11 14:44] #837 closed

[2018-06-11 14:50] missyschoenbaum commented on #738
Done

[2018-06-11 14:50] #738 closed

[2018-06-11 14:52] missyschoenbaum commented on #838
I think Daily States covers this, so I am going to close.  Weekly has nice zones.

[2018-06-11 14:52] #838 closed

[2018-06-11 14:53] #855 closed

[2018-06-11 14:57] missyschoenbaum commented on #822
@ConradSelig will you research this?

[2018-06-11 14:59] missyschoenbaum commented on #742
@BryanHurst is this something Conrad could work?

[2018-06-11 15:02] missyschoenbaum commented on #856
We can leave this open as long as we have new items coming through the pipeline.

[2018-06-11 15:12] ConradSelig commented on #822
@missyschoenbaum Absolutely, I'll keep you updated on what I find.

[2018-06-11 15:16] missyschoenbaum commented on #839
This doesn't need any more action. #838 discussed new version.

[2018-06-11 15:16] #839 closed

[2018-06-11 15:18] missyschoenbaum commented on #860
@ndh2 do you recall our conversation on this?  I didn't find notes.

[2018-06-11 15:42] missyschoenbaum commented on #841
I ran this with a Texas population and was getting more errors.  @ConradSelig is double checking me to make sure my settings were correct before we change status.

[2018-06-11 16:15] missyschoenbaum commented on #836
@ndh2 Here are all, but I think only the first 4 apply to this question.
vaccURing,
vaccARing,
vacnURing,
vacnARing,
----
firstVaccination,
firstVaccinationRing,
vaccU,
vaccUIni,
vacnU,
vacnUIni,
vacwU,
vacwUDaysInQueue,
vacwUMax,
vacwUMaxDay,
vacwUTimeAvg,
vacwUTimeMax,
-- Vaccination by Animal
vaccA,
vaccAIni,
vacnA,
vacnAIni,
vacwA,
vacwADaysInQueue,
vacwAMax,
vacwAMaxDay,
vacwATimeAvg,
vacwATi

[2018-06-11 16:42] ConradSelig commented on #803
Todo: Make text bold with css styling.

[2018-06-11 17:16] missyschoenbaum commented on #742
Will need Neil as support

[2018-06-11 18:56] missyschoenbaum commented on #841
@ConradSelig you can check what needs to be turned on with this query
Select
destroy_direct_forward_traces,
destroy_indirect_forward_traces,
destroy_direct_back_traces,
destroy_indirect_back_traces,
destruction_is_a_ring_target,
Use_destruction
from scenariocreator_controlprotocol

[2018-06-11 22:44] missyschoenbaum commented on #841
I emailed files to Neil since I can't get to google drive today. Included working and non working iterations.  I checked that I had the correct destruction reasons listed, and also that infection probability was not null. Message is different, so possible another problem.

[2018-06-12 22:39] ConradSelig commented on #455
How would you want the user to interact with a feature like this? Some questions:

- Would you want a consolidated version of the data presented alongside the individual outputs? Or would you rather replace the individual outputs with a single consolidated version?
- Would you prefer that making a consolidated version was an option with the rest of the outputs or would you like it generated every

[2018-06-13 14:23] ndh2 commented on #764
I think these ones were added for testing. They're like the "exp" output variables, but:
  * "exp" counts *all* exposures
  * "adq" counts only the adequate exposures.

But the "adq" outputs aren't as complete: they're not fully broken down by production type etc. like the corresponding "exp" outputs.

@missyschoenbaum do you want to delete the "adq" outputs, or make them fully broken down to be l

[2018-06-13 14:38] missyschoenbaum commented on #764
@ndh2 I think if we know the exp route, then we should know the adq route.  Can we keep the parts that are currently working and remove the parts that are not?  I am OK with having the data not broken down by production type.  It is mainly the 3 that don't seem to return any data that I am worried about.
adqnUAir,
adqnUDir,
adqnUInd
Image shows results where I selected production_type_id = Null

!

[2018-06-13 14:40] ConradSelig commented on #853
@missyschoenbaum You asked me to check this awhile back, sorry it took so long to get to it.

The new chart looks awesome! Running the sample scenario outputs only ~40 rows per iteration of daily states data.

[2018-06-13 14:51] ndh2 commented on #764
This commit https://github.com/NAVADMC/ADSM-CEngine/commit/3fdee1a3250055b0ef015c3fa3b8b08173cbf293 should fill in those 3 columns that are currently nulls.

[2018-06-13 14:52] missyschoenbaum commented on #764
That's perfect. Will test and confirm.

[2018-06-13 16:13] missyschoenbaum opened #866 "Long Running Events"
Test scenarios that would make a long outbreak (1,000 days).

[2018-06-13 16:17] BryanHurst opened #867 "Rename CEngine Compile Output"
Currently the CEngine compile process outputs a binary named "adsm" or "adsm.exe".

Since the frontend program is looking for "adsm_simulation" or "adsm_simulation.exe", it would be great to have the compile steps output the binary with that name.

[2018-06-13 16:49] ConradSelig commented on #746
@missyschoenbaum When we went over some of these items you found a link that did not work:
Disease -> Use within unit prevalence -> whithin unit prevalence. Your linked to the main page of the wiki but when I click my link it goes to the correct url.
How would you like to treat this item? Maybe we should get someone else to see where their link takes them and see which one of us is the odd one out

[2018-06-13 16:53] BryanHurst commented on #841
I've confirmed that I get a MEMORY-ERROR when running the referenced scenario on Windows.

Before running, my memory and CPU usage idle at 10% and 17.2GB (of 64).
During the simulation, we are obviously at 100%, and go up to 18.6GB of memory usage. The first iteration to print out anything (happened to be iteration 3) dumped a memory error:

b'\n***MEMORY-ERROR***: adsm_simulation[4000]: GSlice: a

[2018-06-13 16:55] ConradSelig commented on #746
What URL would you like to population heat map legend to link to? I thought that we had found a "Population Heat Map" section in the Lexicon but now I cant find it.

[2018-06-13 16:56] missyschoenbaum commented on #746
Sorry it was in the results explaination

From: Conrad Selig [mailto:notifications@github.com]
Sent: Wednesday, June 13, 2018 10:55 AM
To: NAVADMC/ADSM <ADSM@noreply.github.com>
Cc: Schoenbaum, Melissa - APHIS <Melissa.Schoenbaum@aphis.usda.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NAVADMC/ADSM] UI Wording improvements (#746)

What URL would you like to population heat map legend to

[2018-06-13 17:00] missyschoenbaum commented on #746
@ConradSelig will do on link check

[2018-06-13 17:36] missyschoenbaum commented on #822
@ConradSelig OK, I see, the first and second priority are contained in the one string on the Vx branch.  I think I was trying to figure out where secondary sort went.  Going to close.

[2018-06-13 17:36] #822 closed

[2018-06-13 19:09] ndh2 commented on #841
Definitely something weird. I ran Test841_removeRing.sqlite3 on OS X and memory use was ~160 MB. On Ubuntu it was 146 MB. Here you're seeing 1.4 GB of memory use followed by an out of memory error. This is a brand new compile with MSYS2?

[2018-06-13 19:38] BryanHurst commented on #841
Yes, it was compiled this morning with MSYS2 (following the instructions I made in the README of the CEngine repo).

[2018-06-13 20:27] ConradSelig opened #868 "Right side fly-out menu does not work on "Vaccination Global" tab"
When on the "Vaccination Global" tab none of the right hand menus open when clicked on.
This appears to be the only tab with this problem.

[2018-06-14 15:02] missyschoenbaum commented on #840
To do analysis, I need a dataset that shows every farm, every day, every disease state (as they change), indicator when exposure happened, indicator when infection happened, indicator when vaccination happened.

[2018-06-14 20:21] missyschoenbaum opened #869 "Control Page, delete data"
If you have Controls turned to Off, and attempt to delete results and apply change, you go in a circle. Get more information and steps to repeat.

[2018-06-19 16:22] BryanHurst opened #870 "Rename ProbabilityFunction to ProbabilityDensityFunction"
In relation to #746 we should rename the ProbabilityFunction model to ProbabilityDensityFunction.

Instead of just changing the strings on the UI, to make sure there is no future confusion, the models and forms should be changed as well.

[2018-06-19 20:41] ConradSelig commented on #858
@BryanHurst I believe that I may actually have this one worked out. How would you go about testing to make sure that the destruction reasons are actually having an effect on the simulation?

[2018-06-19 20:44] missyschoenbaum commented on #858
We may have to play them in GIS. I have a population Neil made that also helps.

[2018-06-20 20:35] ConradSelig commented on #868
My original thought was that a certain .css file was not being loaded preventing the button from linking to the correct places. This does not seem to be the case. This is the file path for the "Vaccination Global" tab:

`base.html -> navigationPane.html -> MainPanel.html -> Fragment.html -> VaccinationGlobal.html`

and here is the path for "Controls" (a page with working buttons)

`base.html -> na

[2018-06-21 14:22] ConradSelig opened #871 "Moving Destruction from "Controls" to "Destruction Global""
Move all of the elements relating to destruction out of the "Controls" tab and into a new tab called "Destruction Global".

Format the new page similarly to "Vaccination Global".

[2018-06-21 15:38] ConradSelig commented on #868
When working on #871 I did a lot of copy and pasting. The new "Destruction Global" tab also does not have a working fly-out menu. Clearly something is missing from both of these new tabs.

[2018-06-21 19:06] missyschoenbaum commented on #683
@ConradSelig This is the issue that had database migration. @BryanHurst is this too much to add into the migration that is going to have to happen for Conrad's other change?

[2018-06-21 19:39] BryanHurst commented on #683
A rename like this should be simple, so we can move forward with it. We just need to be aware of any DB changes that may also need to be moved over to the CEngine.

[2018-06-22 15:48] BryanHurst commented on #858
@ConradSelig you've moved this issue to testing, but I'm not seeing where the code is for it. Is this on a branch in your repo?

[2018-06-22 15:50] ConradSelig commented on #858
I've got it locally, if you would like I can merge the changes into i389 -
Otherwise we can continue just running scenarios off my local version and
sending out the results.

On Fri, Jun 22, 2018 at 9:48 AM, Bryan Hurst <notifications@github.com>
wrote:

--
Conrad Selig
South Dakota School of Mines and Technology
Computer Science
UAS Vice President

[2018-06-22 15:51] BryanHurst commented on #863
If Missy is happy with the graph output, we'll keep the solution.

[2018-06-22 16:10] BryanHurst commented on #858
I want to get a compile out this morning, so lets go ahead and get things merging.

[2018-06-22 16:40] missyschoenbaum opened #872 "Validate Booster in front end"
This happens in Production only - needs a Known bug

The C engine validation catches this, but would be cleaner to catch it immediately.   Minimum time between vaccinations cannot be zero.  It will not let me null the field .
![validateboosterimage](https://user-images.githubusercontent.com/6644604/41788202-2fba1520-7608-11e8-8016-021600588830.JPG)

Vx Rings allows both 0 and null - is that a prob

[2018-06-22 18:07] ConradSelig commented on #858
I've made the commit, does this ticket belong in testing now?

[2018-06-22 20:59] missyschoenbaum commented on #671
This is now covered in #858

[2018-06-22 20:59] #671 closed

[2018-06-22 21:04] missyschoenbaum commented on #742
Here's how to find the logs C:\Users\MeSchoenbaum\Documents\ADSM_Vaccination_Rings\settings\logs

[2018-06-22 21:18] ConradSelig commented on #673
Reference #858 - Closing

[2018-06-22 21:18] #673 closed

[2018-06-22 21:22] ConradSelig commented on #813
Cannot Recreate

[2018-06-22 21:22] #813 closed

[2018-06-22 21:30] ConradSelig commented on #825
Information for future. Closing

[2018-06-22 21:30] #825 closed

[2018-06-22 21:38] ConradSelig commented on #272
Has been implemented - Closed

[2018-06-22 21:38] #272 closed

[2018-06-22 21:40] ConradSelig commented on #389
Resolved

[2018-06-22 21:40] #389 closed

[2018-06-22 21:47] ConradSelig commented on #842
Duplicate Ticket

[2018-06-22 21:47] #842 closed

[2018-06-22 21:49] ConradSelig commented on #859
#858 is managing this problem.

[2018-06-22 21:49] #859 closed

[2018-06-25 14:30] missyschoenbaum commented on #764
Looks good!

[2018-06-25 14:30] #764 closed

[2018-06-25 14:38] missyschoenbaum commented on #853
Looks good!

[2018-06-25 14:40] missyschoenbaum commented on #815
Looks good!

[2018-06-25 14:40] #815 closed

[2018-06-25 14:47] ndh2 commented on #841
Seems I'll need a Windows machine to investigate this, since the same doesn't happen on Mac or Linux. What version of Windows is everyone using so that I can match? @missyschoenbaum @BryanHurst @ConradSelig

[2018-06-25 14:49] missyschoenbaum commented on #841
Windows 10 for me

[2018-06-25 14:49] ConradSelig commented on #841
I'm on Windows 10 Enterprise
Version: 10.0.17134
Build: 17134

On Mon, Jun 25, 2018 at 8:47 AM, ndh2 <notifications@github.com> wrote:

--
Conrad Selig
South Dakota School of Mines and Technology
Computer Science
UAS Vice President

[2018-06-25 15:19] BryanHurst commented on #841
Happening on latest build of Windows 10 Pro and Home.

[2018-06-25 16:03] BryanHurst opened #873 "Control Master Plan Form Field Errors"
The Control Master Plan Form is throwing some KeyErrors on some form fields.

vaccination_capacity, restart_vaccination_capacity, vaccination_priority_order, and vaccinate_retrospective_days.

[2018-06-25 17:07] missyschoenbaum commented on #836
Asking @lkholmstrom about implementing specific outputs

[2018-06-25 17:10] missyschoenbaum commented on #821
Asking @lkholmstrom do we want these

[2018-06-25 17:12] ndh2 commented on #836
The question came up today of whether you can use suppressive and protective (donut) rings at the same time. You can--we talked about how to implement it here: https://github.com/NAVADMC/ADSM/wiki/RFC-20121101:-New-Vaccination-Priorities#figure-4

[2018-06-25 17:41] ConradSelig commented on #858
@BryanHurst Just a head up if you go to test this - it was working just fine before the last database migration (#870) but now it appears to not actually apply the changed orders to the database.
I'm looking into it and will be pushing another commit as soon as I can

[2018-06-25 19:08] missyschoenbaum opened #874 "Migration Failure - Vaccination Priority"
In the new build 3.3.9.9, I am getting this error when opening the app.
![migrationfail_vaccpriority](https://user-images.githubusercontent.com/6644604/41870251-c7e03326-7878-11e8-8b52-6ee92bfe5eb2.JPG)

[2018-06-25 19:10] missyschoenbaum commented on #874
Also, the first scenario I opened in the app was wiped clean of all parameters.  I am working to recreate.

[2018-06-25 19:20] BryanHurst commented on #874
This is very strange since migration 0019 is old. Nothing should be
changing around that. I'll look into this one.

On Mon, Jun 25, 2018, 1:13 PM Missy Schoenbaum <notifications@github.com>
wrote:

[2018-06-25 19:20] missyschoenbaum commented on #874
I ran npu again, and think this was resolved

[2018-06-25 19:34] missyschoenbaum commented on #874
Well, now i am to this
![image](https://user-images.githubusercontent.com/6644604/41871509-68b277ac-787c-11e8-8b9b-dfc540571aa3.png)

[2018-06-25 19:44] BryanHurst commented on #874
Try deleting the active session database in the settings folder and
reopening the scenario that you're working on.

On Mon, Jun 25, 2018, 1:39 PM Missy Schoenbaum <notifications@github.com>
wrote:

[2018-06-25 19:50] missyschoenbaum commented on #874
I think what I am doing is copying an old database and trying to open it.  I can get the update to run and open a fresh, new database.

[2018-06-25 19:52] BryanHurst commented on #874
Are you using the copy function within the program, or manually copying the
files to the workspace folder?

On Mon, Jun 25, 2018, 1:50 PM Missy Schoenbaum <notifications@github.com>
wrote:

[2018-06-25 19:56] missyschoenbaum commented on #874
manually copying them, which means they have wrong fields.  I will stop doing that.

[2018-06-25 20:03] missyschoenbaum commented on #724
Looks good

[2018-06-25 20:03] #724 closed

[2018-06-25 20:36] missyschoenbaum commented on #803
Looks good!

[2018-06-25 20:36] #803 closed

[2018-06-25 21:40] missyschoenbaum commented on #863
In testing this, I put in a wrong number.  The validations come up, but they hang me in a place where I can't update can only cancel.
Steps to recreate
Make a new function from any Add, name it
select negative binomial as equation type
put in .5 for both values
![negbinomialscrewup](https://user-images.githubusercontent.com/6644604/41874726-e7c09dd6-7885-11e8-8da3-0a64d2187271.JPG)

Then, I tried

[2018-06-25 21:56] ConradSelig commented on #863
I got the same results during my testing.
I'm moving this back into Groomed and Ready - clearly it's not solved yet.

[2018-06-25 22:00] ConradSelig commented on #858
That should fix it - let me know if that doesn't work for you.

[2018-06-25 22:02] missyschoenbaum commented on #864
Confirmed, cancel button drops back to a new scenario

[2018-06-25 22:02] #864 closed

[2018-06-25 22:03] missyschoenbaum commented on #870
This seems to be working as expected.

[2018-06-25 22:03] #870 closed

[2018-06-25 22:09] missyschoenbaum commented on #861
On cancel, I am dropping back into the list.  But, it seems OK to me.

[2018-06-25 22:28] ndh2 commented on #841
It's not runaway memory use. This screenshot was right before the crash and memory used was < 128 MB. Still looking for cause...

![memuse](https://user-images.githubusercontent.com/6618820/41878989-906fba9c-78a5-11e8-9dea-2c65f87a601b.jpg)

[2018-06-25 22:40] missyschoenbaum commented on #821
We are going to leave this as it is for now. We can add later if needed.  Daily Events cover all these.

[2018-06-25 22:40] #821 closed

[2018-06-25 22:41] missyschoenbaum commented on #836
We will leave this as is for now. Can revisit later if needed.

[2018-06-25 22:41] #836 closed

[2018-06-26 14:13] missyschoenbaum commented on #771
No showing up on new.

[2018-06-26 14:48] missyschoenbaum commented on #861
@ConradSelig I am OK with this action, but it is a little different than described.  Do you want to look at it and make sure I am not missing something?

[2018-06-26 14:49] ConradSelig commented on #861
Sure, I'm pretty sure this is an easy fix.

On Tue, Jun 26, 2018 at 8:48 AM, Missy Schoenbaum <notifications@github.com>
wrote:

--
Conrad Selig
South Dakota School of Mines and Technology
Computer Science
UAS Vice President

[2018-06-26 15:22] ConradSelig commented on #861
@missyschoenbaum That should have fixed it, let me know if you experience something different.

[2018-06-26 15:24] missyschoenbaum commented on #861
This can go in next build.

[2018-06-26 16:39] ConradSelig commented on #863
I've done some more testing and found that [P = 1, S = 0] displays a graph but [P = 1, S = 1] does not. This indicates to me that 'S' does have some effect on whether or not the graph displays or not - which is not something we previously thought.

Clearly some more testing needs to be done, I still believe that the error stems from the graph asymptoting out to infinity and hitting a memory error

[2018-06-26 16:43] missyschoenbaum commented on #863
Perfect, there are other things that can be done.

[2018-06-26 17:12] ConradSelig commented on #373
@missyschoenbaum I dont understand the problem here.

output_grammer.py takes in a code and outputs an explanation string based on that input. Here is are some examples

infcUDir = Infection Cumulative Units - Direct Contact
infcU = Infection Cumulative Units For Any Reason.
infc = Infection Cumulative For Any Reason.
inf = Infection For Any Reason

Looks to me lie "Fort Any Reason" is working jus

[2018-06-26 17:16] missyschoenbaum commented on #373
I can't, @BryanHurst will have to help

[2018-06-26 17:24] BryanHurst commented on #373
I'll research and give a better explanation.

[2018-06-26 18:07] ConradSelig commented on #744
@missyschoenbaum While custom Admin page templates can be applied over the default, the "There is no Internet Connection" page is handled by the web-browser, not our Django Project.

We could - I believe - detect when a user is clicking on a href that links to an outside page and direct them to a different location when they have to internet.
A quick Google search leads me to believe that this is

[2018-06-26 18:19] ConradSelig commented on #869
@missyschoenbaum I can't seem to get myself into any loop regarding controls and output deletion.
Here are the 3 things I tried.

1. Ran simulation, went back to scenario creator, turned off controls, "Delete"

2. Ran simulation, went back to scenario creator, turned off controls, "Cancel" (does not delete results)

3. Turned controls off, ran simulation, went back to scenario creator, "Delete Res

[2018-06-26 18:58] missyschoenbaum commented on #744
That's a great assessment. I can go with that. I will make sure we have a known issue so that covers all our bases.

[2018-06-26 19:20] missyschoenbaum commented on #869
OK, it must have been a quirky day.  I can't get it to reproduce either.  I'm closing.

[2018-06-26 19:20] #869 closed

[2018-06-27 17:10] ndh2 commented on #841
Crash is happening on g_list_free(members), an object created by json_object_get_members(). Using g_list_free is correct: the [documentation](https://developer.gnome.org/json-glib/stable/json-glib-JSON-Object.html#json-object-get-members) says “When you have finished using the returned list, use g_list_free() to free the resources it has allocated.”

[2018-06-27 17:57] ConradSelig opened #875 "Add additional loading text for when ADSM is run for the first time."
When ADSM in first boot up, the program needs to create the working database files. These files can take upwards of 10 minutes to create, and the program currently has no was of displaying that it is actually doing something in the background.
An additional loading message should be added above the current "ADSM runs best in full-screen mode." When being loaded for the first time.

[2018-06-27 18:32] ConradSelig commented on #826
@missyschoenbaum When this error occurs, does the population map still paint if given enough time?

The error is propagating from interactive_graphing.py when population_results_map() tries to create a list of all of the latitudes and longitudes of each unity given various database attributes.
Here is the code that makes said list:
[code]

The specific error is that this list comprehension cannot

[2018-06-27 19:08] ConradSelig commented on #612
@missyschoenbaum Most of these items dont apply anymore, the look of the Population screen has clearly changed a good bit since this ticket.

On the two items I don't feel confident checking as depreciated, here are my questions:

- The horizontal scroll bar for the table is displayed only when different columns are cutoff, this scrollbar is located underneath the table. When the view-port is smal

[2018-06-27 19:20] ConradSelig commented on #875
@BryanHurst sped up the loading time. This scenario setup screen used to take about 10 minutes to load and now loads in under 10 seconds.

I'm closing this ticket as this feature is not longer needed.

[2018-06-27 19:20] #875 closed

[2018-06-27 19:42] BryanHurst commented on #874
I've put a few more safeguards in place for the recent DB migration, so moving forward this shouldn't be an issue. Copying by hand should be safe in the future.

[2018-06-27 20:55] missyschoenbaum commented on #612
@ConradSelig I agree on column headings, I marked it as done.

On Edit, I don't see a scroll bar, and the buttons are covered when there are results. You can show me if you think I am missing it. Maybe we need to force the delete results here just like we do when controls go on and off with results.

Also, there are 2 new columns in the database now Days_left_in_state and days_left_in_initial_stat

[2018-06-28 14:39] ConradSelig commented on #816
@missyschoenbaum I'm sending this one your way for testing - if you would like someone else assigned in the future just let me know.

[2018-06-28 16:38] ConradSelig commented on #871
Still a problem with this page.
The "page complete" marker has no way to turn from yellow to red.

[2018-06-28 19:38] ConradSelig opened #876 "Applying Vaccination Global before setting Production Types creates error"
When creating a new scenario, if the vaccination global screen is applied before any production types are created, ADSM throws a Django error.

[2018-06-28 20:50] ConradSelig commented on #871
That should be everything for this ticket. Only thing I can think of that might still need changes is full scenario validation.

@BryanHurst how does the entire scenario validate? Does it use the same system the tab markers do? Or do more changes need to be made?

[2018-06-28 22:01] BryanHurst commented on #871
Full scenario is run when you click the Validate Scenario button which sends the DB off to the CEngine for validation.

As long as the DB tables and fields haven't changed, then validation on the CEngine side should be good.

[2018-06-28 22:07] ConradSelig commented on #871
Awesome, this one is ready for testing then.

My Zenhub is not loading, so if you would like to move it into the Testing pipeline you are more than welcome, otherwise I'll get it when the page eventually loads.

[2018-06-29 15:48] BryanHurst commented on #871
@ConradSelig I'm not a fan of having the special case for Control Master Plan in the Crispy-Singleton-Form. That defeats the purpose of that template being generic.

[2018-06-29 15:58] BryanHurst commented on #871
@ConradSelig we are also missing a migration for the new DestructionGlobal model. That is going to be a tricky migration to create as a data migration will need to happen.

1. Revert ControlMasterPlan back to what it was so the migration won't delete any of those columns (no need to commit, this is just part of the migration process locally)
1. Comment out the new DestructionGlobal model.
1. Confi

[2018-06-29 16:00] BryanHurst commented on #871
@ConradSelig and @missyschoenbaum I can't compile the latest changes until we run the DB changes past @ndh2.

If I compile in the current state, the CEngine won't know where to find the destruction columns since they are now (or will be once migrations are done) in a different table, and would probably lead to a crash.

@ndh2 can you look at the ScenarioCreator/models.py diff on this comparison to

[2018-06-29 16:15] ConradSelig commented on #871
@BryanHurst I'm working through the steps you provided for the database migrations.
In step 3 you say "confirm that makemigrations detects no change" - problem is that I've already migrated the database into the new model, so makemigrations detects all of the changes from step 1 and step 2.

Should I worry about this or continue with the steps?

[2018-06-29 16:16] missyschoenbaum commented on #871
@BryanHurst Do we have to have a database change? We are just reading the same fields from a different form.  We didn't add or delete fields.

[2018-06-29 16:20] BryanHurst commented on #871
@ConradSelig no database migrations were committed to the branch, so you should be fine. If you have a migration  on your disk that isn't committed, you can delete it and delete your activesession and settings databases.

[2018-06-29 16:22] BryanHurst commented on #871
@missyschoenbaum Since forms read models, we had to move the fields from one model to another. This in turn creates a new table in the DB.

We could get around this by making a custom form, but would take more steps.

I think this is the way to go. However, if it messes up the User's ability to find things manually in the DB, we can rethink it.

[2018-06-29 18:06] ndh2 commented on #841
@BryanHurst I got this working again on my Windows 10 machine by downgrading the installed version of the json-glib package.

Try this on your build machine:
  * Remove the current version `pacman -Rns mingw-w64-x86_64-json-glib`
  * Install this older version `pacman -U http://repo.msys2.org/mingw/x86_64/mingw-w64-x86_64-json-glib-1.2.8-1-any.pkg.tar.xz`

[2018-06-29 18:07] ConradSelig commented on #871
@BryanHurst I'm still working my way down your provided steps, and now I'm stuck on step 6. My research has led me to believe that dumpdata is the best way to transfer data between models. Except that command requires so many exceptions that the data it does eventually dump is just an empty list.

Was there a particular method for data transfer you had in mind?

[2018-06-29 18:14] BryanHurst commented on #871
Dumpdata is definitely not the way to go. I'll work up an example for you
on Monday on data migrations.

On Fri, Jun 29, 2018, 12:07 PM Conrad Selig <notifications@github.com>
wrote:

[2018-06-29 19:36] missyschoenbaum commented on #871
Is the only data moving the Sample scenarios?  Couldn't we just script it as a SQL insert and put it in before you turn on constraints?  This would depend on what method of auto-counter was used to build primary keys as well.   That's how the database person resolves this kind of problem

[2018-06-29 20:36] missyschoenbaum commented on #713
Possible to do as a design fix, disable button until sim starts

[2018-06-29 21:33] missyschoenbaum commented on #192
Instead, hide scenario creator tabs while sim is running to give larger variation when change happens.

[2018-06-29 21:49] missyschoenbaum commented on #353
We have this in #455 going to close this one

[2018-06-29 21:49] #353 closed

[2018-06-29 21:53] ConradSelig commented on #807
@missyschoenbaum Maybe I am doing something wrong but when I pasted this query into sqllite I got a big red error about halfway down.
I'm sending this back your way to look at again, if you need more clarification on the error I got let me know.

[2018-07-02 16:44] BryanHurst commented on #683
@ConradSelig You assigned this to me, but I don't see any commits referencing this issue. Is there code for this change, or are you wanting me to follow up with something else?

[2018-07-02 16:48] BryanHurst commented on #871
A real migration needs to be in place to support any scenarios that are out in the wild (especially the big migration upgrade from Production to the new Vaccination Rings) and in use, this isn't just a migration for Sample Scenario.

I'll have more info on the migration in a few minutes.

[2018-07-02 17:02] ConradSelig commented on #683
@BryanHurst Hmmm I not totally sure, I definitely have not done any work on this issue. Looks like this ticket is a simple field rename, and that it might have already been migrated as part of another database change. I'll look into it more and get back to you.

[2018-07-02 17:09] BryanHurst commented on #871
I took a few minutes to go ahead and create the migrations for this so it isn't blocking.

@ConradSelig you can look at migration 0031 to see what a data migration looks like.

@ndh2 I'm passing this off to you now to make any changes on the CEngine side related to moving fields 'destruction_program_delay', 'destruction_capacity', 'destruction_priority_order', and 'destruction_reason_order' to a n

[2018-07-03 18:48] ndh2 commented on #871
@BryanHurst @ConradSelig do either of you have an example database file that has been through this migration, that you could upload to Google Drive for me to use as a test case?

[2018-07-03 19:02] BryanHurst commented on #871
Yes, I'm adding my activeSession.sqlite3 (the one you need) and settings.sqlite3 (which you probably don't need) databases to the 871 folder in the Google Drive Issues section.

[2018-07-03 20:16] ndh2 commented on #871
Thanks! Changed the C code to accomodate the new table structure in https://github.com/NAVADMC/ADSM-CEngine/commit/ad54ca2e407542755cc929589a7325b5d126cacb.

[2018-07-05 19:28] ndh2 commented on #860
I don't see this variable in the C code anymore (looking in the i386_Vaccination_Rings branch). I also don't see it in the database files we were testing with for recent issues (738, 841, 871). Where are you seeing this variable?

[2018-07-05 19:32] ndh2 commented on #867
Done in https://github.com/NAVADMC/ADSM-CEngine/commit/376a35d7f6d55b9c568212ce9aeea62057c1fbce

[2018-07-05 19:35] missyschoenbaum commented on #860
I am looking at the SQLite database structure. I am using sqlitestudio, which is an open source product if you need a query tool.

![detcuq](https://user-images.githubusercontent.com/6644604/42344009-3115c720-8058-11e8-9d6c-79bff13e626a.JPG)

[2018-07-05 20:53] ConradSelig commented on #331
The graph still displays with the lowest value an the highest value cut in half. The cause of this is somewhere between where the graph is created and where the graph is saved as a HttpFigure.

This conversion happens in ScenarioCreator/function_graphs.py lines 225-229.

[2018-07-06 15:20] ConradSelig commented on #771
Not sure how this slipped through last time, sorry for the trouble! Ready for testing.

[2018-07-06 15:44] ConradSelig commented on #746
Changing "Destruction is a ring trigger" to "Detection is a ring trigger" requires a database change similar to how "Probability function" was changed to "Probability Density Function" (#870). Adding label.

[2018-07-06 16:19] ConradSelig commented on #808
Changing assignees as per Missy's request.

[2018-07-06 16:32] BryanHurst commented on #299
@ConradSelig looks great, just one big change.

Once the program changes to Results viewing mode, we either need to change the overlay, or remove the button to make it visible as some of the arrows point to things that don't exist.

[2018-07-06 19:44] ConradSelig commented on #299
@BryanHurst Nice catch!

I've gotten my simulation to run, so I did already test the new functionality. Let me know if you spot any more problems.

The only "bug" I could see was that the overlay icon was displayed on the initial results page until the map loaded, but I coded in a conditional so the button does not do anything and does not mess up variables - so its just a visual inconsistency. I

[2018-07-06 20:35] missyschoenbaum commented on #851
If a new production type combination is added, the user is able to select a source production type, but when they go to select a destination the order of the source production types is applied as the user selects the first destination.
The order that is applied is the same order that is found in the production types panel.
After the order is applied, the bottom most source production type is shown

[2018-07-09 15:19] ndh2 commented on #860
Ah yes I was looking in the wrong table! That is the only place detcUq appears in the database. @BryanHurst since this output is not being produced by the C code, could we remove it just by making a database migration to drop that column from Results_dailycontrols?

[2018-07-09 16:33] BryanHurst commented on #860
@ndh2 I like to go through and cleanup old development scripts when I'm removing things like this (in case somebody every goes back and tries to use them for something in the future), and I noticed a variable called "detcUqAll". Is this related and should be removed as well?
It only shows up in development scripts and nowhere in the main code.

[2018-07-09 16:36] ndh2 commented on #860
Yes that would be related and should be removed too.

[2018-07-09 16:53] BryanHurst commented on #873
This might not be an issue any more as I can't replicate.

[2018-07-09 17:26] BryanHurst opened #877 "Package Requirements Specific Versions"
For the Python side of things, the Requirements.txt specifies a specific version number for each package.

We should do something similar for the Windows and Linux packages required for compiling the CEngine.

[2018-07-10 20:40] missyschoenbaum opened #878 "Replace population - Untrapped Error - days_in_initial_state set to -1"
This is in production version.

This may be related to replacing the population, or it may not.  I had a working sample scenario, and change to the pie slices population.  I hooked up some spread and everything else.  No gold bars on validation, scenario validates with no problem.

When I run, it appears to engage. Then it return with 0 iterations run.  In the cmd file I get
![atestoutput3_cmd](ht

[2018-07-10 20:42] missyschoenbaum commented on #878
Will put file up on google drive

[2018-07-10 22:18] missyschoenbaum opened #879 "Using the user's Unit Identifier - part 1"
When ADSM imports the user's population, it takes the user provided identifier and puts it into user_notes.  It also puts any extra, overflow data into user notes.

This is causing a problem, because the outputs use this user_notes field as the ID instead of the system_assigned ID. If extra stuff in in the field, the output is chaotic.

Part 1 of this is to make a database change by adding field U

[2018-07-10 22:23] missyschoenbaum opened #880 "Using the user's Unit Identifier - part 2"
#879 puts UnitID into new field on ScenarioCreator_unit. Instead of writing supplemental output using the ID in user_user_notes, use the new UnitID field.
Daily_Events this is ID
Daily_Exposures this is SourceID and RecipientID
States this the HerdID_general (can it become ID as well?)
Map_ouput, I will have to check

[2018-07-11 00:23] ndh2 commented on #878
A "-1" is being used in the columns days_in_initial_state and days_left_in_initial_state but the code was expecting a NULL. This page says null or -1 is acceptable so I'll change the code so both are accepted.
https://github.com/NAVADMC/ADSM/wiki/Population-File-Requirements

[2018-07-11 12:15] ndh2 commented on #878
@BryanHurst this report is for the production version but the same problem exists in vaccination rings branch. Where would you prefer I checked in the fix?

[2018-07-11 13:34] ndh2 commented on #878
Uploaded a fix https://github.com/NAVADMC/ADSM-CEngine/commit/3602eca051777a6759cd6b143348b1b9b7c05bb9

[2018-07-11 13:59] missyschoenbaum commented on #880
I missed a step.  We will also have to fix the legacy import to map to the correct field, but that will have the same dependencies.

[2018-07-11 14:14] missyschoenbaum commented on #878
I am going to change the ticket name on this to be more descriptive, and make a known bug.  @BryanHurst will this become available in a build that users can update?

[2018-07-11 14:15] BryanHurst commented on #878
Yes, I can push the update to production today.

On Wed, Jul 11, 2018, 8:14 AM Missy Schoenbaum <notifications@github.com>
wrote:

[2018-07-11 14:24] missyschoenbaum commented on #878
OK, I can add that in the known bug text

[2018-07-11 18:59] BryanHurst commented on #878
@ndh2 I've put an activeSession.sqlite3 file in the folder for this issue. It is a fresh SampleScenario from the Stable branch, and when run against the new CEngine compile (just attempting to validate), the CEngine crashes with no reason output.

Do we have an issue with the databases in the Stable branch?
Did my compile not run correctly?
Or something else?

[2018-07-11 20:02] ndh2 commented on #878
I just tried that scenario with a fresh checkout of master, compiled on Windows 10, with and without the --dry-run switch, and it ran OK.

Is there any output at all when you run, error messages, stack traces?

[2018-07-11 20:37] BryanHurst commented on #878
I just get an exit code, and the UI displays nothing.

![image](https://user-images.githubusercontent.com/1182469/42597925-c6eb472a-8517-11e8-929f-9c70b31e70f1.png)

"C Engine Exit Code: 3221225781"

[2018-07-11 20:44] BryanHurst commented on #878
Okay, it looks like a difference in package dependencies in master vs the latest branch.

[2018-07-11 20:45] BryanHurst commented on #878
That was it, got it working now.

[2018-07-11 20:55] BryanHurst commented on #878
This is now in Production as 3.3.8.7.

https://github.com/NAVADMC/ADSM/releases/tag/v3.3.8.7

[2018-07-12 17:53] missyschoenbaum opened #881 "Clarification on Daily_exposure output"
I may not be following the lingo here, so please correct me if needed.

I am comparing the output from the SQLite database to the supplemental files.  I can make the infection count match up, but I cannot figure out the total exposures.
First image is counts from database, last day only, "All" production types. Note I caputured the database connect to confirm I am looking at the same scenario acro

[2018-07-12 18:38] ndh2 commented on #881
@missyschoenbaum how do the counts break down by Direct, Indirect, and Air?  I seem to recall there was something about how exposures by air were counted, maybe if Direct and Indirect match up as expected then we can look at Air.

[2018-07-12 18:57] missyschoenbaum commented on #881
@ndh2 , you are correct. Dir and Ind match, but Air does not.  Here are images, with Air first.
![expairconfirmoff](https://user-images.githubusercontent.com/6644604/42653600-1adb4d74-85d3-11e8-99e0-3e8631e80b63.JPG)

Then Dir and Ind match files
![expindconfirm](https://user-images.githubusercontent.com/6644604/42653625-263d0a18-85d3-11e8-948d-a24d57a2d922.JPG)
![expdirconfirm](https://user-image

[2018-07-12 19:06] ndh2 commented on #881
I don't know if there's a record of the conversation anywhere, but I think I remember what happened. There was a question of what counts as an "exposure" for Airborne. The decision was that if you're within the circular area around an infection source, you count as exposed for that day. But that made the exposures table file too big because you were essentially outputting all the locations in a ci

[2018-07-13 15:58] missyschoenbaum commented on #858
All options are not showing as grey out.  Is there anything we can do to rename Basic to Detection? Still testing full output.

[2018-07-13 16:16] missyschoenbaum commented on #861
Review by Missy and Erin. Looks good.

[2018-07-13 16:16] #861 closed

[2018-07-13 16:29] missyschoenbaum commented on #816
I am still seeing Days in here.

[2018-07-13 16:32] missyschoenbaum commented on #874
Some saved but didn't capture image. Not sure all save.

[2018-07-13 16:33] ConradSelig commented on #816
@missyschoenbaum
I cant change existing models without a database migration.
This change should make new graphs start with the x-asix of "Time step units", but if that is changed to something else the new value will be displayed.
Old versions of the graph all used "Days" and are therefor are all set to that.

We can migrate if you want.

[2018-07-13 16:43] missyschoenbaum commented on #871
We may tweak order, but breakdown is correct.

[2018-07-13 16:47] #871 closed

[2018-07-13 16:52] missyschoenbaum commented on #771
Looks good, Missy and Erin observed from new.

[2018-07-13 16:52] #771 closed

[2018-07-13 16:54] missyschoenbaum commented on #860
Looks great!

[2018-07-13 16:54] #860 closed

[2018-07-13 17:08] missyschoenbaum commented on #867
Looks good to me.

[2018-07-13 17:08] #867 closed

[2018-07-13 17:16] missyschoenbaum commented on #851
@ConradSelig Do you want me to add the new example on to this one? Or create new ticket?

[2018-07-16 15:04] missyschoenbaum commented on #840
@ndh2  I am going to have to ask for help on this.  Can you go through the steps you did (long ago) to determine if we are having the same action?

[2018-07-16 16:22] ndh2 commented on #840
You want the pie charts showing how often vaccination had an effect like in that old doc?

[2018-07-16 16:25] missyschoenbaum commented on #840
Can I have counts also?  I think I was having a hard time figure out what is getting counted as total vaccinations, since vaccination may happen more than once.  I can figure out the protective ones.

[2018-07-16 16:33] missyschoenbaum commented on #840
Done, this is the VX Rings side only. Need to match in Production.  In this issue number.

[2018-07-16 16:42] ndh2 commented on #840
Just as background, what is counterintuitive about the outputs?

[2018-07-16 19:17] missyschoenbaum commented on #858
In testing full output, we realized the secondary sort is not showing up on destruction priority. Back to you.

[2018-07-16 19:18] ConradSelig commented on #858
@missyschoenbaum Not showing up or not applying? If it is not applying I would expect an error from the C-Engine but I would like to be sure I'm on the same page.

[2018-07-16 19:20] missyschoenbaum commented on #858
not showing up at all.

[2018-07-17 15:12] ConradSelig commented on #816
Missy I'm adding you so that this ticket shows up in your pipeline, I want clarification on how you want to move forward before doing anything else.

[2018-07-17 16:43] missyschoenbaum commented on #807
@ConradSelig Values look perfect. Is there anyway we can round to the tenth on all?

[2018-07-17 16:43] missyschoenbaum commented on #807
If not I will survive.

[2018-07-17 18:55] ConradSelig commented on #807
@missyschoenbaum That should fix the incorrect values problem, and I set it to round to two decimal places - as requested.

Passing to @BryanHurst for testing.

[2018-07-17 19:48] ndh2 commented on #840
From a first go at counting what happened. Does this look roughly like what you were counting @missyschoenbaum?

Total simulations: 100
Simulations with no vaccine effect: 1 (1.0%)
In remaining 99 simulations, all units vaccinated break down as:
Vaccinated, but did not go immune: 88.0%
Vaccinated, went immune, but never blocked an adequate exposure: 0.1%
Vaccinated, went immune, and blocked at lea

[2018-07-17 19:56] missyschoenbaum commented on #840
@ndh2 Yes, this is what I was trying to figure out.  From the old notes, I recall that 85% - 92% were having no protection at all in the rings branch.  When we compare this to  ProdTestVXOnly8, are we in some ballpark of 12% protection (compared to Vaccinated, went immune, and blocked at least one adequate exposure: 11.8%) ?

[2018-07-17 20:34] ndh2 commented on #840
Here's what I get from ProdTestVXOnly8:

Total simulations: 100
Simulations with no vaccine effect: 0 (0.0%)
In remaining 100 simulations,
Average # of units vaccinated = 367
Vaccinated, but did not go immune: 67.7%
Vaccinated, went immune, but never blocked an adequate exposure: 0.4%
Vaccinated, went immune, and blocked at least one adequate exposure: 31.8%

[2018-07-17 20:40] missyschoenbaum commented on #840
OK, let me confirm that we are running matched comparisons as much as possible.  Then I may ask again. I will take it back for now.

[2018-07-17 20:46] ndh2 commented on #840
These numbers seem odd though. Why so many vaccinated don't go immune? The first explanation that comes to mind is that most of the vaccination is happening just before the simulation exits (so the simulation stops before the immunity develops).

And "never blocked an adequate exposure" seems really low. Why would almost every vaccine-immune unit be getting hit with an adequate exposure? Are they

[2018-07-17 21:06] missyschoenbaum commented on #840
Direct/indirect contact is very high.

[2018-07-18 16:09] missyschoenbaum commented on #455
Answers
Would you want a consolidated version of the data presented alongside the individual outputs? Or would you rather replace the individual outputs with a single consolidated version?
Consolidated along side, or in separate folder as done in stand alone version

Would you prefer that making a consolidated version was an option with the rest of the outputs or would you like it generated every

[2018-07-18 16:10] missyschoenbaum commented on #455
@BryanHurst Conrad has a working version of this stand-alone.  Can we integrate it on to the Results page, similar to the Create Summary File?

[2018-07-18 16:11] missyschoenbaum commented on #874
Going to close, seems to be working

[2018-07-18 16:11] #874 closed

[2018-07-18 16:16] missyschoenbaum commented on #840
@ndh2 I turned contact down some and made 2 new files.  They have the number 9 in title, and are on google drive.  I also turned off zones.

I have been looking at the "Why so many vaccinated don't go immune?" questions while I was attempting to figure this out.  In a combined dataset, I can see that those that don't go immune were already in one of the disease states (L,B,C).

[2018-07-18 16:36] missyschoenbaum commented on #299
This has been implemented, correct?

[2018-07-18 16:39] missyschoenbaum commented on #816
I like "Time step units". Let's go with that.

[2018-07-18 16:42] ConradSelig commented on #299
Basic implementation, Bryan asked for an upgrade as to how the state of the overlay is saved. I'm looking into it but I have to learn how .ajax works in Javascript before I can implement it.

His idea would keep the visibility state of the overlay with the scenario, this would prevent the user from having to toggle off the overlay every time the program is opened.

[2018-07-18 16:45] ConradSelig commented on #816
@missyschoenbaum Are you OK with old scenarios still showing "Days"? I'm not sure how I could switch them to "Time step units." but I can look into it if you want.

[2018-07-18 16:49] missyschoenbaum commented on #816
No need, let the past be the past.

[2018-07-18 16:51] missyschoenbaum commented on #299
I agree that would be nice. Also, maybe the font should be a little smaller?  That will mess up a lot, so I am good with fixing the typo and the state for now.

[2018-07-18 16:54] ConradSelig commented on #816
This one is working as intended then.

I'm giving it to you Missy for testing, since no changes were made since the last migration you should have no problems testing it.

[2018-07-18 21:42] missyschoenbaum opened #882 "Destruction Global Documentation - no widget shown"
This is how the data looked before 7/18/2018 work.
["Days Holding","Production Type","Size"]
and after today's work:
{"Days Holding": ["Oldest","Newest"], "Production Type": [], "Size": ["Largest","Smallest"]
These are just examples, they change dynamically when the user rearranges the widgets.

These two data structures are not compatible. With update, any scenario that is using the old style doe

[2018-07-18 21:42] missyschoenbaum commented on #882
Will known bug this, but I needed to create an issue to do this.

[2018-07-19 15:12] ConradSelig commented on #858
@BryanHurst See #882 for documentation of a known bug you will encounter while testing.

[2018-07-19 15:49] missyschoenbaum commented on #872
Update on this.  0 or null in this value produces awful vaccination results. Units are vaccinated repeatedly.  Instead, I propose that we make the default 99999 and update help to include "Default value set to 99999 to stop duplicate vaccination".

[2018-07-19 16:32] BryanHurst commented on #455
Probably. I'd just need to see what it is doing to know how best to get it in.

[2018-07-19 16:36] BryanHurst commented on #841
@missyschoenbaum Is this on the same scenario that was sent out in the email previously? If so, can we add that to the GDrive folder for this issue? I seem to have lost that email.

[2018-07-19 16:44] ConradSelig commented on #455
@BryanHurst I'm sending you the .py file, I wrote the code with some level of intend for use within ADSM, ie the code takes in a supplemental outputs folder path and does the rest (kept real simple).

I can rewrite the code to support how ADSM wants to pass the data if want me to.

[2018-07-19 16:47] missyschoenbaum commented on #841
I think I just sent the scenatrio to Neil.  It was when Google drive wasn't working for me.  It isn't letting me in right at the moment, but I will get it up  there or email.

[2018-07-19 22:20] ConradSelig commented on #746
@missyschoenbaum is the last unchecked box really just a UI working improvement? Looks to me like Kelly actually wants a new form field - that should have its own ticket.

[2018-07-20 13:04] ndh2 commented on #840
I thought a Sankey plot might be better for visualizing this than a pie chart. Here's what I get for the 2 new files. The outcome of vaccination is about half-and-half between "has a protective effect" and "was already infected when vaccination happened". Counts are based on 100 runs.

![840_prodringtestvxonly9](https://user-images.githubusercontent.com/6618820/43003836-cfc5380c-8bfb-11e8-98dc-f79

[2018-07-20 17:17] ConradSelig commented on #872
Simple model field change and migration. Passing to Bryan for testing.

[2018-07-20 17:34] missyschoenbaum commented on #840
Excellent, we are going to look at it this afternoon.

[2018-07-20 17:46] missyschoenbaum commented on #746
No, it's just a conditional statement.  Right now infection probability just disappears.
This part gives good words.
Also, as a side note. In NAADSM, we had a little note: “(Probability of infection transfer is determined by within unit prevalence)” under direct contacts in the place where one would expect to enter the prob of infection transfer. It was a nice reminder of why that option wasn’t av

[2018-07-20 19:32] missyschoenbaum commented on #841
Google drive isn't working for me today, I will email.

[2018-07-20 20:57] missyschoenbaum commented on #840
Tim and I reviewed notes.  We think that the situation described from QUADs is not happening.  We are going to call this good, recognizing that there may be ways that zones interact with vaccination that we have to figure out.

[2018-07-23 13:59] ndh2 commented on #877
@BryanHurst I have a list, shall I add it to the README.md in ADSM-CEngine (master)?

[2018-07-23 14:18] erincampbell234 commented on #858
@ConradSelig I took a look at the words and found 5 typos/grammatical changes to be fixed, they are listed in the order in which they appear.
1.  change "control measure vary" to "control measures vary"
2. in "some measures are applied at a production type...", add a comma after "level" and after "protocol"
3. change "and then user assign effects" to  "and then users assign effects"
4. change "vac

[2018-07-23 15:17] ConradSelig commented on #858
@BryanHurst The destruction priority order has been thrown around now quite a bit, I will have more information for you about what exactly happened at today's ADSM meeting.

[2018-07-23 16:07] BryanHurst commented on #877
It might be nice to have a straight list in a separate file.
Then on top of that if you could modify the setup instruction's install commands to match as well, that would be good.

[2018-07-23 16:23] BryanHurst commented on #841
I've copied the scenario file to Drive for future access.

[2018-07-23 16:37] BryanHurst commented on #841
After recompiling, still get `***MEMORY-ERROR***: adsm_simulation[2240]: GSlice: assertion failed: sinfo->n_allocated > 0`

[2018-07-23 17:09] ndh2 commented on #844
We tried this once before in #425. GLib wouldn't statically compile, then we tried a tool called Statifier which produced a non-working executable, then we tried a demo version of a tool called Ermine. As of Sep 2015 we were considering paying for Ermine.

[2018-07-23 20:34] ConradSelig commented on #878
Adding dependency as per Missy's request in today Development meeting (7/23/18)

[2018-07-23 20:36] ConradSelig commented on #840
As decided upon in today's Development meeting (7/23), we decided that while there may still be something off regarding vaccination rings, it does not need to be backed out.

[2018-07-24 16:38] ConradSelig commented on #742
@missyschoenbaum It seems we have decided to make a new table (or two), and I want to be very clear on what you want.

I gather you want a new table called _results_iterationbyzoneandproductiontype_ that holds the following things:
- iteration
- zone
- production_type
- costSurvellance

You want a second new table called _results_iterationcostsbyproductiontype_ that holds the following:
- iteratio

[2018-07-24 17:49] missyschoenbaum commented on #742
Here are some tweaks.  I already have Results_dailybyzoneandproductiontype - costSurveillance should go into this table as it already has both the zone and production type

New table would be results_dailycostsbyproductiontype

-    iteration
-     day
-     last_day
-     production type
-     vaccSetup
-     vaccVaccination
-     vaccSubtotal
-     destrAppraisal
-     destrEuthanasia
-     dest

[2018-07-25 16:17] BryanHurst commented on #742
Looking this over at request of @ConradSelig. We will not need Neil for any CEngine support for this one; everything for the daily results is sent to us through the communication pipe between CEngine and Python and doesn't use the database.

However, there will be a decent amount of logic to change in the Results app to account for the new table.
Not all 37 references of the old DailyControls mode

[2018-07-25 16:23] ConradSelig commented on #742
@BryanHurst I'll take a closer look at those references and see what I can figure out. I'll post here if I run into anything I need clarification on.

[2018-07-25 19:11] missyschoenbaum commented on #853
I noticed one tiny thing when I was writing up documentation.  Can we make the herdID_general field be consist with the other IDs?  So, just a heading change to ID?

[2018-07-26 14:51] ConradSelig commented on #742
@BryanHurst I'm still working on this problem and I've come across a small problem.

The table that Missy wants describes the cost of surveillance as by-day-by-production_type, but
 the "DailyControls" hable where the cost used to be appears to be a singleton.
I'm looking specifically at line 117 in "Results/output_parser.py".

Are we sure that the C-engine is outputting the cost of surveillance i

[2018-07-26 16:22] BryanHurst commented on #742
The comments at the top of "construct_combinatorial_instances" explains this one.

DailyControls isn't a singleton, but there is only one of them per day in the simulation.

        1 DailyControls
        1 * pt DailyByProductionType
        zones * pt DailyByZoneAndProductionType
        zones * 1 DailyByZone

[2018-07-26 16:31] missyschoenbaum opened #883 "results_dailyreport"
@BryanHurst I can't figure out what should be going into the table Results_dailyreport.  Any ideas?

If we aren't using it, can we get rid of it?

[2018-07-26 16:33] missyschoenbaum opened #884 "Results_resultsversion"
@BryanHurst on the output table Results_resultversion, is this actively updated?

[2018-07-26 17:00] BryanHurst commented on #884
The Python side of things does update this table from the output of the CEngine. It is a different matter if the version number gets actively updated in the CEngine code. That would be an @ndh2 question.

We might should add a step to the compile instructions for incrementing CEngine version numbers.

[2018-07-26 17:01] BryanHurst commented on #883
As far as I can tell, this table doesn't get populated any more. Any opinion @ndh2 ?

[2018-07-26 19:45] ConradSelig commented on #823
I am not working on this, but I ran across a reference to the database extension and thought I would document it for whoever does end up working on it.

Reference is in ADSMSettings/management/commands/migratescenarios.py in the handle() function.
The line is 'if file.endswith(".sqlite3") and file != "settings.sqlite3":'

[2018-07-26 21:33] ConradSelig commented on #851
I still dont have my production types showing, I would have to fix that before I could make any progress on this.

I can still look into it if you want, but I guarantee it will take me longer than you want - even for something as simple as a workaround.

[2018-07-27 21:56] missyschoenbaum opened #885 "Wording change - Retrospective vaccination"
Can we change the field description to:

Once a trigger has been activated, detected units prior to the trigger day can be retrospectively included in the vaccination strategy. This number defines how many days before the trigger to  step back, and incorporate detected units.

[2018-07-27 22:13] ConradSelig commented on #885
I'm assuming the field you are looking at in particular is "Vaccinate retrospective days" in "Vaccination Global"

Looks like its a simple database migration to change the help text that is linked to the field.

I'm adding the database migration tag, but it should be a 5 minute fix.

[2018-07-30 15:39] missyschoenbaum opened #886 "Simplify use of Costs"
Currently, costs have to go in several places.  The costs that are by production type go into a Control Protocol by clicking Cost Accounting, and adding costs.  That cost that is by production type, by zone goes into the Zone effects.  Then, these costs are enabled on the Output setting page, using Cost Track Destruction, Cost Track Vaccination and Cost Track Zone surveillance.

Is it possible for

[2018-07-30 16:12] ndh2 commented on #853
Made that change. https://github.com/NAVADMC/ADSM-CEngine/commit/53c5ec255b6d14e4245ac253d9b546372f0d405b

[2018-07-30 16:32] missyschoenbaum commented on #844
@ndh2 I don't mind but @BryanHurst has the money.  How much does it cost?

[2018-07-30 19:40] ConradSelig commented on #454
See #742 as to why this ticket currently cannot progress.

[2018-07-30 19:48] ConradSelig commented on #742
Alright, after just short of 20 hours of what turned out to be research, this is what I've discovered:

A Results_DailyCostsByProductionType table is currently not possible. The data that can be parsed into costs is given on a by-all-production-types basis. Here is the process I used to come to this conclusion:

- First, I moved the Results/models.py file around to that a new table could be create

[2018-07-30 19:49] ConradSelig commented on #742
@missyschoenbaum I'm going to leave it up to you to decide which pipeline this ticket and #454 belong in.

[2018-07-30 19:52] missyschoenbaum commented on #742
I bet I can do this one the same way that I did the other out tables in a query.  I will keep it on my todo list and get that done.

[2018-07-30 20:42] missyschoenbaum commented on #814
These got done by @ConradSelig. I'm going to move to testing.

[2018-07-30 20:44] missyschoenbaum commented on #817
It was determined that these fields are not available without changes to C Engine.  Closing for now.

[2018-07-30 20:44] #817 closed

[2018-07-31 19:28] ConradSelig commented on #879
I've got it to display the new unit_id field in the population table instead of the user_notes field. I can disable it, but I thought that it might still be of some use to a user.

[2018-08-02 19:02] missyschoenbaum commented on #879
How about

Validation indicated that your unit identifiers are not unique identifiers. Supplemental files use this identifier in creating the output. Joining output for post-processing will not be advisable.

[2018-08-02 20:26] missyschoenbaum commented on #884
@ndh2  3.4 sounds good to me

[2018-08-02 20:44] ndh2 commented on #884
Updated the version to 3.4.0. Will increment it if we make any further changes to the output files or the database structure. https://github.com/NAVADMC/ADSM-CEngine/commit/9622a99af6d89afb7810b7fbef4da4379769cbb8

[2018-08-03 21:17] missyschoenbaum commented on #882
This was Missy's mistake, only need 1 level sort

[2018-08-03 21:17] #882 closed

[2018-08-06 12:56] ndh2 commented on #877
Command for list of installed packages https://wiki.archlinux.org/index.php/Pacman/Tips_and_tricks#List_of_installed_packages

[2018-08-06 13:27] ndh2 commented on #877
Also added a note in the README.md about the file with the list of version numbers.

[2018-08-06 14:55] missyschoenbaum commented on #884
I guess I have to wait on Bryan to push build.

[2018-08-06 15:48] BryanHurst commented on #877
@ndh2 I've run into a snag with this that the pacman repo doesn't keep old versions of packages. I already cannot install some of the version numbers specified in the pkglist.txt

[2018-08-06 15:53] BryanHurst commented on #742
Attaching the patch file here so it isn't in the code repo.

[#742_and_#454_Changes.patch.txt](https://github.com/NAVADMC/ADSM/files/2263209/742_and_.454_Changes.patch.txt)

[2018-08-06 15:53] BryanHurst commented on #454
Attaching patch file here so it isn't in the code repo.

[#742_and_#454_Changes.patch.txt](https://github.com/NAVADMC/ADSM/files/2263211/742_and_.454_Changes.patch.txt)

[2018-08-06 15:56] BryanHurst commented on #455
I'm adding the code file here for reference.

[combineStates.py.txt](https://github.com/NAVADMC/ADSM/files/2263226/combineStates.py.txt)

[2018-08-06 15:58] BryanHurst commented on #879
There is a i879_User's_Unit_Identifiers branch dedicated to this issue.

[2018-08-06 16:56] ndh2 commented on #877
I just added this to the readme:

For the most part, newer versions with the same major version number should work, although note that we have encountered memory errors when using versions of JSON-GLib above 1.2. If you want to install an older version of a specific package, you can often find the older packages in an archive (such as here http://repo.msys2.org/mingw/x86_64/) and install with the

[2018-08-06 17:55] ndh2 commented on #883
I'm not sure what this table was for. It only has 2 fields "sparse_dict" and "full_line"... the "sparse" part suggests it was perhaps aiming at compressing output similar to what was done in #853?

[2018-08-06 20:57] missyschoenbaum commented on #883
Who has to get rid of it, @BryanHurst?  This time we should make sure we take it out of the database template as well so it doesn't haunt me for eternity.

[2018-08-06 21:30] BryanHurst commented on #883
I'll do the removal.

On Mon, Aug 6, 2018, 2:57 PM Missy Schoenbaum <notifications@github.com>
wrote:

[2018-08-06 21:36] missyschoenbaum commented on #883
Sold!

[2018-08-13 15:30] missyschoenbaum commented on #816
Looks good. Does require a new scenario.

[2018-08-13 15:30] #816 closed

[2018-08-13 15:43] missyschoenbaum opened #887 "Error when changing destruction widget"
Not sure if the destruction widget change cause the error, or something else.

Steps to recreate
On destruction global, rearranged with widget to make Dest Priority order 1) PT, 2) reason 3) Time waiting
Changed destr program delay to 2 days.
Changed destruction capacity to the rel function probability of reporting (0,10 - 7,85, - 10,100)
Applied change
Changed priority on Cattle Control (protocol

[2018-08-13 15:47] missyschoenbaum commented on #887
OK, did a simple test, just rearranged the priority widget to 1) PT 2) reason 3) Time waiting and get same error on validation.  Will post to google drive as Test 858again.

[2018-08-13 16:18] missyschoenbaum commented on #807
I know we looked at this, but I am not seeing the Std Dev come out in the report.  My summary has these fields, but no Std Dev.
![stddev807](https://user-images.githubusercontent.com/6644604/44044258-461dab76-9ee2-11e8-82f1-cea877443960.JPG)

[2018-08-13 16:26] missyschoenbaum commented on #814
Looks good on 2 new pages.

[2018-08-13 16:26] #814 closed

[2018-08-13 16:28] missyschoenbaum commented on #878
Missy note, waiting on 851 to test

[2018-08-14 14:47] missyschoenbaum commented on #548
A quick start guide is done
https://github.com/NAVADMC/ADSM/wiki/A-Quick-Start-Guide:-Running-the-sample-scenario

[2018-08-14 14:48] #548 closed

[2018-08-20 15:07] missyschoenbaum commented on #742
I have a portion of this done:

SELECT
iteration,
day as Duration,
name as Production_Type,
protocol,
descU, descA, VaccU, VaccA,
cost_of_destruction_cleaning_per_unit, ROUND(cost_of_destruction_cleaning_per_unit*descU, 0) as CostCleaning,
cost_of_destruction_appraisal_per_unit, ROUND(cost_of_destruction_appraisal_per_unit*descU, 0) as CostAppraisal,
cost_of_euthanasia_per_animal, ROUND(cost_of_eu

[2018-08-20 15:12] missyschoenbaum commented on #742
Still working on the Cost of surv portion, more complicated.  Once done I will move into the

[2018-08-20 16:47] missyschoenbaum commented on #742
Here's the 2nd part, need to combine to get total costs

Select
iteration, day, PT_name, zone_effect_name, Z_name, cost_of_surveillance_per_animal_day, animaldaysinzone, ROUND(cost_of_surveillance_per_animal_day*animaldaysinzone, 0) as SurvCost
FROM
(Select iteration, day, production_type_id as rpt, zone_id as rz, animaldaysinzone FROM Results_dailybyzoneandproductiontype where Last_day = 1) resul

[2018-08-24 19:59] missyschoenbaum opened #888 "VX Rings Branch priority"
These are notes to keep track of priority items if Missy gets deployed.  Goal at this time is a production release with new Vaccination functionality.  Will update as needed.

1) All C code tickets

2) Bug fixes, including
- [x] #887  Dest order
- [x] #807  Summary report - in the testing queue
- [x] #891 validation message
- [x] #890 missing delete button

3) Nice things that make life easier
- [

[2018-09-04 15:32] BryanHurst commented on #877
This looks good now.

Since this is specific to the developer side and can't easily be tested by anybody else, I'm closing the issue.

[2018-09-04 15:32] #877 closed

[2018-09-11 04:05] ConradSelig commented on #851
Just a quick update after a number of hours of work:

I think I have the problem narrowed down, it appears to be a destination id error of some sort. Basically when you make a POST request for a new spread combination, it parses the source and the destination production types as integers instead of the string displayed. When adding a new production type, it seems that no id is "registered", meanin

[2018-09-11 16:10] missyschoenbaum commented on #299
@BryanHurst let me check my expectation on this.  I was expecting to turn off the overlay. Then, on my next opening of the application, I was expecting the overlay to still be off, as that was how I left it.

I am not seeing that happen.  It is on every time.

[2018-09-11 16:14] missyschoenbaum commented on #884
Looks great!

[2018-09-11 16:14] #884 closed

[2018-09-11 16:30] missyschoenbaum commented on #299
Looks great!

[2018-09-11 16:30] #299 closed

[2018-09-11 20:52] missyschoenbaum commented on #841
I went through 2 different real world type scenarios more than 100 iterations in several smaller bunches.  Cannot get this to repeat.  Going to call this good.

[2018-09-11 20:52] #841 closed

[2018-09-12 13:07] ndh2 commented on #853
@BryanHurst what needs doing on this task?

[2018-09-12 19:12] missyschoenbaum opened #889 "gh pages help"
When there is time, coach me through all the moving parts on the gh pages so I can get a little more than a basic page up.

I have something up now, but not optimal.

I would want to:
add images
link to documents (training)
link to video (training)
use the ADSM stylesheet if possible
make pubs page

[2018-09-13 16:28] BryanHurst commented on #853
@missyschoenbaum did Neil's last commit on this fix the issue, or is there still something else to be done? Should this issue be in the testing pipeline?

[2018-09-13 17:16] missyschoenbaum opened #890 "Missing Delete Results Button - Global forms"
The new Vaccination Global and Destruction Global don't present the ability to Delete results and apply changes.

Steps to recreate:
Open and run sample scenario
navigate to Vaccination Global tab
![nodeleteresults](https://user-images.githubusercontent.com/6644604/45504163-55360f00-b746-11e8-944a-5170e5f0d3a9.JPG)

[2018-09-13 19:07] ConradSelig commented on #851
Another update (and a workaround!):

My last hypothesis was incorrect, this is not an ID problem. I went back through and found where the ids are being generated and found no problems. Further testing led to an important discovery, although I'm not quite sure how the two are linked yet.

I've numbered the steps in the original post to make referencing them easier.
Following the steps, if you stop

[2018-09-13 19:13] missyschoenbaum commented on #851
Excellent, having a good workaround makes me less worried about it.  If there isn't a quick resolution, we can drop the priority on this.

[2018-09-13 21:39] missyschoenbaum opened #891 "Validation message for Vaccination"
If you have a ring and a trigger turned on, but have not set any values in the Control Protocol, Vaccination then vaccination happens with unclear parameters.

Can we have a validation that lets us know there is a disconnect here?  This would require that the control protocol assignment (ScenarioCreator_protocolassignment) to production type be compared to the ScenarioCreator_vaccinationringrule_t

[2018-09-14 16:13] missyschoenbaum opened #892 "Population page - state other than Susc shows X"
This is minor, but odd.

Any state other than susceptible shows an X (like infected).  There are states like nat immune, vaccine immune and destroyed where that would be weird.

We can fix when we have time.
![destinitialstate](https://user-images.githubusercontent.com/6644604/45562127-adcce100-b806-11e8-858d-df7c7327fc7f.JPG)

[2018-09-14 23:18] ConradSelig commented on #851
I don't know enough JavaScript to know for sure, so I'll put this one back in groomed and ready until I've done some more research.

I can say this - the function that needs to be run is almost certainly in "SpreadGrid.js", I'm just not sure what component in there needs to be run.

[2018-09-14 23:30] ConradSelig commented on #887
@missyschoenbaum I'm not getting any error, are you still? Also, I dont seem to have the Google Drive folder shared with me, so if you did post anything to Google Drive I have not seen it.

[2018-09-15 17:37] ConradSelig commented on #889
@missyschoenbaum We should set up a time to have this meeting. It won't take more than an hour.

I can do Monday between 11-12 or between 1-3. We can also do Tuesday anytime between 11-2. Let me know what works best for you and I'll put it on my calendar.

[2018-09-17 14:10] missyschoenbaum commented on #887
OK, I think I was working on this before the build got pushed.  My mistake.

@BryanHurst Can we give Conrad access to the google drive?

[2018-09-17 14:10] missyschoenbaum commented on #887
I'm calling this one good and closing it.

[2018-09-17 14:10] #887 closed

[2018-09-17 14:14] BryanHurst commented on #887
@missyschoenbaum Conrad should have the Drive link now.

[2018-09-17 16:07] BryanHurst commented on #853
Any confirmation on this one yet?

[2018-09-17 16:20] BryanHurst commented on #858
@missyschoenbaum and @ConradSelig What is the state of this ticket again?

[2018-09-17 16:34] missyschoenbaum commented on #853
That should do it. Should this be in my testing queue?

[2018-09-17 16:35] BryanHurst commented on #853
Yes, it should be ready for testing.

[2018-09-17 16:36] missyschoenbaum commented on #858
Destruction order is staying on the destruction page. The widget is working as expected. If you want to push through to test I will confirm and close.

[2018-09-17 18:36] missyschoenbaum commented on #858
Confirmed and closing

[2018-09-17 18:36] #858 closed

[2018-09-17 18:36] missyschoenbaum commented on #853
Looks great, closing

[2018-09-17 18:36] #853 closed

[2018-09-18 04:25] ConradSelig opened #893 "Changing the Base of the gh-pages site."
After spending some time figuring out how the gh-page works, I made a few discoveries about why editing it has been so difficult - and why future edits at the site's current state would continue to be difficult.

First off, the content on the site is compiled from a .md (mark-down) file. Formatting mark-down to get it to look just right is complicated, and styling it to look like the app would be

[2018-09-18 14:46] missyschoenbaum commented on #889
I'm going to close this one and we can continue in #893

[2018-09-18 14:46] #889 closed

[2018-09-18 14:50] missyschoenbaum commented on #893
Will we be rearranging all those items that are currently in the gh-page branch?  If so, I can start on changing the links I think we will need this eventually, but let's keep the priority behind the bug fixes.  Bottom line, yes, we will need this at some point in the future.

[2018-09-18 14:56] missyschoenbaum commented on #873
I have not seen this in any of the tests recently, so I am going to call it good.

[2018-09-18 14:56] #873 closed

[2018-09-19 19:32] missyschoenbaum commented on #879
It will require a database change (to provide the new field) , and a change to how the import gets mapped when it comes in.  If the new field is there, then Neil can start.

[2018-09-20 20:01] missyschoenbaum opened #894 "When does vaccination get activated?"
I have noticed after we have implemented Vaccination Rings, that vaccination happens even when I do not turn vaccination on in the Control Protocol  (or ScenarioCreator_controlprotocol.use_vaccination = 0) but I have a Vaccination Ring on.

If I turn remove vaccination triggers and rings, I do not get vaccination.

So, is it possible that we have bypassed the on/off switch?

If so, I would need to

[2018-09-23 04:42] ConradSelig commented on #879
I'll admit I have no idea how the database migration slipped by me... I know for a fact I was working on some code that would change the population table, which means I had a migration for this field at **some** point in time - I'm just not sure when.

That should get Neil set for actually getting started on the back-end. Sorry it took so long to get to this, it's been a long exam week.

[2018-09-23 23:43] ConradSelig commented on #879
any unit_id stored in user_notes is not yet transferred to unit_id, but this changes the table so the unit_id field is displayed.

[2018-09-24 15:10] BryanHurst commented on #894
Since @ndh2 knows what on the CEngine side triggers vaccination, I'd like his input on this. Neil, are you okay with looking at the UI and Python code to see if we are skipping a step here?

[2018-09-24 15:44] BryanHurst commented on #823
For this to work well, we will need to rename all scenarios on the user's machine. I'll add this as part of graceful_startup; if any scenarios in the workspace end in .sqlite3, they will be renamed to end in .db.

[2018-09-24 17:01] BryanHurst commented on #823
This will need some good testing to make sure that uploading files and old scenarios still work.

[2018-09-27 17:10] ConradSelig commented on #890
Assigned to Bryan for testing.

[2018-09-27 19:06] ndh2 commented on #894
Vaccination should happen if 1 or more vaccination triggers exist and their conditions get met during the simulation.

[2018-10-04 16:54] missyschoenbaum commented on #823
Documentation of what I observed:  I copied previous scenarios with .sqlite extensions. When app opened, those extensions were changed to db.  All data and results were intact.

I renamed, deleted results and ran scenario (88 iterations) with MN population. Works perfectly. This is just one example, so I am not closing yet.

[2018-10-04 17:09] missyschoenbaum commented on #883
Looks great. Think I need to add unit stats to the data dictionary (which is in the works and is getting double-checked at the moment).

[2018-10-04 17:10] #883 closed

[2018-10-04 17:53] missyschoenbaum opened #895 "Summary Report - Remove TSD fields"
The transition state daily fields are showing up in the summary report.  Can we remove those?  They don't make sense.   I think we need transition state cumulative there instead, but I need to dig around on that.  I didn't want to forget this.  Don't take action until I update.

[2018-10-04 19:35] missyschoenbaum commented on #807
Values are coming out wrong.  If I back it out and remove the where clause that limits the production_type to null (which translates to All production types) then I can get the same answers.

So, I take that to mean that the where clause needs to be added back in, like production_type_id is null.

The where clause needs to have 2 parts: where last_day = 1 and production_type_id is null

[2018-10-04 19:57] missyschoenbaum commented on #878
Used Conrad's work around, was able to test.  Looks golden!

[2018-10-04 20:00] missyschoenbaum commented on #878
Maybe I spoke too soon.  Haven't seen this before
![bluemap878](https://user-images.githubusercontent.com/6644604/46499612-c9138680-c7dd-11e8-854d-9e3ec702e87b.JPG)

[2018-10-04 20:03] missyschoenbaum commented on #878
Saved as and repeated with fewer iterations. Same result.

[2018-10-04 20:17] missyschoenbaum commented on #878
Closing this one, opening new one to deal with this problem.

[2018-10-04 20:17] #878 closed

[2018-10-04 20:21] missyschoenbaum opened #896 "Unexpected visualization of results"
Map draws really strangely. Legend is gone.

This is based on #878, but I repeated it several times and got same results. I closed and reopened.  I changed iteration count, and spread methods.

I acknowledge that it is testing on an unlikely scenario, as I put in a  new population and just hooked stuff up with no reason.  Will post up files to google drive, but will be tonight.![BlueMap878.JPG](ht

[2018-10-05 19:08] missyschoenbaum commented on #808
Missy change Population requirements when Unit ID update is done

[2018-10-06 19:58] ConradSelig commented on #691
I was both correct and incorrect about my last post, here is the most recent update:

I was correct that it is not a JavaScript/HTML error, the forms are displaying what they are told - and are not the reason both fields are being filled.
I was incorrect that the data contamination was being caused by the same function (ProducitonTypeList()) being used for both fields. There is a clear separation

[2018-10-08 16:56] missyschoenbaum commented on #691
The database write happens when the apply button is used. I guess there is also a write to the settings.db that happens immediately?  Be sure you are looking at the right one when you are checkin.

[2018-10-08 17:01] missyschoenbaum opened #897 "Update example files when update happens"
After some discussion with SME's, we decided it would be smart to update the Example SQL queries and the Example R code  folders.  I will make a READ ME to put in each folder so users understand that they would need to save as on any changes they make.

This also allows us to update when there is a structure change.

[2018-10-11 19:51] missyschoenbaum opened #898 "Linked definitions going to top of Lexicon"
This is minor, but when you click on one of the links on a definition, it goes to the top of the Lexicon instead of going to the exact definition like it used to.  I doubt the links changed.

[2018-10-15 14:29] BryanHurst commented on #897
@missyschoenbaum What about the Sample Scenarios? Should we overwrite those as well? It would allow us to make changes to the Sample Scenario structure, but may overwrite any work that somebody saved to the Sample Scenario.

[2018-10-15 14:39] missyschoenbaum commented on #897
@BryanHurst  I think so.  It might help someone if they have messed up their Sample Scenario and need to get it back to the example.  We can put a note somewhere.  I guess I need to prepare release notes anyway.

[2018-10-15 16:37] missyschoenbaum commented on #894
Thanks all, will keep this as documentation but close the ticket.

[2018-10-15 16:37] #894 closed

[2018-10-15 17:12] BryanHurst commented on #880
@ConradSelig When you finish the Python part of this, please move to Testing and assign to me.

[2018-10-15 17:42] missyschoenbaum commented on #852
Notes for testing - confirm file goes into folder, confirm files show up in project panel, confirm files will delete, confirm results page is refreshed with file names, double check that Map folder actually fills with something when Map Output is run.

[2018-10-15 17:46] missyschoenbaum commented on #891
@BryanHurst the place to look for the on/off switch is within the Control Protocol, and there is the option for vaccination on the list.  This used to be connected to use_vaccination, but now vaccination starts when the trigger is sufficient.

Some options to look at - make this so it is automatically checked when a trigger is set, or make this so there is no check box, but the parameters can stil

[2018-10-16 22:20] ConradSelig commented on #879
This is by far not the fastest solution, the initial migration of data from user_notes to unit_id can be very slow.

I took a look at atomic operations and it seems implementation is going to be quite complicated due to the way that python handles atomic "locks" and "keys". Pushing to Bryan for testing as is.

[2018-10-18 16:26] missyschoenbaum opened #899 "Import error wording improvement"
We have an inconsistency in how we describe the starting disease state of a unit. In the database (ScenarioCreator_unit) we call it initial_state.  In the import error message that fails that field, we call it initial_state (image included).

In documentation, we tell users that the population file requires a field called 'status' to describe the initial state. I assume from this that the import i

[2018-10-18 16:32] missyschoenbaum commented on #896
I'm getting the same result on another test.  Using the "pie" population again using sample scenario paramters.  Will try this without the pie.

[2018-10-18 21:41] missyschoenbaum commented on #799
I added text.

[2018-10-18 21:41] #799 closed

[2018-10-22 15:26] #264 closed, assigned to missyschoenbaum

[2018-10-22 15:33] missyschoenbaum commented on #852
Looks great. Turned supps and map on and off several times and all actions followed expected course.

[2018-10-22 15:33] #852 closed

[2018-10-22 15:36] missyschoenbaum commented on #823
Working consistently, going to close.

[2018-10-22 15:36] #823 closed

[2018-10-22 15:37] missyschoenbaum commented on #897
This appears to have happened.  Whole new block of queries came through.

[2018-10-22 15:37] #897 closed

[2018-10-22 15:42] missyschoenbaum opened #900 "Global Apply Fail"
I was testing #890 and I had this happen.

Step to recreate.
Have a scenario that already has results so Delete Results button is showing.
Go make a change to something.  I picked another pdf off the capacity list
Hit Delete Results and apply changes

Yellow screen This error appears
![GlobalApplyfail.JPG](https://images.zenhubusercontent.com/559d2ded4f7a08fbb7f3a320/e4e2e03d-6391-43a5-bb26-f610d0

[2018-10-22 15:42] missyschoenbaum commented on #900
All text of error

Request Method: | POST
-- | --
http://127.0.0.1:64738/setup/VaccinationGlobal/
1.8.2
FileNotFoundError
[WinError 3] The system cannot find the path specified: 'C:\\Users\\MeSchoenbaum\\Documents\\ADSM Vaccination Rings Workspace\\TestMap\\Supplemental Output Files'
C:\Users\MeSchoenbaum\Documents\ADSM_VX Rings_10222018_new\ADSM_Vaccination_Rings.exe
3.4.2
['C:\\Users\\MeSchoenba

[2018-10-22 15:43] missyschoenbaum commented on #900
Didn't mean to close, sorry!

[2018-10-22 15:55] missyschoenbaum commented on #890
Note on this, the delete did work and I was allowed to get back in.

[2018-10-22 16:06] missyschoenbaum commented on #890
I ran this around again and it didn't fail the 2nd time.

[2018-10-22 16:07] missyschoenbaum commented on #890
OK, this must have just been an odd case.  It's acting OK now so I am going to close.

[2018-10-22 16:07] #890 closed

[2018-10-22 16:08] missyschoenbaum commented on #900
After I opened again are attempted to change and apply, it worked.  Going to close.

[2018-10-22 16:08] #900 closed

[2018-10-24 15:02] BryanHurst opened #901 "Migration Conflict"
There is a conflicting migration in the Production branch that will prevent us promoting vaccination rings to beta or production. This needs to be merged/solved.

[2018-10-24 15:47] missyschoenbaum commented on #828
@BryanHurst if there isn't going to be time to work on this, I can do some documentation around how it currently is set up.  Even if we popped up a message that said "Use the following password  - ADSM" that would get them into it.

[2018-10-26 15:15] BryanHurst commented on #879
@ConradSelig do you have a specific population file you have been using to benchmark the loading time?

[2018-10-26 18:32] BryanHurst commented on #691
After Conrad spent some time looking at this, I took a look as well. These two fields are tightly coupled currently and have no mechanism for uncoupling their input.

Getting these two to work independently would be a large undertaking.

@missyschoenbaum we will need to decide the priority on this one.

[2018-10-26 18:35] missyschoenbaum commented on #691
@BryanHurst  Let me chat with SMEs about it.

[2018-10-26 18:54] missyschoenbaum commented on #691
@BryanHurst we need to get it fixed. We are trying to model the concept that you would only vaccinate long-lived production types when the other production types that are high disease spreaders.

Priority wise, let's drop it to the lowest of our release priorities.  I rearrange #888 and put it in the nice to have group, realizing that it's probably not going to make it.

[2018-10-26 18:54] missyschoenbaum commented on #691
I will add it to known bugs for release.

[2018-10-26 19:35] missyschoenbaum opened #902 "Project Panel - Duplicate not working"
Duplicate with the scenario open is working.

Duplicate by using the duplicate button on the scenario list is not work.  It presents the Save As window, but does not save.

Steps to recreate:
From any scenario
hit project panel fly out
observe list of available scenarios
hit the duplicate button
Scenario Save as window appears
give it a new name "duplicateTest"
it accepts the new name
hit Save as

[2018-10-29 13:43] BryanHurst commented on #879
When I tried to import sample_population.xml, I got the following error.

![image](https://user-images.githubusercontent.com/1182469/47653490-52547980-db4e-11e8-9912-440b18404145.png)

[2018-10-29 13:46] BryanHurst commented on #896
@missyschoenbaum I'd like to talk about this one more at the meeting this morning.

[2018-10-29 13:50] ConradSelig commented on #879
@BryanHurst Alright I'll take a second look.

[2018-10-29 14:17] missyschoenbaum commented on #902
I forgot to add, delete wasn't working either.

[2018-10-29 14:39] missyschoenbaum commented on #902
OK, it worked for me today.  It copies it in the background, and also deletes.  This looks like user error, so I am going to close.

[2018-10-29 14:39] BryanHurst commented on #902
I'm going to do one small fix on this one.

[2018-10-29 14:39] missyschoenbaum commented on #902
Perfect

[2018-10-29 14:40] BryanHurst commented on #902
Because it can cause problems, I'd like to remove the currently open scenario from the list of scenarios.
When it is open, it appears in the top list, so we shouldn't look like we are missing anything.

[2018-10-29 15:09] BryanHurst commented on #891
@missyschoenbaum the easiest route is going to be to disable that Vaccination checkbox and automatically check it if another trigger is created.

Should it be checked if any Vaccination Start Trigger is created?

[2018-10-29 15:19] missyschoenbaum commented on #891
Yes, because any trigger has the possibility of starting vaccination.

[2018-10-30 15:34] missyschoenbaum commented on #896
Looking at the data, it seems to have extreme airborne spread. I'm trying to back this off and run again with no airborne to see what happens.  Query to look at data was
SELECT --*
iteration,
day,
--production_type_id -- not useful, instead use case statement to pull in real name or assign name
CASE WHEN name IS NULL  THEN "ALL" ELSE  name END as productiontype,
last_day,
-- Transition State Daily

[2018-10-30 17:43] missyschoenbaum commented on #896
Tinkered around and got a fairly normal set of results that are still drawing blue.  Will upload Test896_bluescreen3 tonight.

[subset_export.xlsx](https://github.com/NAVADMC/ADSM/files/2530899/subset_export.xlsx)

[2018-10-30 17:56] missyschoenbaum commented on #891
This was a great solution and works perfectly.

[2018-10-30 17:56] #891 closed

[2018-10-30 18:01] missyschoenbaum commented on #902
Current scenario does go away.  Doesn't reappear when rename is done, however. This is minor to me.  It does reappear if scenario is run.

[2018-10-30 18:03] missyschoenbaum commented on #851
I exercised this while working on 896.  There is still something quirky, but it is hard to pin down exact action to recreate.  Sometimes, it acts like it picks whole list, but really only picks one choice.  I will circle back and attempt to get a systematic test on it to have steps to recreate.

[2018-10-30 18:34] missyschoenbaum commented on #752
Looks good.

[2018-10-30 18:34] #752 closed

[2018-10-30 18:36] BryanHurst commented on #828
It is 12:36 and I just release a small fix to this. It will show as integrity error in the update panel.

[2018-10-30 20:47] #902 closed

[2018-10-30 21:55] missyschoenbaum commented on #807
I am still coming out different.  I talked to one of the statisticians to try an understand what you could be meaning by "The summary file shows 7 values, while 9 values are being used to calculate the StdDev. "  She thought you might be doing a frequency, and said that wasn't necessary when we have the real data to do a population standard deviation. She recommended that we could do the "Computat

[2018-10-30 21:58] missyschoenbaum commented on #807
Also, the number that we are pulling in needs to be the last day = 1 and production_type_is is null.  See in this image where the code says 0 instead of 1.  I'm not a math wizard, so I'm sorry if explaining this badly.
![stddev2](https://user-images.githubusercontent.com/6644604/47753292-a483c080-dc5c-11e8-9a76-485ec74d733d.JPG)

[2018-10-30 22:01] missyschoenbaum commented on #807
Some values come up close, but others are 100's off.  The steps that I go through to check this:
run queries and export
open in excel
use the stdev.p to calculate
Here are queries
Select diseaseduration, outbreakduration, deswAMax, deswAMaxDay, deswUDaysInQueue
from results_dailycontrols where last_day = 0

SELECT
iteration, day, last_day, infcU, adqcU, expcU, descU
FROM Results_dailybyproductiont

[2018-10-31 14:29] missyschoenbaum commented on #828
Just an interesting note, the permissions have changed somehow so I don't have to make it run the update more than once to get  it to go. It used to tell me I didn't have permission on the first attempt, and sometimes on the second attempt, but would eventually update if I kept trying.

[2018-10-31 14:35] missyschoenbaum commented on #828
This looks great.  I was able to get to it with no password, write a simple query, export results file with column headers, see the schema, and go back to ADSM.

@BryanHurst  do we think there are other things we want to do on this ticket?  If so, we can move to backlog and revisit in future.

[2018-10-31 14:53] BryanHurst commented on #828
I think for now we can move it to the backlog. But a list of feature requests for it would be nice.

[2018-10-31 15:41] BryanHurst commented on #902
The list now refreshes after rename.

[2018-10-31 17:49] missyschoenbaum commented on #828
Feature List:
No update to database - I didn't test so may not happen anyway

[2018-10-31 18:16] missyschoenbaum commented on #828
Documentation is up on this

[2018-10-31 20:21] ndh2 commented on #901
I just spent 90 minutes and recreated 10, so that gives a benchmark.

[2018-10-31 20:28] BryanHurst commented on #901
Okay, lets go ahead and spend 4 hours on working towards the remaining test databases.

[2018-11-01 14:36] missyschoenbaum commented on #895
OK, I think this becomes a question for @ndh2 .  I can find transition state daily X in Results_DailybyProductionType. However, we can't use those fields to calculate transition state cumulative, as a unit would get counted multiple times if it stayed in a disease state more than one day, which is likely.

How was this done for NAADSM?  I can see there is a definition for transition state cumulati

[2018-11-01 14:38] missyschoenbaum commented on #895
Next part of this, all transition state daily need to be removed from the summary report, regardless of getting transition state cumulative in the right place.

[2018-11-01 19:02] missyschoenbaum commented on #901
@BryanHurst I check the timing of our poster.  It is 11/15. If we cannot work through this by then, can we post something to latest link that lets people know we are working towards new release?

[2018-11-01 19:19] BryanHurst commented on #901
We'll push to get everything done by then, but if not we can put a notice up somewhere.

[2018-11-01 19:29] missyschoenbaum commented on #891
Found a hangup with this, but it is minor.  It is OK for the check box on the Vaccination to be disabled, but users would still need to access the parameters within vaccination.  They can, and can apply changes, but the middle panel still looks disabled.

[2018-11-01 19:43] missyschoenbaum commented on #691
@BryanHurst I was testing my work around.  It is very easy to use the advance panel (django window) to make this change.  It saves correctly, and I confirmed it saved by looking at the database in SQL editor.  However, when I run this way (ring target and ring trigger not same production type), no vaccination happens.  Any thoughts other options for work around?

[2018-11-01 20:08] BryanHurst commented on #691
@missyschoenbaum I spent today getting this working UI side. I'm running late for another appointment, so if you have time, can you pull the latest version, check that the database state saves properly with the form and confirm that no vaccination happens still?

If we still aren't getting vaccination, we should ask Neil if there is another coupling of these fields (in the CEngine) that we should

[2018-11-01 20:14] missyschoenbaum commented on #691
Will do

[2018-11-01 20:32] missyschoenbaum opened #903 "No data returned in graphs"
When you have a value that returns as Null (empty), usually because you didn't parameterize for that output, you can get a placeholder in the results view.  See image below.  This is not a problem, just an unexpected results.

![nullimage2](https://user-images.githubusercontent.com/6644604/47878103-1ab22f80-dde3-11e8-809d-cc955eb9f257.JPG)

[2018-11-01 20:34] missyschoenbaum commented on #903
Main purpose of this issue is to document in Known Bugs.

[2018-11-01 20:51] missyschoenbaum commented on #691
@BryanHurst still no vaccination after update.

[2018-11-01 21:56] BryanHurst commented on #891
This is because the value of use_vaccination wasn't being properly saved to the database.

[2018-11-01 22:16] ndh2 commented on #691
Can you post a file on Google Drive for me to look at?

[2018-11-02 02:13] ndh2 commented on #691
I just ran this scenario and I see units in the vaccine immune state.  What outputs are you looking at that say no vaccination is happening?

[2018-11-02 12:05] ndh2 commented on #895
@missyschoenbaum Is getting counted multiple times bad?  I guess it depends on the intended meaning of the variable.  If this variable is like person-hours for work then it makes sense: like if 1 person works 3 hours and another works 5 hours, that's 8-person hours spent working.  Same with this, if 1 unit spends 3 days clinical and another spends 5 days clinical, that's 8 unit-days spent in the c

[2018-11-02 13:57] BryanHurst commented on #691
This may be related to a bug I found on #891 where 'use_vaccination' on ControlProtocol wasn't being saved correctly.

[2018-11-02 14:16] missyschoenbaum commented on #691
OK, I will look at it again. I just looked at the output within the application (map and variable graphs).

[2018-11-02 14:30] missyschoenbaum commented on #691
@BryanHurst  I just went and delete the ring to make sure it would still vaccination with trigger and target the same.  I am now unable to add a production type to either box.  Want a different ticket?

[2018-11-02 14:32] missyschoenbaum commented on #691
I started again from a clean sample, and it does vaccinate.

[2018-11-02 14:59] BryanHurst commented on #691
For some reason it looks like the comments in this thread are out of order based on their timestamp.

What is the current state of things?

[2018-11-02 15:02] missyschoenbaum commented on #895
@ndh2 Either way we go, it will be hard to describe what we have intended.  It's possible for the user to sum all the records if they want the unit-days.    Let's not worry about putting any transition state variables into the summary.   I think that sends this back to @BryanHurst to simply removing the fields in the summary.

[2018-11-02 15:02] BryanHurst commented on #691
So vaccination is working, but you are having an issue with trigger and target input?

[2018-11-02 15:08] missyschoenbaum commented on #691
The current method, which binds the trigger and the target together vaccinates if I start from scratch.

I was attempting a work around using the django panel to change either the trigger or the target.  I am able to do that easily, and confirm it is saved.  However, when I run the sim this way, there is no vaccination that I can observe, even though it appears I have a valid set of parameters.

I

[2018-11-02 15:15] missyschoenbaum commented on #691
OK, I think this was my mistake.  I have a work around in place, so we can just go back to uncoupling fields.

[2018-11-02 15:52] BryanHurst commented on #879
Latest timing of the unit_id migration takes the time from 21 minutes to 0.96 seconds.

[2018-11-02 16:44] josiahseaman commented on #807
@missyschoenbaum In the case where there's an empty table and there's no values for a stddev, would you prefer we output a 0 or None / NaN?

[2018-11-02 17:41] missyschoenbaum commented on #742
This is done and loaded into Example code
-----------------------------------------------------------------------------------------------
--    Sample Query: Results Cost by production type
--    Date:         11/2/2018
--    By:           Schoenbaum, Missy
--
--    Notes: where clause 1=1 allows for easy editing of subsequent clauses
--             -- allows for line to be commented  (omitted)
--

[2018-11-02 17:41] #742 closed

[2018-11-02 17:50] BryanHurst commented on #807
@missyschoenbaum Josiah and I looked at this and moved over to using Python's built in population stddev. Let me know if this is looking better or if the values are just way off now.

[2018-11-02 17:54] BryanHurst commented on #691
The boxes should be un-coupled at this point.

The new help text in the boxes describe the new steps for usage.
This new style of input is also used in other production type selection areas (like Vaccination Triggers)

[2018-11-02 17:58] missyschoenbaum commented on #807
Hi Josiah!  I think NA would be best.

[2018-11-02 18:58] BryanHurst commented on #828
@missyschoenbaum I just realized that we can pre-load queries into this so that users already have examples ready to go.

[2018-11-02 19:59] missyschoenbaum commented on #828
OK, I have been loading them as individual text files into the VX rings branch, Sample Scenario folder.  Just added the Cost by production type this morning.

[2018-11-02 20:38] BryanHurst commented on #807
@missyschoenbaum Can you run this query against the results from that simulation run and ensure that the return matches the following list?

`SELECT adqcU FROM Results_dailybyproductiontype WHERE last_day = 1 and production_type_id is null`
"21,64,44,32,269,43,23,115,0,11,1,49"

[2018-11-02 20:40] BryanHurst commented on #807
OR, can you upload a copy of the database with those results?

[2018-11-02 21:07] missyschoenbaum commented on #807
@BryanHurst Confirmed

[2018-11-02 21:34] missyschoenbaum commented on #879
I got a population to import, but unit ID was not filled. Then I tried importing the legacy scenario for Texas and got this.
![texasfail](https://user-images.githubusercontent.com/6644604/47941677-bc558180-deb4-11e8-8ce8-27c2d936f74b.JPG)

[2018-11-02 21:36] BryanHurst commented on #879
I think something didn't make it into this last build. I'll double check the git state.

[2018-11-02 21:36] missyschoenbaum commented on #879
Texas is already the example directory PopParameter

[2018-11-02 21:37] missyschoenbaum commented on #454
I got the cost query done, so I am closing this.

[2018-11-02 21:37] #454 closed

[2018-11-02 21:57] BryanHurst commented on #879
All the population files that I have will load properly. Can you confirm exactly which files are causing problems currently?

[2018-11-02 22:54] BryanHurst commented on #807
Wow, that is a painstaking one to test.

I ran Example Scenario, then by hand pulled the values for descU, infcU, expcU, and adqcU into excel and calculated the STDEV.P.
Each of them matches the output in the summary csv.

[2018-11-05 14:52] BryanHurst commented on #885
@ConradSelig can you prioritize this one and any other wording/small DB changes. I'll take on the unit_id importing bug.

[2018-11-05 14:53] BryanHurst commented on #691
@missyschoenbaum can you confirm what still needs to be fixed on this one?

[2018-11-05 14:54] BryanHurst commented on #879
@missyschoenbaum can you upload population and parameters files for getting this list index out of bounds error?

[2018-11-05 14:54] missyschoenbaum commented on #691
OK, I will pull an update and check

[2018-11-05 14:55] BryanHurst commented on #807
@missyschoenbaum can you start from a fresh sample scenario on this one? If you still see inconsistencies, please upload the scenario with the results already in the DB.

[2018-11-05 14:56] missyschoenbaum commented on #807
@BryanHurst Will do

[2018-11-05 14:57] BryanHurst commented on #691
There shouldn't be any updates since the end of last week. But my last testing was showing this working as expected. I may need steps to replicate any issues.

It might be good to do today's testing with a fresh install/update and clean workspace.

[2018-11-05 15:20] missyschoenbaum commented on #807
This looks perfect!  I may leave open to try against a bigger sample, but good for now.

[2018-11-05 15:34] missyschoenbaum commented on #879
This is a list of how we test have to this:
new scenario from scratch - using New button that wipes out everything
existing scenario replace population - taking sample and using replace button on pop page
import Legacy scenario - use an xml population and xml parameter file

[2018-11-05 15:52] missyschoenbaum commented on #879
Existing scenario replace population - taking sample and using replace button on pop page.
Here's what I am seeing when I compare app to database. Note that I am not pushing this all the way through to a supplemental file yet.

![879_replace](https://user-images.githubusercontent.com/6644604/48009006-0c605e00-e0d8-11e8-89f5-4c67aa118af2.JPG)

[2018-11-05 16:34] missyschoenbaum commented on #879
New scenario from scratch - using New button that wipes out everything - Sorry, this one takes me longer to get through the process.
On first attempt I got this.
![879_new_atfirst](https://user-images.githubusercontent.com/6644604/48011812-e63dbc80-e0dd-11e8-9a8f-84d89851232b.JPG)
But, I just started and got it to work
![879_next](https://user-images.githubusercontent.com/6644604/48011848-f6ee3280

[2018-11-05 16:58] missyschoenbaum commented on #879
import Legacy scenario - use an xml population and xml parameter file, Neil wrote this
Attempting to get this up in the google drive
Does not pick up unit
![879_legacy](https://user-images.githubusercontent.com/6644604/48013320-46822d80-e0e1-11e8-88ab-e127bbefdfc1.JPG)

[2018-11-05 17:06] missyschoenbaum commented on #879
@BryanHurst I can get in Google drive today, but it is locking up.  If you look in the PopsParameter folder, there are files starting with Texas_, one pop and one parameter.  These should be similar to what is causing out of range, but I will confirm again with exactly those files.

[2018-11-05 17:10] missyschoenbaum commented on #888
I am going to close this ticket as we have the last few in our sights, and I shouldn't get deployed this month.

[2018-11-05 17:10] #888 closed

[2018-11-05 19:57] missyschoenbaum commented on #879
OK, I confirmed that I used the exact pop and parameter that are located in the GitHub, PopsParameter folder, starting with Texas_.  Same issues.
![879_legacy_exact](https://user-images.githubusercontent.com/6644604/48023163-3a569a00-e0fa-11e8-82f0-a30d942d33d5.JPG)

Then when I hit validate, I get yellow screen.

![879_legacy_exact_yellow](https://user-images.githubusercontent.com/6644604/4802319

[2018-11-06 01:17] ConradSelig commented on #746
I added the text in a way that will display regardless of if "Within unit prevalence" is checked or not, this is again just so that users dont get confused by elements coming and going.

[2018-11-06 01:19] ConradSelig commented on #683
I check everything in this ticket and it looks like all the changes have already been migrated, not sure if I am missing something extra that needed to be done or this one just slipped the testing stage.

[2018-11-06 01:58] missyschoenbaum commented on #879
@BryanHurst I uploaded a smaller sample that is zipped that also gives this error. It should load faster than the big Texas files.

[2018-11-06 15:44] BryanHurst commented on #879
Note to self: Need to account for opening db with existing import and user_notes

[2018-11-06 16:29] BryanHurst commented on #879
Okay, all cases look good now except the legacy import. Something is definitely not happening correctly there.

[2018-11-06 16:39] BryanHurst commented on #879
Found a case in xml2sqlite (used for legacy import) where the user_notes field was dropped if the whole thing wasn't able to be converted to a unit_id.

[2018-11-06 16:43] BryanHurst commented on #879
Note: You no longer have to open the Population page to make the user_notes to unit_id conversion happen. It does it smartly on load.

[2018-11-06 17:18] BryanHurst opened #904 "Beta Build 3.5.9.x Testing"
Vaccination Rings has been merged back into master and built as a Beta release.

We should do all testing in the Beta Build application.
Remember that you will now have a new Workspace folder called "ADSM Beta Workspace".

Merging into master removed the security warning on GitHub. Developers should keep an eye out for any future security warnings due to outdated/vulnerable package requirements in

[2018-11-06 17:19] BryanHurst commented on #904
It might be useful to know the changes from the last Production build to this Beta release candidate.

https://github.com/NAVADMC/ADSM/compare/v3.3.8.6...v3.3.9.17-beta

[2018-11-08 18:05] ndh2 commented on #901
@BryanHurst fixed test databases should be committed to master now?

[2018-11-08 18:16] BryanHurst commented on #901
I haven't merged the vaccination rings branch to master in the CEngine repo yet, so you can go ahead and commit to the other branch and merge when you see fit.

[2018-11-08 18:52] missyschoenbaum commented on #879
Test from replace works fine from start to finish. Got blue screen image with different population.

[2018-11-08 19:01] BryanHurst commented on #879
@missyschoenbaum is a blue screen image a good or bad thing? I'm not sure what that is.

[2018-11-08 19:58] missyschoenbaum commented on #879
Import is failing as something new.  Will open a new ticket.

[2018-11-08 20:04] missyschoenbaum opened #905 "Import Legacy complete, but no forward progress"
When I was testing #879, I imported a legacy scenario.  The import went through the process and seemed to complete as expected. It leaves me on the Scenario description screen.  I was able to edit and add a Disease name on the Disease Screen.  However, when I attempt to validate, nothing happens.  I closed and reopened, and still nothing happened.  Here's the cmd window before I restarted.![879_le

[2018-11-08 20:04] missyschoenbaum commented on #905
Here's cmd after I restarted, slightly different message
![879_legacy_exitcode_0_2](https://user-images.githubusercontent.com/6644604/48224409-df6dae80-e356-11e8-862c-c07f376eb3cd.JPG)

[2018-11-08 20:13] BryanHurst commented on #905
The command lines output looks like everything is in good order. I'll see if I can replicate on this end.

[2018-11-08 21:46] missyschoenbaum commented on #879
@BryanHurst The blue screen is like #896.

[2018-11-08 22:42] missyschoenbaum opened #906 "Population Import accepts ID field but fails"
I was testing today with the new UnitID fields. If the user make the pop file correctly, with the field name UnitID, the import works.  However, if the user leaves the field name as ID, the unit_id is not filled and there's no indication that something went wrong.  I'm willing to do whatever option is easiest, either fail with a message, or change the field to accept ID or UnitID.

[2018-11-09 14:47] missyschoenbaum opened #907 "Can't Create a file that exists"
I'm putting this in a clean ticket, but it may be related to #879

Yesterday, I was in a place where the app was not responding.  This morning when I tried to open, I got this instead.

![fileexists](https://user-images.githubusercontent.com/6644604/48268971-afc0b400-e3f3-11e8-9059-ab674e8cba26.PNG)

[2018-11-09 18:21] BryanHurst commented on #905
To attempt to replicate this, I created a new "Import NAADSM Legacy Scenario".
I selected SampleSpace_XML_para.xml and SampleSpace_XML_pop.xml for the import.
From there, I did three tests (re-importing between each):

1. Edit disease name, apply, open another tab, validate.
1. Edit disease name, apply, validate.
1. Validate

In each case after about 10 seconds I received this screen after clickin

[2018-11-09 18:32] BryanHurst commented on #905
Since #907 is blocking you, I pushed an un-versioned compile with a potential fix for that issue. You will need to run the NPU manually if you can't open the application.

[2018-11-09 18:35] missyschoenbaum commented on #907
Update fixed this.

[2018-11-09 18:35] #907 closed

[2018-11-09 18:38] missyschoenbaum commented on #905
Let me exercise through this again and see what happens.

[2018-11-09 18:43] missyschoenbaum commented on #905
OK, this time I made it through as expect.  Let me load Texas up just to confirm a bigger files works as expected.

[2018-11-09 18:58] missyschoenbaum commented on #905
Texas seems to be the hangup.  Try this with Texas, which is in the Github under PopParms. It takes 10 minutes or so to load.  I am letting mine sit for a few minutes to see if it is still processing something;
replicate this, I created a new "Import NAADSM Legacy Scenario".
I selected Texas_nodepop.xml and Texa_pop_Y.xml for the import.

It did import, and I attempted to add Disease, name, then h

[2018-11-09 19:00] BryanHurst commented on #906
This should not accept either 'id' or 'unitid'.

[2018-11-09 19:05] missyschoenbaum commented on #906
What should it accept?  I will fix the documentation.

[2018-11-09 19:06] BryanHurst commented on #906
Sorry, that was a phone typo. This should "now" accept either 'id' or 'unitid'

[2018-11-09 19:12] missyschoenbaum commented on #906
Perfect, documentation is good then. I will run through it again.

[2018-11-09 19:16] missyschoenbaum commented on #905
I was able to hit the Save button (upper right), and it saved.  But, my change to disease, name has still not applied, I can't change to a different screen, and Validate gives me this image:
![engineexitcode0](https://user-images.githubusercontent.com/6644604/48283264-3cca3400-e419-11e8-832c-b24c58c8bf7f.PNG)

[2018-11-09 19:21] missyschoenbaum commented on #879
I checked the data on the import and it worked.  Let me confirm that all 3 cases work again and we should be good.

[2018-11-09 19:51] BryanHurst commented on #905
Okay, I am seeing this issue with the larger scenario.
It looks like it is working on something in the background still, I'll let it go for a while and see if it completes.

There might be a new validation that we introduced that is taking a long time on larger data sets. I'll have to profile it.

[2018-11-09 20:39] missyschoenbaum commented on #905
Or if we need to skip the validation for now, that would also be a work around.

[2018-11-09 20:50] missyschoenbaum commented on #885
Looks good

[2018-11-09 20:50] #885 closed

[2018-11-09 21:03] BryanHurst commented on #905
Okay, brought this validation back down to sub second.

[2018-11-09 21:05] missyschoenbaum commented on #746
Looks perfect

[2018-11-09 21:05] #746 closed

[2018-11-09 21:06] missyschoenbaum commented on #905
Will test

[2018-11-09 21:15] missyschoenbaum commented on #905
Looks good!  Will continue with other testing.

[2018-11-09 21:15] #905 closed

[2018-11-09 21:42] missyschoenbaum commented on #879
Made it through all three cases again. Will move on to #880.

[2018-11-09 21:42] #879 closed

[2018-11-09 21:48] missyschoenbaum commented on #880
Looks good.

[2018-11-09 21:48] #880 closed

[2018-11-09 21:50] missyschoenbaum commented on #872
Looks great

[2018-11-09 21:50] #872 closed

[2018-11-09 22:03] missyschoenbaum commented on #807
Ran a second time. Looks good.

[2018-11-09 22:04] missyschoenbaum commented on #691
Worked perfectly.

[2018-11-09 22:04] #691 closed

[2018-11-09 22:11] missyschoenbaum commented on #683
This was a really small change, but changes how people understand the simulation.  ADMS can't model at animal level, so we can't say that it does.
Change animal to unit on both the direct spread and indirect spread
On ScenarioCreator_directspread change
latent_animals_can_infect_others to latent_units_can_infect_others
subclinical_animals_can_infect_others to subclinical_units_can_infect_others
On

[2018-11-09 22:13] missyschoenbaum commented on #851
Occasionally, this is still quirky, but I can't give exact steps to recreate.  I will keep working on it.

[2018-11-09 22:17] missyschoenbaum commented on #906
This looks great.

[2018-11-09 22:17] #906 closed

[2018-11-11 23:14] ndh2 commented on #901
Hi Bryan,

I've hit 4 hours of time--the status:

   1. All of the test cases that didn't migrate have now been re-created.
   2. There are a few that don't pass.  I think it's because we decided to
   make "round robin" priority an "always-on" thing instead of an option.
    (Round robin is explained here
   <https://github.com/NAVADMC/ADSM/wiki/RFC-20121101:-New-Vaccination-Priorities>.)
    Som

[2018-11-11 23:17] ndh2 commented on #901
I've hit 4 hours of time--the status:

1. All of the test cases that didn't migrate have now been re-created.
2. There are a few that don't pass.  I think it's because we decided to make "round robin" priority an "always-on" thing instead of an option.  (Round robin is explained [here](https://github.com/NAVADMC/ADSM/wiki/RFC-20121101:-New-Vaccination-Priorities).)  Some of the test cases were bui

[2018-11-12 17:22] BryanHurst commented on #683
These name changes are in 3.5.9.19

[2018-11-12 17:23] BryanHurst commented on #901
Okay, after making some DB changes in the CEngine, I've merged the rings branch into master and made a new compile.

Everything seems good. I'm not currently setup to run the test suite, so I'll go with your recommendation that we are good to go.

[2018-11-12 17:24] BryanHurst commented on #901
We can address the known failing tests at a later date.

[2018-11-12 23:12] BryanHurst commented on #904
The Beta build has now been promoted to Production: https://github.com/NAVADMC/ADSM/releases/tag/v3.5.9.19

[2018-11-13 18:15] BryanHurst commented on #904
@missyschoenbaum did changing the path to "C:\Users\Mark\Documents\ADSM Production Workspace" fix the issue?

You could also leave it blank if you wanted it to automatically go to "C:\Users\Mark\Documents\ADSM Workspace"

[2018-11-14 03:48] missyschoenbaum commented on #904
Yes, I had to wait for IT to install it on my work PC.    On my home PC, I set a directory and it worked.  I did find that the Sample Scenario is not converting the Unit ID, meaning that Unit ID is blank.  This makes any daily outputs come out will a null value in the ID fields.  I can write a known bug for it.

[2018-11-14 15:37] missyschoenbaum opened #908 "Sample Scenario not converting Unit ID"
The Sample Scenarios provided with the application do not convert the Unit ID. In the 3.5 upgrade, the table ScenarioCreator_unit was reworked to have a explicit Unit ID provided by the user. This allows the user to follow with Unit from input to the results output in the Supplemental Files.

Currently, running Supplemental Files for these 2 Sample Scenarios will output a Null value in the ID fiel

[2018-11-14 15:41] missyschoenbaum commented on #904
I put in #908 to address this in known bugs.  Is there not a way as we build the databases that we could populate this instead of using a conversion from user_notes to Unit_ID?  It is the same value that is in the ID field in this case.

Import and replace are working fine, so most business cases would be working.

[2018-11-14 15:53] missyschoenbaum commented on #683
Perfect!

[2018-11-14 15:53] #683 closed

[2018-11-14 15:54] missyschoenbaum commented on #808
This has been updated for production release.  Going to close for now.

[2018-11-14 15:54] #808 closed

[2018-11-14 16:59] BryanHurst commented on #908
We'll run a migration on the Sample Scenarios only that copies the ID field over to the unit_id.

[2018-11-14 20:11] BryanHurst commented on #812
The NPU is still suffering from issues when ADSM is installed in a location that the user has restricted permissions. This causes a state where the user is never notified that an update exists unless they manually run the NPU.

[2018-11-14 20:56] BryanHurst commented on #812
@missyschoenbaum I just fixed an issue when running the NPU from within an "installed" version of ADSM.
You'll need to manually run the NPU to get the latest production release.

[2018-11-14 21:02] #901 closed

[2018-11-14 21:05] missyschoenbaum commented on #812
Got it.

[2018-11-15 14:46] BryanHurst commented on #908
You don't have to uninstall/reinstall. You just need to run the NPU manually (which probably requires admin permissions).

[2018-11-15 17:52] missyschoenbaum commented on #908
Looks great!

[2018-11-15 17:52] #908 closed

[2018-11-16 21:13] missyschoenbaum commented on #896
I'm not comfortable with the outputs after all.  It is hard to judge when grabbing an example and trying to apply known parameters in a way that was not well research.  I think we should at least look at how the C engine is interacting with the data.

[2018-11-19 20:47] missyschoenbaum commented on #736
Doing this with R script

[2018-11-19 20:49] missyschoenbaum commented on #840
Item resolved

[2018-11-19 20:56] missyschoenbaum opened #909 "What Maps when no zones are implemented"
Test to see what Maps when no zones are implemented

[2018-11-19 21:13] missyschoenbaum commented on #845
I'm not quite clear on the problem here.

[2018-11-19 21:32] missyschoenbaum commented on #458
This is pretty heavy, and intertwined with project concept. Moving to future features.

[2018-11-19 21:37] missyschoenbaum commented on #371
This would require a database change.

[2018-11-20 16:07] missyschoenbaum commented on #909
If you leave zones and zone effects in the scenario, it still applies them.  If you delete them, your map has no blue circles, but the outcomes map on to the units.  The variables for zones are empty.

![samplenozones](https://user-images.githubusercontent.com/6644604/48786139-6dc12900-eca3-11e8-88be-e08c4b36163c.PNG)

The individual variables act a bit differently that the other empty variables.

[2018-11-20 16:08] #909 closed

[2018-11-20 17:50] missyschoenbaum opened #910 "Sharing parameter blocks"
Josiah and I had discussions long ago about how we might have a method to share parameter blocks.  For example, a way to export all disease parameters, email them to someone, and have the recipient easily upload them into a scenario.

This issue is to hold the question as a research item.

I would see this happening as part of the Functions panel.  Currently the Rel functions can upload a data fil

[2018-11-23 18:09] missyschoenbaum opened #911 "Scenario changes went transferred to someone else"
It was reported that the scenario changed when it was shared as a file.  I will test.

[2018-11-23 21:12] missyschoenbaum commented on #911
Method I am using to test this.  Using R code parameter report.  Hooking it to database, and copy of database with different name.  Generating a word document from each, then using Word's functionality to compare documents.  Simple duplicate done, 1 test passed.

[2018-11-23 21:44] missyschoenbaum commented on #911
Tested 2 more.  Next will try different versions to see what happens.

[2018-11-29 17:00] missyschoenbaum commented on #911
Tried 3 comparisons of function report in same version. That worked fine.

[2018-11-29 20:52] missyschoenbaum commented on #911
Ran both parametere and functions using UT scenario from beta vs production. Probably not very different structure, but the best I have.  No changes found.

[2018-11-29 20:52] missyschoenbaum commented on #911
Going to call this one good with what I have.

[2018-11-29 20:52] #911 closed

[2018-11-30 17:46] missyschoenbaum opened #912 "Overlay - Interesting note"
If you are on a tab other than the scenario description and you hit the overlay, the app jumps back to the Scenario description tab.  This was unexpected the first time I did it, but think it happens on purpose, as the overlay is specific to the one screen.

Oops, I think the buggy part is that it doesn't let you navigate away if the overlay is on.

I think I will add a note in known bugs, just in

[2018-11-30 18:36] missyschoenbaum commented on #892
A best case on this might be to have more than one icon. For example, if I wanted to build a population for endemic disease, I would start most of the units in immune (vx or natural). That would be useful to see as a distinct state. @lkholmstrom do you have any images that might help us understand this better?

[2018-12-07 17:32] missyschoenbaum opened #913 "Failure to install - error -102"
Failed to load URL http://127.0.0.1:8000/ with error (-102).  **This is currently in progress.**

Error 102 is a message generated by the Chrome Browser that is embedded with the ADSM application. This error happens when the browser cannot connect to the server running in the black terminal window that opens with the ADSM application.

Usually this happens because of a firewall that is blocking lo

[2018-12-11 15:01] missyschoenbaum commented on #896
Can we let Conrad look at this?

[2018-12-19 15:12] BryanHurst commented on #913
I've obtained a screenshot from the reporter of this bug:
![image](https://user-images.githubusercontent.com/1182469/50228686-c993d600-0365-11e9-96a0-ebbb1b0c2d57.png)

It appears that the Path in the command line is corrupt.
Our current thinking is that this is due to locale/language settings on the user's computer.

[2018-12-19 20:22] missyschoenbaum opened #914 "Typos - Zone Effects"
Found a couple of typos (wrong words) in Zone effects. Text says:
Function the describes direct movement rate
and should say
Function that describes direct movement rate.
Fields are Zone Direct movement and Zone Indirect Movement

[2018-12-19 20:22] missyschoenbaum commented on #914
![typos](https://user-images.githubusercontent.com/6644604/50245948-2789e300-0391-11e9-9af0-dd959ed506dd.PNG)

[2018-12-20 22:09] BryanHurst commented on #913
It is confirmed that this issue is due to language/locale settings in Windows.

[2019-01-12 03:36] ConradSelig commented on #794
Just like the last conditional we did like this one (#746), I added a help text line that is displayed regardless of what option the user has selected. This should keep things clear as to why the field is coming and going.

This change does include a small database migration, but only to remove the redundant help-text attached to the max distance field itself. @missyschoenbaum if you don't like th

[2019-01-28 16:23] missyschoenbaum commented on #914
I would say we fix this before we do the database migration. It should be a quick fix.

[2019-01-29 23:33] ConradSelig commented on #893
This is in a really interesting place right now - I'm blaming it on my own lack of experience working with Jekyll.
Long story short (I can post the details but I believe they are not important anymore) the site is currently working, but does not look very good. However, I am under the belief that the site IS getting the html code from the correct location. My next few commits should be updates to

[2019-01-30 14:48] missyschoenbaum commented on #893
If you need something to post, here's the one page publicity flyer.
[ADSM_OnePage_Info flyer_101518_USAHA.docx.pdf](https://github.com/NAVADMC/ADSM/files/2813037/ADSM_OnePage_Info.flyer_101518_USAHA.docx.pdf)

[2019-01-30 17:09] BryanHurst commented on #913
To fix this, we will need to upgrade Python, Django, and rewrite the deployment mechanism.

[2019-02-02 23:19] ConradSelig commented on #893
Looks like the live version is actually using about.md as the base page, interesting! I'm now looking into a way to either redirect a markdown file to html or get the live version of the site to use index.html as the base page instead.

[2019-02-02 23:38] ConradSelig commented on #893
That got it! Time to spend a bit of time formatting the website so it actually has content.

[2019-02-04 03:43] ConradSelig commented on #893
This is ready for any content to be added.

@missyschoenbaum I'm going to leave you with this thread and add it to testing. I think if we leave it in development as long as we think there will be more content to add it will be in the development pipeline forever. I've sent you an email asking about what pdf files you want to add right away.

[2019-02-04 17:07] missyschoenbaum commented on #893
I posted the one page overview earlier in this issue.  The text is about the same as the text that is posted, but it would let us try posting something.

[2019-02-04 17:44] missyschoenbaum commented on #896
I tried running this apples to apples.  I took the Sample Scenario, replaced the population with the same exact population.  I did not get a blue screen, but I got different results.  This should still be running from the set seed, so they should be consistent.
[BlueScreenApplestoApples.docx](https://github.com/NAVADMC/ADSM/files/2829177/BlueScreenApplestoApples.docx)

[2019-02-04 17:46] missyschoenbaum commented on #896
I think the answers the question as to the error being in the results vs the visualization.  Let me run the parameter report before we take another step to ensure that I didn't mess up a parameter block.

[2019-02-04 17:50] missyschoenbaum commented on #851
I hit this again.  Had changed populations and was re-assigning parameter blocks for disease spread.  Direct and Indirect worked file.  Airborne didn't.  It let me add the source.  On the destination, it would pull down the menu, but would not allow me to interact with either choice. I could work around it by saving the top portion of the block before the spread assignment.  Then it would allow me

[2019-02-04 21:26] missyschoenbaum opened #915 "Replace Population - fine tune triggers, rings and VX priorities"
When we replace the population, all the production type assignments are deleted, as we would expect.

On the Vaccination triggers, rings and priorities, we have a different situation.  The trigger (or ring) still exists, but it doesn't have a production type attached to it.  It is smart that it doesn't, that is the right action.  However, the user doesn't get a visual cue that this has happened.

[2019-02-04 22:03] missyschoenbaum opened #916 "Replace Population - dropping unitID"
When I replace the population, it doesn't put the unitID in the right field. It just drops it.

Steps to recreate
1) Have a sample scenario population file formatted to upload as the replacement file.
2) Go to population, Replace population
It will confirm the delete, and then ask to select a file to replace
Select your properly formatted file.
Allow it to process

Go look at Select * from Scenari

[2019-02-06 17:10] missyschoenbaum commented on #913
Can we put wording in the Readme that addresses the language setting.  For example, ...can be installed on Windows language set = English.....
I'm not sure on the exact wording.

[2019-02-06 17:26] missyschoenbaum commented on #760
Can I do this with R?

[2019-02-07 14:59] lkholmstrom commented on #760
Yes, but I don't see this being import to provide code for.  Users can even do in excel if they really wanted a graphic of a relational function....or just take a screenshot of the app and crop.

[2019-02-11 17:59] missyschoenbaum opened #917 "Stop Vaccination - database level, restart only"
The boolean to indicate if the parameter should be allowed on restart is present on the "Stop Vaccination" trigger.  This doesn't make any sense.  How hard to remove from database?  If difficult, I will just make a note in the data dictionary.

Table Name ScenarioCreator_stopvaccination
Field Name: restart_only

[2019-02-12 15:08] BryanHurst commented on #904
We may need to do some installation testing when the program is not installed in the default location. I have somebody that reported an installer error when going into a folder not under Program Files.

[2019-02-12 15:24] BryanHurst opened #918 "Horizontal Scroll Bar On Deployment"
When using the Viewer application, there is a horizontal scroll bar that doesn't actually scroll any.

The html just needs to be tweaked to size the area properly.

[2019-02-12 15:27] BryanHurst commented on #876
![image](https://user-images.githubusercontent.com/1182469/52646428-f5cc5e80-2e9f-11e9-9d71-9a85e77d4693.png)

[2019-02-12 15:34] BryanHurst opened #919 "Double Header Blurry Text"
Vaccination Global and Destruction Global views seem to have two headers?
If you look at the text "changes are not saved to file..." you can see it is fuzzy because there are two layers of it.
This is especially noticeable when you hover over "Save" and one layer moves slightly but the second doesn't.

![image.png](https://images.zenhubusercontent.com/555e10c54f7a08fbb7f2e729/3286631b-56a2-4ed9-8b

[2019-02-12 15:35] BryanHurst commented on #876
This is confirmed to only be on blank scenarios.

[2019-02-12 15:36] BryanHurst opened #920 "Can't open side menu"
When on the pages Vaccination Global and Destruction Global you cannot open any of the side menu slideouts.

[2019-02-12 15:36] BryanHurst commented on #920
We need to confirm that this doesn't happen in any other locations.

[2019-02-12 15:40] BryanHurst commented on #919
It looks like the left nav menu is also duplicated. You can tell by the text boldness when on these two pages.